.ng-autocomplete {
   width: 100%;
   color: #e3eaef;
   background-color: #252932 !important;
}
.ng-autocomplete .autocomplete-container .input-container .x i{
   color: #e3eaef;
}
.ng-autocomplete .autocomplete-container .input-container input{
   color: #e3eaef !important;
   background-color: #252932 !important;
}
.ng-autocomplete .autocomplete-container .suggestions-container ul li a{
   color: #e3eaef !important;
   background-color: #252932 !important;
}
.ng-autocomplete .autocomplete-container .suggestions-container {
   color: #e3eaef !important;
   background-color: #252932 !important;
}