<div style="position: relative; display: inline-block;">
    <button type="button" style="padding: 1px 6px !important; margin-right: 2px !important;" class="btn"
        [class.btn-outline-secondary]="btnOutline" (click)="togglePopover($event)">
        <i [class]="iconClass"></i>
        <span *ngIf="label" class="ms-1">{{label}}</span>
    </button>

    <div class="popover-container" *ngIf="isOpen">
        <div class="filter-backdrop" (click)="closePopover()"></div>
        <div class="filter-popover" [ngStyle]="popoverPosition">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0">{{ label }}</h6>
                <button *ngIf="showClearButton" type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="onClear()">
                    {{ clearButtonLabel }}
                </button>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>