<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body" style="overflow: auto;">
                  <div class="row justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" onclick="$('#showModal').modal('show')"
                           (click)="showModal = 'Add Product'">
                           <i class="dripicons-plus h4 icon-mx-2"> </i>Add Product
                        </button>
                     </div>
                     <div class="col-4">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-info w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
                              class="uil-search-plus h4 icon-mx-2"></i> Advance Search
                        </button>
                     </div>
                     <div class="col-2">
                        <button type="button" class="btn btn-outline-success" (click)="exportToExcel()"> Export To Excel
                        </button>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{productData.length}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        Under Construction
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="productData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width:60px;">No.</th>
                           <th style="width:110px;">Manage</th>
                           <th *ngIf="settings.document" style="width: 120px;">Document</th>
                           <th style="width: 160px;" class="text-success">Current Status</th>
                           <th style="width:180px;">S/R - P. Code</th>
                           <th *ngIf="settings.purchase_date" style="width:101px;">Purchase Date</th>
                           <th style="width:150px;">Mm</th>
                           <th style="width:180px;">Item - Subitem</th>
                           <th *ngIf="settings.company_name" style="width:150px;">Company - Model</th>
                           <th style="width:100px;">Price</th>
                           <th style="width:100px;">Condition</th>
                           <th style="width:110px;" *ngIf="settings.warranty_period || settings.warranty_from">Warranty
                           </th>
                           <th style="width:180px;" *ngIf="settings.purchased_by || settings.purchase_from">Purchased
                              Detail</th>
                           <!-- <th *ngIf="settings.purchase_from">Purchase From</th> -->
                           <th style="width:180px;" *ngIf="settings.product_detail">Product Detail</th>
                           <th style="width:180px;" *ngIf="settings.accessories">Accessories</th>
                           <th style="width:110px;" *ngIf="settings.nimitt_id">Nimitt</th>
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container *ngFor="let data of productData | search:term; let i=index">
                           <!-- <tr data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + i" aria-expanded="true"
                              [attr.aria-controls]="'#collapse-' + i" class="main-row"> -->
                           <tr>
                              <td>{{i+1}}</td>
                              <td>
                                 <div class="d-flex justify-content-between mb-1">
                                    <button class="btn btn-sm btn-primary" type="button" (click)="edit(data)"><i
                                          class="uil uil-pen"></i></button>
                                    <button class="btn btn-sm btn-danger ml-1" type="button"
                                       (click)="delete(i,data._id)"><i class="uil-trash"></i></button>
                                 </div>
                                 <div class="d-flex justify-content-between mb-1">
                                    <button class="btn btn-sm btn-outline-info w-100" type="button"
                                       (click)="viewProduct(data)"><i class="dripicons-view-list mx-1"></i>View</button>
                                 </div>
                              </td>
                              <td *ngIf="settings.document">
                                 <div class="d-flex flex-wrap" *ngIf="data.document && data.document.images"
                                    (click)="viewProduct(data)">
                                    <span class="imageCount">x{{data.document.images.length}}</span>
                                    <img *ngFor=" let img of data.document.images" [src]="baseurl + img" height="25px"
                                       width="25px" alt="image" style="object-fit: cover;">
                                 </div>
                              </td>
                              <td
                                 [ngClass]="{'text-success':data.last_entry_type=='awk', 'text-warning':data.last_entry_type=='jwk'}">
                                 {{data.last_mm_hin ? data.last_mm_hin : data.mm_hin}} <br />
                                 {{data.last_condition_hin ? data.last_condition_hin : data.condition_hin}} <br />
                                 {{data.last_date ? data.last_date : data.purchase_date}}
                              </td>
                              <td *ngIf="data.products.length <= 0">
                                 {{data.qty}} {{data.unit_short}}
                              </td>
                              <td *ngIf="data.products.length">
                                 <ng-container *ngFor="let p of data.products; let j=index">
                                    {{j+1}}. {{p.sr_num?p.sr_num:'N/A'}} -- {{p.product_code?p.product_code:'N/A'}}<br>
                                 </ng-container>
                              </td>
                              <td>{{data.purchase_date}}</td>
                              <td>{{data.mm_id?data.mm_hin:''}} <br /> {{data.mm_eng ? data.mm_eng:'-'}}</td>
                              <td>{{data.item_id?data.item_hin + ' : ' + data.item_eng:'-'}} <br />
                                 {{data.subitem_id? data.subitem_hin + ' : ' + data.subitem_eng:''}}</td>
                              <td *ngIf="settings.company_name">{{data.company_name}} <br /> {{data.model_name}}</td>
                              <td>{{data.price}}</td>
                              <td>{{data.condition_id ? data.condition_hin: ''}}<br />
                                 {{data.condition_id ? data.condition_eng:''}}</td>
                              <td *ngIf="settings.warranty_period || settings.warranty_from">
                                 {{data.warranty_period ? data.warranty_period + 'M' : ''}} <br />
                                 {{data.warranty_from ? 'From : ' + data.warranty_from : ""}}
                              </td>
                              <td *ngIf="settings.purchased_by || settings.purchase_from">
                                 {{data.purchased_by ? 'By : ' + data.purchased_by : ""}}<br />
                                 {{data.purchase_from ? 'From : ' + data.purchase_from : ""}}
                              </td>
                              <td *ngIf="settings.product_detail">{{data.product_detail}}</td>
                              <td *ngIf="settings.accessories">{{data.accessories}}</td>
                              <td *ngIf="settings.nimitt_id">{{data.nimitt_hin}}</td>
                           </tr>
                        </ng-container>
                     </tbody>
                  </table>
               </div>
            </div>

            <h2 class="text-center m-5" *ngIf="!productData.length">No Data!</h2>
         </div>
      </div>
   </div>
</div>



<!-- addItem Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" (click)="closeModal()" class="btn-close" aria-label="Close"></button>
         </div>
         <div class="modal-body">

            <app-product-entry *ngIf="showModal == 'Add Product'" (response)='addProductResponse($event)'>
            </app-product-entry>

            <app-product-entry *ngIf="showModal == 'Edit Product'" (response)='editProductResponse($event)'
               [getData]="editData" [isEdit]="true"></app-product-entry>

            <app-product-view *ngIf="showModal == 'View Product'" [getData]="editData"></app-product-view>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;" (click)="closeModal()">Close</button>
         </div>
      </div>
   </div>
</div>