.sub-row {
   background-color: #4956f108;
}

.main-row {
   background-color: #4e5af421;
   color: #fff;
}

.jwk_row {
   background: #e313c845;
}

.awk_row {
   background: #025b0282;
}

.imageCount {
   position: absolute;
   background-color: #0000003d;
   font-size: small;
   margin: 3px;
}

.file {
   position: relative;
   overflow: hidden;
}

.inputtag {
   position: absolute;
   // font-size: 50px;
   opacity: 0;
   right: 0;
   top: 0;
}


.year-box {
   margin-left: 0.25rem;
   padding-top: 0.3rem;
   font-size: smaller;
   cursor: pointer;
   margin-bottom: 1rem;
}