<div class="row" id="dataViewComponent">
    <div class="card-body">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-2" *ngIf="Type != 'dict'">
                <button class="btn btn-primary w-100" (click)="add()">
                    <i class="dripicons-plus h4 icon-mx-2"> </i>Add {{Type}}
                </button>
            </div>
            <div class="col-2" *ngIf="Type == 'dict'">
                <ng-select class="custom" style="width: 100%;" placeholder="Select Dictionary Type" [clearable]="true"
                    [virtualScroll]="true" (change)="filterDictionary($event)">
                    <ng-option selected="selected" disabled value="">Select Dictionary Type</ng-option>
                    <ng-option *ngFor="let item of dictTypes" [value]="item">{{item}}</ng-option>
                </ng-select>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term" name="search">
                </div>
            </div>
            <div class="col-4 d-flex">
                <button type="button" class="btn btn-success" (click)="openModal('excel_import')"
                    style="font-weight: 700 !important;">
                    <i class="uil uil-arrow-to-bottom"></i> Excel Import
                </button>
                <button type="button" class="btn btn-outline-success mx-2" (click)="exportToExcel()"> Export To
                    Excel
                </button>
                <button *ngIf="Type === 'zone'" type="button" class="btn btn-warning mx-2" (click)="autoAssignZones()"
                    style="font-weight: 700 !important;" title="Reset all zones & states, then auto-create 6 Indian Zones & assign states">
                    <i class="uil uil-sliders-v"></i> Auto Assign Zones
                </button>
                <button type="button" class="btn btn-danger mx-2" (click)="deleteSelected()"
                    *ngIf="selectionService.hasSelection('data-view-' + Type)" style="font-weight: 700 !important;">
                    <i class="uil-trash"></i> Delete Selected
                </button>
            </div>

            <div class="col-1" *ngIf="records">
                <!-- <button type="button" style="font-weight: 700 !important;" class="btn btn-primary mx-3"
                         (click)="mmtype()">Set MM Type = MM</button> -->
                <button type="button" style="font-weight: 700 !important;" class="btn btn-light">Total Count :
                    {{records.length}} </button>
            </div>
        </div>
        <div class="row p-2" style="overflow-y: auto; max-height: 30vw;">
            <table id="datatable-buttons" class="table table-hover table-sticky-header dt-responsive" style="width:98%;"
                appTableSmartCheckbox="data-view-{{Type}}" [selectionData]="records">
                <thead>
                    <tr>
                        <th style="width: 60px;">No.</th>
                        <th style="width: 150px;">Manage</th>
                        <th *ngFor="let row of fields">
                            {{row.title}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of records | search:term; let i=index"
                        [ngClass]="{'highlight': data.hl == true}">
                        <td>{{i+1}}
                            <br>
                            <div class="form-check form-switch" style="cursor: pointer;">
                                <!-- <input type="checkbox" name="hl" class="form-check-input" [checked]=data.hl
                               (change)="highlight($event,data)"> -->
                            </div>
                        </td>
                        <td>
                            <!-- <ng-container *ngIf="Type=='jawak'">
                                <button class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                        class="uil uil-pen"></i></button>
                                <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                        class="uil-trash"></i></button>
                            </ng-container> -->
                            <button *ngIf="!data.lock && (!settings || (settings && settings.edit)) && Type!='dict'"
                                class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button>
                            <button *ngIf="!data.lock && (!settings || (settings && settings.edit))"
                                class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                    class="uil-trash"></i></button>
                            <span
                                *ngIf="(data.lock || (settings && !settings.edit && !settings.delete) && Type!='jawak')"
                                data-toggle="tooltip" title="Protected" class="text-warning mx-1"
                                style="font-size: xx-large;cursor: pointer;line-height: 0px;">
                                <i class="uil-shield-check"></i>
                            </span>
                        </td>
                        <td *ngFor="let row of fields">
                            <ng-container *ngIf="row.title !== 'Qty' || Type !== 'jawak'">
                                <ng-container *ngFor="let col of row.columns;let z = index">
                                    <span *ngIf="z != row.columns.length-1">
                                        {{data[col] ? data[col] + ' : ' : ''}}
                                    </span>
                                    <span *ngIf="z == row.columns.length-1">
                                        {{(data[col] ? data[col]: '')}}
                                    </span>
                                    <br *ngIf="z != 0 && z%2==0" />
                                </ng-container>
                            </ng-container>

                            <!-- Custom Qty Display for Jawak (Identical to Aawak Component Distribution Section) -->
                            <ng-container *ngIf="row.title === 'Qty' && Type === 'jawak'">
                                <span *ngIf="data.is_split === 1 || (data.split_qty !== null && data.split_qty !== undefined && data.split_qty !== data.qty)">
                                    <b class="text-warning font-13">{{data.allocated_qty || data.split_qty}}</b> <small class="text-muted font-11">({{data.qty}} total)</small> {{data.unit_short || ''}}
                                </span>
                                <span *ngIf="!(data.is_split === 1 || (data.split_qty !== null && data.split_qty !== undefined && data.split_qty !== data.qty))">
                                    {{data.qty}} {{data.unit_short || ''}}
                                </span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- edit Modal -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                    <button type="button" (click)="closeModal()" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- edit mm -->
                    <app-mm-entry *ngIf="showModal == 'mm'" (response)='editResponse($event)' [getData]="editData"
                        [isEdit]="isEdit"></app-mm-entry>
                    <!-- country -->
                    <app-country-entry *ngIf="showModal == 'country'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit">
                    </app-country-entry>
                    <!-- state -->
                    <app-state-entry *ngIf="showModal == 'state'" (response)='editResponse($event)' [getData]="editData"
                        [isEdit]="isEdit">
                    </app-state-entry>
                    <!-- zone -->
                    <app-zone-entry *ngIf="showModal == 'zone'" (response)='editResponse($event)' [getData]="editData"
                        [isEdit]="isEdit">
                    </app-zone-entry>
                    <!-- district -->
                    <app-district-entry *ngIf="showModal == 'district'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit">
                    </app-district-entry>
                    <!-- category -->
                    <app-category-entry *ngIf="showModal == 'category'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit">
                    </app-category-entry>
                    <!-- unit -->
                    <app-unit-entry *ngIf="showModal == 'unit'" (response)='editResponse($event)' [getData]="editData"
                        [isEdit]="isEdit">
                    </app-unit-entry>
                    <!-- department -->
                    <app-department-entry *ngIf="showModal == 'department'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit">
                    </app-department-entry>
                    <app-subitem-list-entry *ngIf="showModal == 'subitem_list'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit">
                    </app-subitem-list-entry>
                    <!-- jawak -->
                    <app-jawak-entry *ngIf="showModal == 'jawak'" (response)='editResponse($event)' [getData]="editData"
                        [isEdit]="isEdit">
                    </app-jawak-entry>
                    <!-- support_list -->
                    <app-support-list-entry *ngIf="showModal == 'support_list'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" [list_type]="Type">
                    </app-support-list-entry>
                    <!-- gender -->
                    <app-support-list-entry *ngIf="showModal == 'gender'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="gender">
                    </app-support-list-entry>
                    <!-- mm_type -->
                    <app-support-list-entry *ngIf="showModal == 'mm_type'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="mm_type">
                    </app-support-list-entry>
                    <!-- relation -->
                    <app-support-list-entry *ngIf="showModal == 'relation'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="relation">
                    </app-support-list-entry>
                    <!-- status -->
                    <app-support-list-entry *ngIf="showModal == 'status'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="status">
                    </app-support-list-entry>
                    <!-- aawak_type -->
                    <app-support-list-entry *ngIf="showModal == 'aawak_type'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="aawak_type">
                    </app-support-list-entry>
                    <!-- jawak_type -->
                    <app-support-list-entry *ngIf="showModal == 'jawak_type'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="jawak_type">
                    </app-support-list-entry>
                    <!-- condition -->
                    <app-support-list-entry *ngIf="showModal == 'condition'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="condition">
                    </app-support-list-entry>
                    <!-- aawak_source -->
                    <app-support-list-entry *ngIf="showModal == 'aawak_source'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="aawak_source">
                    </app-support-list-entry>
                    <!-- usage_list -->
                    <app-support-list-entry *ngIf="showModal == 'usage_list'" (response)='editResponse($event)'
                        [getData]="editData" [isEdit]="isEdit" list_type="usage_list">
                    </app-support-list-entry>

                    <app-delete *ngIf='showModal == "delete_advance"' [Type]="delType" [ID]="delID"
                        (response)="deleteResponse($event)"></app-delete>

                    <!-- excel import -->
                    <app-excel-import *ngIf='showModal == "excel_import"' [importType]="importType"></app-excel-import>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>