<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> {{loadingStatus}} </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <button *ngIf="!bunch_entry" class="btn btn-primary w-100" (click)="openModal('Add Aawak')">
                           <i class="dripicons-plus h4 icon-mx-2"> </i> Aawak
                        </button>
                        <button *ngIf="bunch_entry" class="btn btn-primary w-100"
                           (click)="openModal('Add Bunch Aawak')">
                           <i class="dripicons-plus h4 icon-mx-2"> </i> Aawak
                        </button>
                        <div class="form-check form-checkbox-primary">
                           <input type="checkbox" class="form-check-input" id="chkAutoAwk" [(ngModel)]="bunch_entry">
                           <label class="form-check-label" for="chkAutoAwk">Bunch Entry</label>
                        </div>
                     </div>
                     <div class="col-3">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-info w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
                              class="uil-search-plus h4 icon-mx-2"></i> Advance Search
                        </button>
                     </div>
                     <!-- <div class="col-3">
                        <ng-select class="custom" style="width: 100%;" placeholder="Select MM" [clearable]="true"
                           [virtualScroll]="true"  [(ngModel)]="conditionObj.mm_id" (change)="mmSelected($event)">
                           <ng-option *ngFor="let item of mms" [value]="item._id">
                              {{item.mm_hin}}:{{item.mm_eng}}</ng-option>
                        </ng-select>
                     </div> -->
                     <div class="col-3 d-flex">
                        <div>
                           <button *ngIf="!gs.importPending" class="file btn btn-success"
                              style="font-weight: 700 !important;">
                              <i class="uil uil-arrow-to-bottom"></i> Import Aawak
                              <input type="file" class="inputtag"
                                 accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                 (change)="excelImport($event)" />
                           </button>
                           <button *ngIf="gs.importPending" class="file btn btn-success" (click)="openModal('import')"
                              style="font-weight: 700 !important;">
                              <i class="uil uil-arrow-to-bottom"></i> Import Aawak
                           </button>
                           <div></div>
                        </div>

                        <div>
                           <button type="button" class="btn btn-outline-success dropdown-toggle mx-2"
                              data-bs-toggle="dropdown" aria-expanded="false"> Export To Excel </button>
                           <div class="dropdown-menu">
                              <a class="dropdown-item" (click)="exportAJData()">Distribution</a>
                              <a class="dropdown-item" (click)="exportAawakData()">Aawak Only</a>
                              <a class="dropdown-item" (click)="exportJawakData()">Jawak Only</a>
                              <a class="dropdown-item" (click)="exportPendingData()">Pending Destribution</a>
                           </div>
                           <div class="d-flex">
                              <div class="form-check form-checkbox-primary ms-1"
                                 title="click to merge item & subitem column">
                                 <input type="checkbox" class="form-check-input" id="chkMergeIS"
                                    [(ngModel)]="itemSubitemMerge">
                                 <label class="form-check-label" for="chkMergeIS">Merge</label>
                              </div>
                              <div class="form-check form-checkbox-primary ms-1"
                                 title="click to order by MM & category">
                                 <input type="checkbox" class="form-check-input" id="chkOrderBy" [(ngModel)]="orderBy">
                                 <label class="form-check-label" for="chkOrderBy">Sorting</label>
                              </div>
                           </div>
                        </div>

                     </div>

                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{total_count}}
                        </button>
                        <button *ngIf="selectionService.getSelected('aawak').length" type="button"
                           style="font-weight: 700 !important;" class="btn btn-danger w-100 mt-1">
                           Selected : {{selectionService.getSelected('aawak').length}}
                        </button>
                     </div>
                     <!-- <div class="col-2">
                        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                           aria-expanded="false"> Button 3 </button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">Dropdown link</a>
                           <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        <form #filterForm="ngForm">
                           <div class="row">
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Month</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Month"
                                       [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.month"
                                       name="month">
                                       <ng-option selected="selected" disabled value="">Select Month
                                       </ng-option>
                                       <ng-option value="01">1 : January</ng-option>
                                       <ng-option value="02">2 : February</ng-option>
                                       <ng-option value="03">3 : March</ng-option>
                                       <ng-option value="04">4 : April</ng-option>
                                       <ng-option value="05">5 : May</ng-option>
                                       <ng-option value="06">6 : June</ng-option>
                                       <ng-option value="07">7 : July</ng-option>
                                       <ng-option value="08">8 : August</ng-option>
                                       <ng-option value="09">9 : September</ng-option>
                                       <ng-option value="10">10 : October</ng-option>
                                       <ng-option value="11">11 : November</ng-option>
                                       <ng-option value="12">12 : December</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Year"
                                       [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.year"
                                       name="year">
                                       <ng-option selected="selected" disabled value="">Select Year
                                       </ng-option>
                                       <ng-option [value]="currentYear">{{currentYear}}</ng-option>
                                       <ng-option [value]="currentYear-1">{{currentYear-1}}</ng-option>
                                       <ng-option [value]="currentYear-2">{{currentYear-2}}</ng-option>
                                       <!-- <ng-option [value]="currentYear-3">{{currentYear-3}}</ng-option> -->
                                       <!-- <ng-option [value]="currentYear-4">{{currentYear-4}}</ng-option> -->
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Sewadhari</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                                       [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                                       <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                                       </ng-option>
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;"
                                       placeholder="Select Roll no. or Pbk name" [clearable]="false"
                                       [virtualScroll]="true" [multiple]="true" [(ngModel)]="filterBody.pbk_id"
                                       name="pbk_id" [closeOnSelect]="false">
                                       <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                                       </ng-option>
                                       <ng-option *ngFor="let item of pbks" [value]="item._id">
                                          {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} :
                                          {{item.relation}} :
                                          {{item.relative_name}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Item & Subitem</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Item"
                                       [clearable]="false" [virtualScroll]="true" [(ngModel)]="filterBody.item_id"
                                       (change)="itemSelected($event)" [multiple]="true" name="item_id"
                                       [closeOnSelect]="false">
                                       <ng-option selected="selected" disabled value="">Select Item</ng-option>
                                       <ng-option *ngFor="let item of items" [value]="item._id">{{item.item_hin}} :
                                          {{item.item_eng}} : {{item.item_code}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select SubitemList"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [(ngModel)]="filterBody.subitem_id" name="subitem_id">
                                       <ng-option selected="selected" disabled value="">Select Subitem</ng-option>
                                       <ng-option *ngFor="let item of subitems" [value]="item._id">{{item.subitem_hin}}
                                          :
                                          {{item.subitem_eng}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Condition</label>
                                    <!-- <ng-select class="custom" style="width: 100%;" placeholder="Select Product"
                                       [clearable]="true" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.product_id" name="product_id"
                                       (change)="productSelected($event)">
                                       <ng-option selected="selected" disabled value="">Select Product</ng-option>
                                       <ng-option *ngFor="let item of products" [value]="item._id">{{item.item_hin}} :
                                          {{item.subitem_hin}}
                                          : {{item.product_code ? item.product_code : ''}} : {{item.sr_num ? item.sr_num
                                          : ''}}
                                       </ng-option>
                                    </ng-select> -->
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Condition"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.condition_id"
                                       name="condition_id">
                                       <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                                       <ng-option *ngFor="let item of conditions" [value]="item._id">
                                          {{item.list_name_hin}} :
                                          {{item.list_name_eng}} </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Date & Pkt No</label>
                                    <input type="date" class="form-control" [(ngModel)]="filterBody.date" name="date">
                                    <input type="text" class="form-control mt-1" placeholder="Pkt No."
                                       [(ngModel)]="filterBody.pkt_num" name="pkt_num">
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">State & MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                       [clearable]="true" [virtualScroll]="true" name="mm_state" [multiple]="true"
                                       [closeOnSelect]="true" [(ngModel)]="filterBody.mm_states" #state="ngModel">
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="MM"
                                       [clearable]="true" [virtualScroll]="true" name="mm_id" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.mm_id" #mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>

                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">State & AJ MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                       [clearable]="true" [virtualScroll]="true" name="awk_mm_states" [multiple]="true"
                                       [closeOnSelect]="true" [(ngModel)]="filterBody.awk_mm_states" #state="ngModel">
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Aawak MM"
                                       [clearable]="true" [virtualScroll]="true" name="aj_mm_id" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.aj_mm_id" #aj_mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>


                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Aawak & Jawak Type</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Aawak Type"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.aawak_type_id"
                                       name="aawak_type_id">
                                       <ng-option selected="selected" disabled value="">Aawak Type
                                       </ng-option>
                                       <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                                          {{item.list_name_hin}} : {{item.list_name_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Aawak Type"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.jawak_type_id"
                                       name="jawak_type_id">
                                       <ng-option selected="selected" disabled value="">Aawak Type
                                       </ng-option>
                                       <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                                          {{item.list_name_hin}} : {{item.list_name_eng}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Nimitt & Zone</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Nimitt"
                                       [clearable]="true" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.nimitt_id" name="nimitt_id">
                                       <ng-option selected="selected" disabled value="">Nimitt
                                       </ng-option>
                                       <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                          {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Zone"
                                       [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.zone_id"
                                       [multiple]="true" [closeOnSelect]="false" name="zone_id">
                                       <ng-option selected="selected" disabled value="">Select Zone</ng-option>
                                       <ng-option *ngFor="let item of zones" [value]="item._id">
                                          {{item.zone_hin}} : {{item.zone_eng}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3 text-center">
                                 <button class="btn btn-primary submit mx-2" type="submit"
                                    (click)="getFilteredAawakData()">Filter Aawak</button>

                                 <button class="btn btn-primary submit mx-2" type="submit"
                                    (click)="getFilteredJawakData()">Filter Jawak</button>
                                 <!-- (click)="filterFormSubmit(filterForm.value)">Submit</button> -->
                              </div>
                              <div class="col-md-2 mb-3 text-center">
                                 <button class="btn btn-outline-secondary submit mx-2" type="button" (click)="filterBody= {
                                 type:'aawak',
                                 month:null,
                                 year:null,
                                 date:null,
                                 pbk_id: [],
                                 mm_id: [],
                                 zone_id: [],
                                 aj_mm_id: [],
                                 aawak_type_id: [],
                                 jawak_type_id: [],
                                 product_id: [],
                                 item_id: [],
                                 subitem_id: [],
                                 condition_id: [],
                                 pkt_num:null,
                                 nimitt_id:[]
                               };">Clear All</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">

               <div class="card-body" style="overflow: auto; flex-direction: column;">
                  <div class="row">
                     <div class="col-4 pt-2 d-flex align-items-center gap-1">
                        <span class="badge year-box cursor-pointer"
                           [ngClass]="{'badge-outline-danger':!isDeleting, 'bg-danger': isDeleting}"
                           (click)="deleteMultiple()"
                           title="Click for multiple delete selection & click same again to perform delete.">Delete</span>
                        <app-popover-year [selectedYear]="filterBody.year"
                           (yearChanged)="yearClick($event)"></app-popover-year>
                     </div>
                     <div class="col-8" *ngIf="aawakData.length">
                        <pagination-controls class="pagi text-end" (pageChange)="getAawakPage(page = $event)"
                           [autoHide]="true">
                        </pagination-controls>
                     </div>
                  </div>
                  <div class="table-container" appHorizontalScrollWithArrows [appTableSmartCheckbox]="'aawak'"
                     [selectionData]="aawakData" [showCheckboxes]="isDeleting">
                     <table id="datatable-buttons" class="table table-hover dt-responsive table-sticky-header" #TABLE
                        *ngIf="aawakData.length">
                        <thead>
                           <tr>
                              <th style="width: 25px;" *ngIf="isDeleting">
                                 <div class="form-check form-checkbox-danger mb-2">
                                    <input type="checkbox" class="form-check-input" id="customCheckcolor5"
                                       (change)="deleteSelectAll()">
                                 </div>
                              </th>
                              <th style="width: 50px;">
                                 No.
                                 <input type="checkbox" id="hl_all" data-switch="none"
                                    (change)="hlFilter($event.target)" />
                                 <label for="hl_all" class="chk-sm"></label>
                              </th>
                              <th style="width: 110px;">
                                 Manage
                              </th>
                              <th style="width: 70px;" *ngIf="settings.aawak.pkt_num">Pkt No.</th>
                              <th style="width: 140px;" class="text-start ps-2">
                                <div class="d-flex align-items-center justify-content-between">
                                  <span>Date</span>
                                  <app-popover-filter [btnOutline]="false" iconClass="uil uil-filter" direction="right"
                                    [isOpen]="!!filterBody.date" (clear)="filterBody.date = null; getFilteredAawakData()"
                                    triggerOn="hover">
                                    <input type="date" class="form-control form-control-sm" [(ngModel)]="filterBody.date" (change)="getFilteredAawakData()">
                                  </app-popover-filter>
                                </div>
                              </th>
                              <th style="width: 150px;" *ngIf="auth.webUser.dept_id != 2">Mm</th>
                              <th style="width: 150px;">Aawak Mm</th>
                              <th style="width: 200px;" *ngIf="settings.aawak.pbk_id">Pbk</th>
                              <th style="width: 180px;">Aawak Type / Source</th>
                              <th style="width: 150px;">Category</th>
                              <th style="width: 180px;">Item - Subitem</th>
                              <th style="width: 150px;"
                                 *ngIf="settings.aawak.condition_id || settings.aawak.product_id">
                                 Product</th>
                              <th style="width: 100px;" *ngIf="settings.aawak.company_name">Company</th>
                              <th style="width: 100px;">Qty</th>
                              <th style="width: 100px;" *ngIf="settings.aawak.actual_amt">Actual Amt</th>
                              <th style="width: 120px;" *ngIf="settings.aawak.usage_list_id">Usage List</th>
                              <th style="width: 100px;" *ngIf="settings.aawak.nimitt_id">Nimitt</th>
                              <th style="width: 200px;" *ngIf="settings.aawak.item_detail">Item Detail</th>
                              <th style="width: 100px;" *ngIf="settings.aawak.isbill">IsBill</th>
                              <th style="width: 100px;" *ngIf="settings.aawak.document">Images</th>
                              <th style="width: 200px;" *ngIf="settings.aawak.description">Description</th>
                              <th style="width: 300px;" *ngIf="settings.aawak.enz">Enzyme Container Detail</th>
                           </tr>
                        </thead>
                        <tbody>
                           <ng-container
                              *ngFor="let data of aawakData | search: term | paginate:{itemsPerPage:itemsPerPage,currentPage:page,totalItems:total_count}; let i=index">
                              <tr data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseExample-'+i"
                                 [ngClass]="{'auto':data.is_auto_pd, 'xl':data.is_xl, 'hl':data.hl}"
                                 aria-expanded="true" [attr.aria-controls]="'collapseExample-'+i" class="main-row">
                                 <td *ngIf="isDeleting">
                                    <div class="form-check form-checkbox-danger mb-2">
                                       <input type="checkbox" [(ngModel)]="data.delete" class="form-check-input"
                                          (change)="deleteSelection(i, data._id)">
                                       <!-- <label class="form-check-label" for="customCheckcolor5">Danger Checkbox</label> -->
                                    </div>
                                 </td>
                                 <td>
                                    {{itemsPerPage * (page-1) + i+1}}
                                    <input type="checkbox" [(ngModel)]="data.hl" id="{{'hl_'+data._id}}"
                                       data-switch="none" (change)="hlChanged(data)" />
                                    <label for="{{'hl_'+data._id}}" class="chk-sm"></label>
                                 </td>
                                 <td>
                                    <div class="d-flex justify-content-between mb-1">
                                       <button class="btn btn-sm btn-primary" type="button" (click)="edit(data)"><i
                                             class="uil uil-pen"></i></button><br>
                                       <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"
                                          *ngIf="!data.is_auto_pd"><i class="uil-trash"></i></button>
                                    </div>
                                    <div class="d-flex justify-content-between mb-1">
                                       <!-- <button class="btn btn-sm btn-warning w-100" type="button"
                                       (click)="jawak(data)">Jawak</button> -->
                                       <button *ngIf="data.remaining_qty > 0" class="btn btn-sm btn-warning"
                                          (click)="addJawak(data)">
                                          <i class="mdi mdi-plus noti-icon"></i>
                                       </button>
                                       <button class="btn btn-sm btn-outline-warning" (click)="showJawak(data._id)">
                                          <i class="dripicons-view-list noti-icon"></i>
                                       </button>
                                    </div>
                                 </td>

                                 <td *ngIf="settings.aawak.pkt_num">{{data.pkt_num?data.pkt_num:'-'}}</td>
                                 <td>{{data.date | date:'dd-MM-yyyy'}}</td>
                                 <td *ngIf="auth.webUser.dept_id != 2">
                                    {{data.mm_hin}} - {{data.mm_code}}<br />
                                    {{data.mm_eng}}
                                 </td>
                                 <td>
                                    {{data.aawak_mm_id ? data.aawak_mm_hin+' - '+data.aawak_mm_code:'-'}}<br />
                                    {{data.aawak_mm_eng?data.aawak_mm_eng:''}}
                                 </td>
                                 <td *ngIf="settings.aawak.pbk_id">
                                    <span *ngIf="!data.pbk_id">-</span>
                                    {{data.roll_no ? data.roll_no : '___'}} - {{data.pbk_hin}} <br />
                                    {{data.relation}} {{data.pbk_id ? " - "+data.relative_name: ''}}
                                 </td>
                                 <td>{{data.aawak_type_id?data.aawak_type_hin:''}} /
                                    {{data.aawak_source_id?data.aawak_source_hin:''}} <br />
                                    {{data.aawak_type_eng ? data.aawak_type_eng:''}} / {{data.aawak_source_eng ?
                                    data.aawak_source_eng:''}} </td>
                                 <td>
                                    {{data.categories_hin}} <br />
                                    {{data.categories_eng}}
                                 </td>
                                 <td>
                                    {{data.item_hin}} {{data.subitem_id ? ' : ' + data.subitem_hin : ''}} <br />
                                    {{data.item_eng}} {{data.subitem_id ? ' : ' + data.subitem_eng : ''}}
                                 </td>
                                 <td *ngIf="settings.aawak.condition_id || settings.aawak.product_id">
                                    {{data.product_id ? (data.product_code ? data.product_code : '') + " : " +
                                    (data.sr_num
                                    ? data.sr_num : '') : ''}} <br />
                                    {{data.condition_id ? data.condition_hin + " : "+ data.condition_eng : ''}}
                                 </td>
                                 <td *ngIf="settings.aawak.company_name">
                                    {{data.company_name ? data.company_name : ''}}
                                 </td>
                                 <td>
                                    {{data.qty}} {{data.unit_short}} <br />
                                    <span style="font-weight:bold; color: red;" *ngIf="data.remaining_qty != 0">
                                       बचत: {{data.remaining_qty}}
                                    </span>
                                 </td>
                                 <td *ngIf="settings.aawak.actual_amt">@ {{data.rate?data.rate:'-'}} <br>
                                    = {{data.actual_amt?data.actual_amt:'-'}}</td>
                                 <td *ngIf="settings.aawak.usage_list_id">{{data.usage_list_id ? data.usage_list_hin :
                                    ''}}</td>
                                 <td *ngIf="settings.aawak.nimitt_id">
                                    {{data.nimitt_id?data.nimitt_hin:'-'}}<br />
                                    {{data.nimitt_id? '(' + data.nimitt_state_hin + ')': ''}}
                                 </td>
                                 <td *ngIf="settings.aawak.item_detail">{{data.item_detail?data.item_detail:'-'}}</td>
                                 <td *ngIf="settings.aawak.isbill">{{data.isbill ? 'हाँ' : 'नहीं'}} </td>
                                 <td *ngIf="settings.aawak.document">
                                    <img *ngIf="data.document && data.document.images" (click)="showImages(data)"
                                       [src]="baseurl + data.document.images[0]" height="50px"
                                       style="cursor: pointer; border-radius: 10px;">
                                 </td>
                                 <td *ngIf="settings.aawak.description">{{data.description?data.description:'-'}}</td>
                                 <td *ngIf="settings.aawak.enz">
                                    <div class="d-flex justify-content-between">
                                       <div>
                                          <span class="badge badge-outline-secondary">Awk Src</span>
                                          {{data.enz.container_aawak_source_id?
                                          data.enz.container_aawak_source_hin:'-'}} <br />
                                          <span class="badge badge-outline-secondary">Enz No</span>
                                          {{data.enz.container_enz_no ? data.enz.container_enz_no : ''}}
                                       </div>
                                       <div>
                                          <span class="badge badge-outline-secondary">Capacity</span>
                                          {{data.enz.container_capacity? data.enz.container_capacity + " Ltr":'-'}}
                                          <br />
                                          <span class="badge badge-outline-secondary">Quantity</span>
                                          {{data.enz.container_qty ? data.enz.container_qty + "Ltr": ''}}
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <ng-container *ngIf="data.jawak_detail.length > 0">
                                 <tr class="collapse show ribbon-box">
                                    <td style="border: none;"></td>
                                    <td colspan="11" class="sub-row">
                                       <table class="card-body" style="width: 99.7%;table-layout: fixed;">
                                          <tr>
                                             <th>No.</th>
                                             <th>Date</th>
                                             <th>कहा भेजा</th>
                                             <th>किसको दिया</th>
                                             <th>जावक प्रकार</th>
                                             <th>जावक केटेगरी</th>
                                             <th>परिमाण</th>
                                             <th style="width:0px;">
                                                <div class="ribbon ribbon-secondary text-light float-end"> Destribution
                                                </div>
                                             </th>
                                          </tr>
                                          <tr *ngFor="let jwk of data.jawak_detail; let j = index;">
                                             <td style="width: 80px;">
                                                <i class="uil-corner-down-right"></i>
                                                <span class="mx-1">{{j+1}}</span>
                                                <i class="uil uil-edit-alt mx-1 text-primary"
                                                   (click)="editJawak(i, j)"></i>
                                                <i class="uil uil-trash text-danger"
                                                   (click)="deleteOneJawak(i, j, jwk._id)"></i>
                                             </td>
                                             <td>{{jwk.date | date:'dd-MM-yyyy'}}</td>
                                             <td>{{jwk.jawak_mm_hin}} {{jwk.jawak_mm_code ? "("+jwk.jawak_mm_code+")" :
                                                ''}}</td>
                                             <td>
                                                <span *ngIf="jwk.pbk_id">
                                                   {{jwk.roll_no ? jwk.roll_no : '___'}} - {{jwk.pbk_hin}} <br />
                                                </span>
                                             </td>
                                             <td>{{jwk.jawak_type_hin}}{{jwk.jawak_type_eng ? " : "+jwk.jawak_type_eng :
                                                ''}}</td>
                                             <td>{{jwk.category_hin}}{{jwk.category_eng ? " : "+jwk.category_eng :
                                                ''}}</td>
                                             <td>{{jwk.qty}} {{jwk.unit_short}}</td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                              </ng-container>
                           </ng-container>
                        </tbody>
                     </table>
                  </div>
               </div>
               <pagination-controls class="pagi text-center" (pageChange)="getaawakData(page = $event)"
                  [autoHide]="true" *ngIf="aawakData.length">
               </pagination-controls>
            </div>

            <h2 class="text-center m-5" *ngIf="!aawakData.length">No Data!</h2>
         </div>
      </div>
   </div>
</div>



<!-- <ng-template #showModal class="modal" let-c="close" let-d="dismiss">
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
     <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
   </div>
   <div class="modal-body">
     <p>Hello, World!</p>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
   </div>
 </ng-template> -->

<!-- Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <!-- <p>Hello Modal</p> -->
            <app-aawak-entry *ngIf='showModal == "Add Aawak"' [getData]="aawakDraft"
               (response)='addAawakResponse($event)'></app-aawak-entry>

            <app-aawak-entry-new *ngIf='showModal == "Add Bunch Aawak"'
               (response)='addAawakBunchResponse($event)'></app-aawak-entry-new>

            <app-import *ngIf='showModal == "import"' (response)='importResponse($event)'></app-import>

            <app-aawak-entry *ngIf="showModal == 'Edit Aawak'" (response)='editAawakResponse($event)'
               [getData]="editData" [isEdit]="true"></app-aawak-entry>

            <app-jawak-entry *ngIf="showModal == 'Add Jawak'" (response)='addJawakResponse($event)'
               [aawakRef]="editData"></app-jawak-entry>

            <!-- Edit jawak  -->
            <app-jawak-entry *ngIf="showModal == 'Edit Jawak'" (response)='editJawakResponse($event)' [isEdit]="true"
               [getData]="editData"></app-jawak-entry>

            <app-product-view *ngIf="showModal == 'Show Images'" [aawak]="editData"></app-product-view>

            <app-data-view *ngIf="showModal == 'Show Jawak'" [getData]="viewData" Type="jawak"></app-data-view>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>