<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" onclick="$('#showModal').modal('show')"
                           (click)="showModal = 'Add Aawak'">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add Aawak
                        </button>
                     </div>
                     <div class="col-5">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button type="button" class="btn btn-outline-light w-100">Advance Filter
                           <i style="font-weight: 700;" class="dripicons-chevron-down"> </i>
                        </button>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{aawakData.length}}
                           <!-- {{productData? productData.length:''}} -->
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="aawakData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width: 30px;">No.</th>
                           <th style="width: 80px;">Manage</th>
                           <th style="width: 70px;">Pkt No.</th>
                           <th style="width: 101px;">Date</th>
                           <th style="width: 150px;" *ngIf="auth.webUser.dept_id != 2">Mm</th>
                           <th style="width: 150px;">Aawak Mm</th>
                           <th style="width: 200px;" *ngIf="auth.webUser.dept_id != 3">Pbk</th>
                           <th style="width: 120px;">Aawak Type</th>
                           <th style="width: 150px;" >Item - Subitem</th>
                           <th style="width: 200px;" *ngIf="auth.webUser.dept_id != 3">Product</th>
                           <th style="width: 100px;">Qty</th>
                           <th style="width: 100px;">Actual Amt</th>
                           <th style="width: 100px;">Nimmit</th>
                           <th style="width: 200px;">Item Detail</th>
                           <th style="width: 200px;">Description</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of aawakData | filter:term; let i=index">
                           <td>{{i+1}}</td>
                           <td>
                              <button class="btn btn-sm btn-primary mb-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button><br>
                              <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                    class="uil-trash"></i></button>
                           </td>

                           <td>{{data.pkt_num?data.pkt_num:'-'}}</td>
                           <td>{{data.date?data.date:'-'}}</td>
                           <td *ngIf="auth.webUser.dept_id != 2">
                              {{data.mm_hin}} - {{data.mm_code}}<br />
                              {{data.mm_eng}}
                           </td>
                           <td>
                              {{data.aawak_mm_hin}} - {{data.aawak_mm_code}}<br />
                              {{data.aawak_mm_eng}}
                           </td>
                           <td *ngIf="auth.webUser.dept_id != 3">
                              {{data.pbk_hin}} <br />
                              {{data.relation}} {{data.pbk_id ? " - "+data.relative_name: ''}}
                           </td>
                           <td>{{data.aawak_type_id?data.aawak_type_hin +' : '+ data.aawak_type_eng:'-'}}</td>
                           <td>
                              {{data.item_hin}} {{data.subitem_id ? ' : ' + data.subitem_hin : ''}} <br />
                              {{data.item_eng}} {{data.subitem_id ? ' : ' + data.subitem_eng : ''}}
                           </td>
                           <td *ngIf="auth.webUser.dept_id != 3">
                              {{data.product_code ? data.product_code : ''}}
                              {{data.condition_id ? data.condition_hin + " : "+ data.condition_eng : ''}}
                           </td>
                           <td> 
                              {{data.qty}} {{data.unit_short}} <br />
                              <span style="font-weight:bold; color: red;" *ngIf="data.remaining_qty != 0">
                                 बचत: {{data.remaining_qty}}
                              </span>                              
                           </td>
                           <td>@ {{data.rate?data.rate:'-'}} <br>
                              = {{data.actual_amt?data.actual_amt:'-'}}</td>
                           <td>{{data.nimmit?data.nimmit:'-'}}</td>
                           <td>{{data.item_detail?data.item_detail:'-'}}</td>
                           <td>{{data.description?data.description:'-'}}</td>

                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>




<!-- Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-aawak-entry *ngIf="showModal == 'Add Aawak'" (response)='addAawakResponse($event)'></app-aawak-entry>
            <app-aawak-entry *ngIf="showModal == 'Edit Aawak'" (response)='editAawakResponse($event)'
               [getData]="editData" [isEdit]="true"></app-aawak-entry>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>