<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>
<div class="row" id="aawakEntryComponent">
   <div class="card-body">

      <form #f="ngForm">

         <!-- AUto insert aawak by product Aawak Entry Form Start from here -->
         <div class="row" *ngIf="awkfg.is_auto_pd">
            <div class="col-md-12">
               <div class="alert alert-warning bg-light text-dark" role="alert">
                  <strong>Sorry! </strong> ये प्रोडक्ट एंट्री के दौरान ऑटोमैटिक एंट्री हुआ है, इसलिए इसमे सबकुछ चेंज
                  नहीं कर सकते है।
               </div>
            </div>
            <div class="col-md-2 mb-3" *ngIf="settings.aawak.pkt_num">
               <div class="form-group">
                  <label class="form-label">Pkt No.</label>
                  <input type="text" class="form-control" placeholder="पर्ची न." [(ngModel)]="awkfg.pkt_num"
                     name="pkt_num" #pkt_num="ngModel">
               </div>
            </div>

            <div class="col-md-2 mb-3">
               <label for="example-date" class="form-label">Date</label>
               <input class="form-control" id="example-date" type="date" [(ngModel)]="awkfg.date" name="date"
                  #date="ngModel" (focusout)="dateChange()"
                  [ngClass]="{'validation' : (date?.touched || f.submitted) && date.errors?.['required']}" required>
            </div>

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.nimitt_id">
               <div class="form-group">
                  <label class="form-label">Nimitt</label>
                  <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal='Add Nimitt'">+
                     Add</a>
                  <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.nimitt_id" name="nimitt_id" #nimitt_id="ngModel">
                     <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                     <ng-option *ngFor="let item of nimitts" [value]="item._id">
                        {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})
                     </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.pbk_id">
               <div class="form-group">
                  <label class="form-label">Sewadhari</label>
                  <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal = 'Add PBK'">
                     + PBK
                  </a>
                  <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State" [clearable]="true" F
                     [virtualScroll]="true" (change)="stateSelected($event)">
                     <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                     </ng-option>
                     <ng-option *ngFor="let item of states" [value]="item._id">
                        {{item.state_hin}} : {{item.state_eng}}
                     </ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                     [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkfg.pbk_id" name="pbk_id"
                     #pbk_id="ngModel"
                     [ngClass]="{ 'validation': (pbk_id?.touched || f.submitted) && pbk_id.errors?.['required']}"
                     [required]="awkfg.aawak_mm_id === null">
                     <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                     </ng-option>
                     <ng-option *ngFor="let item of pbks" [value]="item._id">
                        {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                        {{item.relative_name}}
                     </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-1 mb-3" *ngIf="settings.aawak.isbill">
               <div class="form-group">
                  <label class="form-label">बिल है?</label>
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" [(ngModel)]="awkfg.isbill"
                        [ngModelOptions]="{standalone: true}">
                  </div>
               </div>
            </div>

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.document">
               <div class="form-group">
                  <!-- <label class="form-label">Image</label> -->
                  <a onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal='Add Image'"
                     class="form-control" style="cursor: pointer;">
                     <i class="uil-image-plus" *ngIf="!imagepath" style="font-size:200%; "></i>
                     <div *ngIf="imagepath && imagepath.length > 0">
                        <img src="{{this.api.getUrl('BASE')+imagepath[0]}}" alt="image" class="rounded m-1"
                           height="48" />
                        x {{imagepath.length}}
                     </div>
                     <i *ngIf="!imagepath || (imagepath && imagepath.length < 1)">Click To Change</i>
                  </a>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.item_detail">
               <div class="form-group">
                  <label class="form-label">Item Details</label>
                  <textarea class="form-control" placeholder="Item Details" [(ngModel)]="awkfg.item_detail"
                     name="item_detail" #item_detail="ngModel"></textarea>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.description">
               <div class="form-group">
                  <label class="form-label">Description</label>
                  <textarea class="form-control" placeholder="विवरण" [(ngModel)]="awkfg.description" name="description"
                     #description="ngModel"></textarea>
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label text-warning">जावक सेक्शन भरने के बाद बटन क्लिक करे।</label>
                  <button class="form-control btn btn-primary submit mx-3" *ngIf="!isEdit" type="submit"
                     (click)="aawakFormSubmit(f)">Submit</button>
                  <button class=" form-control btn btn-warning submit mx-3" *ngIf="isEdit" type="submit"
                     (click)="aawakFormUpdate(f)">Update</button>
                  <!-- <button class="btn btn-light submit mx-3" type="button" (click)="mmForm.reset()">clear</button> -->
               </div>
            </div>

         </div>


         <!-- Aawak Entry Form Start from here -->
         <div class="row" *ngIf="!awkfg.is_auto_pd">
            <div class="col-md-2 mb-3" *ngIf="settings.aawak.pkt_num">
               <div class="form-group">
                  <label class="form-label">Pkt No.</label>
                  <input type="text" class="form-control" placeholder="पर्ची न." [(ngModel)]="awkfg.pkt_num"
                     name="pkt_num" #pkt_num="ngModel" autocomplete="on">
               </div>
            </div>

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.lot_no">
               <div class="form-group">
                  <label class="form-label">Lot No.</label>
                  <input type="text" class="form-control" placeholder="लॉट नं." [(ngModel)]="awkfg.lot_no" name="lot_no"
                     #lot_no="ngModel">
               </div>
            </div>

            <div class="col-md-2 mb-3">
               <label for="example-date" class="form-label">Date</label>
               <input class="form-control" id="example-date" type="date" [(ngModel)]="awkfg.date" name="date"
                  #date="ngModel" (focusout)="dateChange()"
                  [ngClass]="{'validation' : (date?.touched || f.submitted) && date.errors?.['required']}" required>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label"> MM</label>
                  <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal = 'Add MM'">
                     + Add
                  </a>
                  <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.mm_id" name="mm_id" #mm_id="ngModel"
                     [ngClass]="{ 'validation': (mm_id?.touched || f.submitted) && mm_id.errors?.['required']}"
                     required>
                     <ng-option selected="selected" disabled value="">MM</ng-option>
                     <ng-option *ngFor="let item of mms | filterByDate:awkfg.date" [value]="item._id">
                        {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label">Aawak MM</label>
                  <a *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal = 'Add AMM'">
                     + Add
                  </a>
                  <ng-select class="custom" style="width: 100%;" placeholder="Incoming(Aawak) MM" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.aawak_mm_id" name="aawak_mm_id" #aawak_mm_id="ngModel"
                     [ngClass]="{ 'validation': (aawak_mm_id?.touched || f.submitted) && aawak_mm_id.errors?.['required']}"
                     [required]="awkfg.pbk_id === null">
                     <ng-option selected=" selected" disabled value="">Incoming(Aawak) MM</ng-option>
                     <ng-option *ngFor="let item of mms | filterByDate:awkfg.date" [value]="item._id">
                        {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.nimitt_id">
               <div class="form-group">
                  <label class="form-label">Nimitt</label>
                  <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal='Add Nimitt'">+
                     Add</a>
                  <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.nimitt_id" name="nimitt_id" #nimitt_id="ngModel">
                     <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                     <ng-option *ngFor="let item of nimitts" [value]="item._id">
                        {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})
                     </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.pbk_id">
               <div class="form-group">
                  <label class="form-label">Sewadhari</label>
                  <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                     class="btn btn-outline-primary float-end"
                     onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal = 'Add PBK'">
                     + PBK
                  </a>
                  <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State" [clearable]="true" F
                     [virtualScroll]="true" (change)="stateSelected($event)">
                     <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                     </ng-option>
                     <ng-option *ngFor="let item of states" [value]="item._id">
                        {{item.state_hin}} : {{item.state_eng}}
                     </ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                     [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkfg.pbk_id" name="pbk_id"
                     #pbk_id="ngModel"
                     [ngClass]="{ 'validation': (pbk_id?.touched || f.submitted) && pbk_id.errors?.['required']}"
                     [required]="awkfg.aawak_mm_id === null">
                     <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                     </ng-option>
                     <ng-option *ngFor="let item of pbks" [value]="item._id">
                        {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                        {{item.relative_name}}
                     </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="false">
               <div class="form-group">
                  <label class="form-label text-success">Filter Items By</label>
                  <!-- <button type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary float-end"
              onclick="$('#aawakEntryComponent > #showModal').modal('show')"
              (click)="showModal = 'Add Department'">
              + Add
           </button> -->
                  <ng-select *ngIf="departments.length > 0" class="custom" style="width: 100%;"
                     placeholder="Select Department" [clearable]="true" [virtualScroll]="true"
                     (change)="deptSelected($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selDept_id">
                     <ng-option *ngFor="let item of departments" [value]="item._id">{{item.dept_hin}} :
                        {{item.dept_eng}}{{item.dept_code?' : '+item.dept_code:''}}</ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Category" [clearable]="true"
                     [virtualScroll]="true" [(ngModal)]="cat" (change)="catSelected($event)"
                     [ngModelOptions]="{standalone: true}">
                     <ng-option *ngFor="let item of categories" [value]="item._id">{{item.category_hin}} :
                        {{item.category_eng}}</ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label">Item & Subitem</label>
                  <div class="float-end" *ngIf="settings.item.add">
                     <!-- Filter Button with Popover -->
                     <app-popover-filter [isActive]="selDept_id != null || cat != null" (clear)="clearItemFilters()">
                        <div class="mb-2">
                           <label class="form-label" style="font-size: 0.875rem; margin-bottom: 5px;">Department</label>
                           <ng-select *ngIf="departments.length > 0" class="custom" style="width: 100%;"
                              placeholder="Select Department" [clearable]="true" [virtualScroll]="true"
                              (change)="deptSelected($event)" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="selDept_id">
                              <ng-option *ngFor="let item of departments" [value]="item._id">
                                 {{item.dept_hin}} : {{item.dept_eng}}{{item.dept_code?' : '+item.dept_code:''}}
                              </ng-option>
                           </ng-select>
                        </div>

                        <div class="mb-2">
                           <label class="form-label" style="font-size: 0.875rem; margin-bottom: 5px;">Category</label>
                           <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                              [clearable]="true" [virtualScroll]="true" [(ngModel)]="cat" (change)="catSelected($event)"
                              [ngModelOptions]="{standalone: true}">
                              <ng-option *ngFor="let item of categories" [value]="item._id">
                                 {{item.category_hin}} : {{item.category_eng}}
                              </ng-option>
                           </ng-select>
                        </div>
                     </app-popover-filter>
                     <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary"
                        onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal = 'Add Item'">
                        + Item
                     </a>
                     <a type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                        class="btn btn-outline-primary" onclick="$('#aawakEntryComponent > #showModal').modal('show')"
                        (click)="showModal = 'Add Subitem'">
                        + Subitem
                     </a>
                  </div>

                  <ng-select class="custom" style="width: 100%;" placeholder="Select Item" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.item_id" name="item_id" #item_id="ngModel"
                     (change)="itemSelected($event)"
                     [ngClass]="{ 'validation': (item_id?.touched || f.submitted) && item_id.errors?.['required']}"
                     required>
                     <ng-option selected="selected" disabled value="">Select Item</ng-option>
                     <ng-option *ngFor="let item of items | filterByDate:awkfg.date"
                        [value]="item._id">{{item.item_hin}} :
                        {{item.item_eng}} : {{item.item_code}}</ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select SubitemList"
                     [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkfg.subitem_id" name="subitem_id"
                     #subitem_id="ngModel">
                     <ng-option selected="selected" disabled value="">Select Subitem</ng-option>
                     <ng-option *ngFor="let item of subitems | filterByDate:awkfg.date"
                        [value]="item._id">{{item.subitem_hin}} :
                        {{item.subitem_eng}}</ng-option>
                  </ng-select>
               </div>
            </div>

            <!-- product & condition  -->
            <div class="col-md-3 mb-3" *ngIf="settings.aawak.product_id || settings.aawak.condition_id">
               <div class="form-group">
                  <label class="form-label">Product & Condition</label>
                  <div class="float-end">
                     <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary"
                        onclick="$('#aawakEntryComponent > #showModal').modal('show')"
                        (click)="showModal = 'Add Product'">
                        + Product
                     </a>
                  </div>
                  <ng-select class="custom" style="width: 100%;" placeholder="Select Product" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.product_id" name="product_id" #product_id="ngModel"
                     (change)="productSelected($event)" *ngIf="settings.aawak.product_id">
                     <ng-option selected="selected" disabled value="">Select Product</ng-option>
                     <ng-option *ngFor="let item of products" [value]="item._id">
                        {{item.product_code ? item.product_code : ''}} : {{item.sr_num ? item.sr_num : ''}}
                     </ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Condition" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.condition_id" name="condition_id" #condition_id="ngModel"
                     *ngIf="settings.aawak.condition_id">
                     <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                     <ng-option *ngFor="let item of conditions" [value]="item._id">{{item.list_name_hin}} :
                        {{item.list_name_eng}} </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.company_name">
               <div class="form-group">
                  <label class="form-label">Company Name</label>
                  <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="awkfg.company_name"
                     name="company_name" #actual_amt="ngModel">
               </div>
            </div>

            <div class="col-md-2 mb-3" [ngClass]="{'readOnly':awkfg.product_id}">
               <div class="form-group">
                  <label class="form-label">Quantity</label>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Quantity" [(ngModel)]="awkfg.qty" name="qty"
                        #qty="ngModel" (focusout)="qtyclick()" [readonly]="awkfg.product_id"
                        [ngClass]="{ 'validation': (qty?.touched || f.submitted) && qty.errors?.['required']}" required>
                     <span class="input-group-text ml-1 border border-secondary"
                        style="padding: 0px; min-width: 40%;background: #252932;">
                        <ng-select class="custom" style="width: 100%;" placeholder="Unit" [clearable]="true"
                           [virtualScroll]="true" [(ngModel)]="awkfg.unit_id" name="unit_id" #unit_id="ngModel"
                           [readonly]=" awkfg.product_id">
                           <ng-option selected="selected" disabled value="">Unit</ng-option>
                           <ng-option *ngFor="let item of units" [value]="item._id">{{item.unit_short}}</ng-option>
                        </ng-select>
                     </span>
                  </div>
               </div>
            </div>

            <div class="col-md-2 mb-3">
               <div class="form-group">
                  <label class="form-label">Rate</label>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Rate" [(ngModel)]="awkfg.rate" name="rate"
                        #rate="ngModel" (focusout)="rateclick()">
                     <span class="input-group-text"> = {{(awkfg.qty * awkfg.rate).toFixed(2)}}</span>
                  </div>
               </div>
            </div>

            <div class="col-md-2 mb-3">
               <div class="form-group">
                  <label class="form-label">Amount</label>
                  <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="awkfg.actual_amt"
                     name="actual_amt" #actual_amt="ngModel" (focusout)="amntclick()">
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label">Aawak Source & Type</label>
                  <div class="float-end" *ngIf="settings.aawak.aawak_source_id">

                     <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary"
                        onclick="$('#aawakEntryComponent > #showModal').modal('show')"
                        (click)="showModal = 'Add Aawak Source'">
                        + Source
                     </a>
                     <a type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                        class="btn btn-outline-primary" onclick="$('#aawakEntryComponent > #showModal').modal('show')"
                        (click)="showModal = 'Add Aawak Type'">
                        + Type
                     </a>
                  </div>
                  <ng-select class="custom" style="width: 100%;" placeholder="Aawak Source" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.aawak_source_id" name="aawak_source_id"
                     #aawak_source_id="ngModel">
                     <ng-option selected="selected" disabled value="">Aawak Source
                     </ng-option>
                     <ng-option *ngFor="let item of aawak_sources" [value]="item._id">
                        {{item.list_name_hin}} : {{item.list_name_eng}}
                     </ng-option>
                  </ng-select>
                  <ng-select class="custom mt-1" style="width: 100%;" placeholder="Aawak Type" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.aawak_type_id" name="aawak_type_id"
                     #aawak_type_id="ngModel"
                     [ngClass]="{ 'validation': (aawak_type_id?.touched || f.submitted) && aawak_type_id.errors?.['required']}"
                     required>
                     <ng-option selected="selected" disabled value="">Aawak Type
                     </ng-option>
                     <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                        {{item.list_name_hin}} : {{item.list_name_eng}}
                     </ng-option>
                  </ng-select>
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label">Usage List</label>
                  <ng-select class="custom" style="width: 100%;" placeholder="Usage List" [clearable]="true"
                     [virtualScroll]="true" [(ngModel)]="awkfg.usage_list_id" name="usage_list_id"
                     #usage_list_id="ngModel">
                     <ng-option selected="selected" disabled value="">Usage List
                     </ng-option>
                     <ng-option *ngFor="let item of usage_lists" [value]="item._id">
                        {{item.list_name_hin}} : {{item.list_name_eng}}
                     </ng-option>
                  </ng-select>
               </div>
            </div>


            <!-- <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label">Aawak Type</label>
                  <div class="float-end">
                     <a type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                        class="btn btn-sm btn-outline-primary" (click)="setView('aawak_type')"><i
                           class=" dripicons-view-list"></i></a>
                     <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary float-end"
                        (click)="openModal('Add Aawak Type')">+
                        Add</a>
                  </div>
                  
               </div>
            </div> -->

            <div class="col-md-2 mb-3" *ngIf="settings.aawak.document">
               <div class="form-group">
                  <label class="form-label">Image</label>
                  <a onclick="$('#aawakEntryComponent > #showModal').modal('show')" (click)="showModal='Add Image'"
                     class="form-control" style="cursor: pointer;">
                     <i class="uil-image-plus" *ngIf="!imagepath" style="font-size:200%; "></i>
                     <div *ngIf="imagepath && imagepath.length > 0">
                        <img src="{{this.api.getUrl('BASE')+imagepath[0]}}" alt="image" class="rounded m-1"
                           height="48" />
                        x {{imagepath.length}}
                     </div>
                     <i *ngIf="!imagepath || (imagepath && imagepath.length < 1)">Click To Change</i>
                  </a>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.item_detail">
               <div class="form-group">
                  <label class="form-label">Item Details</label>
                  <textarea class="form-control" placeholder="Item Details" [(ngModel)]="awkfg.item_detail"
                     name="item_detail" #item_detail="ngModel"></textarea>
               </div>
            </div>

            <div class="col-md-3 mb-3" *ngIf="settings.aawak.description">
               <div class="form-group">
                  <label class="form-label">Description</label>
                  <textarea class="form-control" placeholder="विवरण" [(ngModel)]="awkfg.description" name="description"
                     #description="ngModel"></textarea>
               </div>
            </div>

            <div class="col-md-1 mb-3" *ngIf="settings.aawak.isbill">
               <div class="form-group">
                  <label class="form-label">बिल है?</label>
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" [(ngModel)]="awkfg.isbill"
                        [ngModelOptions]="{standalone: true}">
                  </div>
               </div>
            </div>

            <div class="col-md-1 mb-3" *ngIf="settings.aawak.is_variable_qty">
               <div class="form-group">
                  <label class="form-label">Variable Qty</label>
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" [(ngModel)]="awkfg.is_variable_qty"
                        [ngModelOptions]="{standalone: true}">
                  </div>
               </div>
            </div>

            <div class="col-md-1 mb-3">
               <div class="form-group">
                  <label class="form-label">Highlight</label>
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" [(ngModel)]="awkfg.hl"
                        [ngModelOptions]="{standalone: true}">
                  </div>
               </div>
            </div>

            <div class="col-md-3 mb-3">
               <div class="form-group">
                  <label class="form-label text-warning">जावक सेक्शन भरने के बाद बटन क्लिक करे।</label>
                  <button class="form-control btn btn-primary w-50 mx-3" *ngIf="!isEdit" type="submit"
                     (click)="aawakFormSubmit(f)">Submit</button>
                  <button class=" form-control btn btn-warning w-50 mx-3" *ngIf="isEdit" type="submit"
                     (click)="aawakFormUpdate(f)">Update</button>
                  <!-- <button class="btn btn-light submit mx-3" type="button" (click)="mmForm.reset()">clear</button> -->
               </div>
            </div>

         </div>
         <div class="row">

            <!-- Jawak Details array -->
            <div class="col-md-12 mb-3" *ngIf="settings.aawak.jawak.visible">
               <div class=" card card-body">
                  <h5 class="card-title">Jawak Details</h5>

                  <button class="btn btn-sm btn-primary" (click)="addJawak()" *ngIf="f.valid">
                     <i class="dripicons-plus h4 icon-mx-2"></i> Jawak
                  </button>
                  <h5 *ngIf="!f.valid" class="d-flex justify-content-center text-danger">Please Complete Aawak Entry
                     First</h5>
                  <table id="tbl" #tbl class="table-sm table-striped table-bordered dt-responsive mt-1">
                     <thead>
                        <tr>
                           <td style="width: 70px;">No.</td>
                           <td style="width: 100px;">Date</td>
                           <td *ngIf="settings.jawak.lot_no">Lot No</td>
                           <td *ngIf="settings.jawak.pkt_num">Pkt num</td>
                           <td>Jawak MM</td>
                           <td *ngIf="settings.jawak.pbk_id">Jawak PBK</td>
                           <td>Item - Subitem</td>
                           <td *ngIf="settings.jawak.condition_id">Condition</td>
                           <td>Quantity</td>
                           <td *ngIf="settings.jawak.rate">Rate</td>
                           <td *ngIf="settings.jawak.actual_amt">Amount</td>
                           <td *ngIf="settings.jawak.aawak_source_id">Aawak Source</td>
                           <td>Jawak Type</td>
                           <td *ngIf="settings.jawak.usage_list_id">Usage List</td>
                           <td *ngIf="settings.jawak.item_detail">Item Detail</td>
                           <td *ngIf="settings.jawak.description">Description</td>
                        </tr>

                     </thead>
                     <tbody>
                        <tr *ngFor="let data of awkfg.jawak_detail; let i = index;">
                           <td>
                              {{i+1}}
                              <i class="uil uil-edit-alt mx-1 text-primary" (click)="editJawak(i)"></i>
                              <i class="uil uil-trash text-danger" (click)="remove(i,data._id)"></i>

                           </td>
                           <td>{{data.date | date:'dd-MM-yyyy'}}</td>
                           <td *ngIf="settings.jawak.lot_no">{{data.lot_no}}</td>
                           <td *ngIf="settings.jawak.pkt_num">{{data.pkt_num ? data.pkt_num : ''}}</td>
                           <td>{{data.jawak_mm_id ? data.jawak_mm_hin : ''}}</td>
                           <td *ngIf="settings.jawak.pbk_id">{{data.pbk_id ? data.roll_no + '-' +
                              data.pbk_hin : ''}}</td>
                           <td>{{data.item_hin}}
                              {{ data.subitem_id ? + ' - ' + data.subitem_hin : ''}}
                           </td>
                           <td *ngIf="settings.jawak.condition_id">{{data.condition_id ?
                              data.condition_hin : ''}}</td>
                           <td>{{data.qty}} {{data.unit_short}}</td>
                           <td *ngIf="settings.jawak.rate">{{data.rate ? data.rate : ''}}</td>
                           <td *ngIf="settings.jawak.actual_amt">{{data.actual_amt ? data.actual_amt :
                              ''}}</td>
                           <td *ngIf="settings.jawak.aawak_source_id">{{data.aawak_source_id ?
                              data.aawak_source_hin : ''}}</td>
                           <td>{{data.jawak_type_id ? data.jawak_type_hin :
                              ''}}</td>
                           <td *ngIf="settings.jawak.usage_list_id ">{{data.usage_list_id ?
                              data.usage_list_hin : ''}}</td>
                           <td *ngIf="settings.jawak.item_detail">{{data.item_detail ? data.item_detail
                              : ''}}</td>
                           <td *ngIf="settings.jawak.description">{{data.description ? data.description
                              : ''}}</td>
                        </tr>
                     </tbody>
                  </table>

               </div>
            </div>

            <!-- Jawak Details array -->
            <div class="col-md-12 mb-3" *ngIf="settings.aawak.jawak.visible">
               <div class=" card card-body">
                  <h5 class="card-title">Jawak Details</h5>
                  <div class="row">

                     <div class="col-md-2 mb-3">
                        <label for="example-date" class="form-label">Date</label>
                        <input class="form-control" id="example-date" type="date" [(ngModel)]="jdate"
                           [ngModelOptions]="{standalone: true}" required>
                     </div>

                     <div class="col-md-3 mb-1">
                        <div class="form-group">
                           <label class="form-label">Jawak MM</label>
                           <ng-select class="custom" style="width: 100%;" placeholder="Jawak MM" [clearable]="true"
                              [virtualScroll]="true" (change)="jwkmmChanged($event)" [(ngModel)]="jmm"
                              [ngModelOptions]="{standalone: true}">
                              <ng-option selected="selected" disabled value="">Jawak MM</ng-option>
                              <ng-option *ngFor="let item of mms" [value]="{ id: item._id, mm_hin: item.mm_hin}">
                                 {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                           </ng-select>
                        </div>
                     </div>

                     <div class="col-md-3 mb-3">
                        <div class="form-group">
                           <label class="form-label">किसको दिया</label>
                           <ng-select class="custom" style="width: 100%;" placeholder="Select Person" [clearable]="true"
                              [virtualScroll]="true" [(ngModel)]="jpbk" [ngModelOptions]="{standalone: true}">
                              <ng-option selected="selected" disabled value="">Select Person</ng-option>
                              <ng-option *ngFor="let item of pbks"
                                 [value]="{id:item._id,roll_no:item.roll_no,pbk_hin:item.pbk_hin,state_hin:item.state_hin}">
                                 {{item.pbk_hin}}{{item.pbk_eng ? ' : '+ item.pbk_eng : ''}}{{' ('+
                                 item.state_hin + ')'}}</ng-option>
                           </ng-select>
                        </div>
                     </div>

                     <div class="col-md-2 mb-1">
                        <div class="form-group">
                           <label class="form-label">Quantity</label>
                           <input type="text" class="form-control" placeholder="Quantity" [(ngModel)]="jqty"
                              [ngModelOptions]="{standalone: true}">
                        </div>
                     </div>

                     <div class="col-md-2 mb-3">
                        <div class="form-group">
                           <label class="form-label">Jawak Type</label>
                           <!-- <div class="float-end">
                              <button type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                                 class="btn btn-sm btn-outline-primary" (click)="setView('aawak_type')"><i
                                    class=" dripicons-view-list"></i></button>
                              <button type="button" style="padding: 1px 6px !important;"
                                 class="btn btn-outline-primary float-end" (click)="openModal('Add Aawak Type')">+
                                 Add</button>
                           </div> -->
                           <ng-select class="custom" style="width: 100%;" placeholder="Jawak Type" [clearable]="true"
                              [virtualScroll]="true" [(ngModel)]="jtype" [ngModelOptions]="{standalone: true}" required>
                              <ng-option selected="selected" disabled value="">Jawak Type
                              </ng-option>
                              <ng-option *ngFor="let item of jawak_types"
                                 [value]="{ id: item._id, list_name_hin: item.list_name_hin}">
                                 {{item.list_name_hin}} : {{item.list_name_eng}}
                              </ng-option>
                           </ng-select>
                        </div>
                     </div>

                     <!-- <div class="col-1 mb-1">
                        <label class="form-label">Clear</label>
                     </div> -->
                  </div>
                  <button type="button" [disabled]="(jmm === null && jpbk === null) || jdate === null || jqty === null"
                     class="btn btn-primary mt-3" (click)="add_jwk()">+ Add</button>
                  <button class="btn btn-sm btn-outline-info" (click)="addJawak()">Add Full Jawak</button>
                  <div class="mt-3 p-2" style="max-height: 200px;overflow-y: auto;">
                     <div class="row mb-2 border-secondary border-bottom"
                        *ngFor="let f of awkfg.jawak_detail;let i=index">
                        <div class="col-md-1">{{i+1}}</div>
                        <div class="col-md-2">{{f.date}}</div>
                        <div class="col-md-2">{{f.jawak_mm_hin}}</div>
                        <div class="col-md-2">{{f.pbk_hin}} ({{f.pbk_state_hin}})</div>
                        <div class="col-md-1">{{f.qty}}</div>
                        <div class="col-md-2">{{f.jawak_type_hin}}</div>
                        <div class="col-md-1">
                           <button class="btn btn-sm btn-light mb-1" style="font-size: small;line-height: 8px;"
                              type="button" (click)="remove(i,f._id)">X</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </form>
   </div>



   <!-- Modal -->
   <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" style="width: 90%;">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
               <button type="button" class="btn-close" onclick="$('#aawakEntryComponent > #showModal').modal('hide')"
                  (click)="showModal = ''" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <!-- Add jawak  -->
               <app-jawak-entry *ngIf="showModal == 'Add Jawak'" (response)='addJawakResponse($event)'
                  [noAPICall]="true" [aawakRef]="editData"></app-jawak-entry>

               <!-- Edit jawak  -->
               <app-jawak-entry *ngIf="showModal == 'Edit Jawak'" (response)='editJawakResponse($event)'
                  [noAPICall]="true" [isEdit]="true" [getData]="editData"></app-jawak-entry>

               <!-- Add State  -->
               <app-state-entry *ngIf="showModal == 'Add State'" (response)="stateAddResponse($event)">
               </app-state-entry>

               <!-- Add Department -->
               <app-support-list-entry *ngIf="showModal == 'Add Department'" (response)='departmentAddResponse($event)'
                  list_type="dept_id"> </app-support-list-entry>

               <!-- Add Item  -->
               <app-item-entry *ngIf="showModal == 'Add Item'" (response)="itemAddResponse($event)"></app-item-entry>

               <!-- Add Subitem  -->
               <app-subitem-entry *ngIf="showModal == 'Add Subitem'" (response)="subitemAddResponse($event)">
               </app-subitem-entry>

               <!-- Add Unit -->
               <app-unit-entry *ngIf=" showModal=='Add Unit'" (response)="unitAddResponse($event)">
               </app-unit-entry>

               <!-- Add MM -->
               <app-mm-entry *ngIf="showModal == 'Add MM'" (response)="mmAddResponse($event)"></app-mm-entry>

               <!-- Add Condition -->
               <app-support-list-entry *ngIf="showModal == 'Add Condition'" (response)='conditionAddResponse($event)'
                  list_type="condition"> </app-support-list-entry>

               <!-- Add PBK -->
               <app-pbk-entry *ngIf="showModal == 'Add PBK'" (response)='pbkAddResponse($event)'>
               </app-pbk-entry>

               <!-- Add Nimitt  -->
               <app-pbk-entry *ngIf="showModal == 'Add Nimitt'" (response)="nimittAddResponse($event)"
                  [isNimitt]="true">
               </app-pbk-entry>

               <!-- Add AMM -->
               <app-mm-entry *ngIf="showModal == 'Add AMM'" (response)='ammAddResponse($event)'>
               </app-mm-entry>

               <!-- Add Product -->
               <app-product-entry *ngIf="showModal == 'Add Product'" (response)='productAddResponse($event)'>
               </app-product-entry>

               <!-- Add Aawak Type -->
               <app-support-list-entry *ngIf="showModal == 'Add Aawak Type'" (response)='aawakTypeAddResponse($event)'
                  list_type="aawak_type">
               </app-support-list-entry>

               <!-- Add Aawak Type -->
               <app-support-list-entry *ngIf="showModal == 'Add Aawak Source'"
                  (response)='aawakSourceAddResponse($event)' list_type="aawak_source">
               </app-support-list-entry>

               <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)" type="aawak">
               </app-files-view>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" style="width: 120px;"
                  onclick="$('#aawakEntryComponent > #showModal').modal('hide')" (click)="showModal = ''">Close</button>
            </div>
         </div>
      </div>
   </div>



   <!-- Data View For Small List -->
   <div class="modal fade" id="dataView" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" style="width: 90%;">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">{{viewType}} DATA-VIEW</h5>
               <button type="button" class="btn-close" onclick="$('#aawakEntryComponent > #dataView').modal('hide')"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <!-- Department List -->
               <app-data-view *ngIf="viewType == 'Department'" [getData]="viewData" Type="dept_id"></app-data-view>

               <!-- Condition List -->
               <app-data-view *ngIf="viewType == 'Condition'" [getData]="viewData" Type="condition"></app-data-view>

               <!-- Unit List -->
               <app-data-view *ngIf="viewType == 'Unit'" [getData]="viewData" Type="unit"></app-data-view>

               <!-- Aawak Type List -->
               <app-data-view *ngIf="viewType == 'aawak_type'" [getData]="viewData" Type="aawak_type"></app-data-view>

            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" style="width: 120px;"
                  onclick="$('#aawakEntryComponent > #dataView').modal('hide')">Close</button>
            </div>
         </div>
      </div>
   </div>

</div>