<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="row" id="stateComponent">
    <div class="card-body">
        <form [formGroup]="stateForm">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">State Name (Hin)</label>
                        <input type="text" class="form-control" placeholder="state Name (Hin)"
                            formControlName="state_hin"
                            [ngClass]="{'validation':stateForm.get('state_hin')?.errors && (stateForm.get('state_hin')?.touched || stateForm.get ('state_hin')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">State Name (Eng)</label>
                        <input type="text" class="form-control" placeholder="state Name (Eng)"
                            formControlName="state_eng"
                            [ngClass]="{'validation':stateForm.get('state_eng')?.errors && (stateForm.get('state_eng')?.touched || stateForm.get ('state_eng')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">Country</label>
                        <button type="button" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end"
                            onclick="$('#stateComponent > #addCountry').modal('show')"
                            (click)="showModal = 'addCountry'">+ Add</button>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Country" [clearable]="false"
                            [virtualScroll]="true" formControlName="country_id"
                            [ngClass]="{'validation':stateForm.get('country_id')?.errors && (stateForm.get('country_id')?.touched || stateForm.get ('country_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Country</ng-option>
                            <ng-option *ngFor="let item of countries" [value]="item._id">
                                {{item.country_hin}} : {{item.country_eng}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <button class="btn btn-primary submit mx-3" *ngIf="!isEdit" type="submit"
                        (click)="stateFormSubmit()">Submit</button>
                    <button class="btn btn-warning submit mx-3" *ngIf="isEdit" type="submit"
                        (click)="stateFormUpdate()">Update</button>
                    <!-- <button class="btn btn-light submit mx-3" type="button" (click)="stateForm.reset()">Clear</button> -->
                </div>
            </div>
        </form>
    </div>

    <!-- AddCountry Modal -->
    <div class="modal fade" id="addCountry" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Country</h5>
                    <button type="button" class="btn-close" onclick="$('#stateComponent > #addCountry').modal('hide')"
                        (click)="showModal = ''" aria-label="Close"></button>
                </div>
                <div class="modal-body" *ngIf="showModal == 'addCountry'">
                    <app-country-entry (response)="countryAddResponse($event)"></app-country-entry>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>