.item{
   background-color: #4e5af421;
   color: #fff;
}
.main-row{
   background-color: #4e5af447;
   color: #fff;
}

.subitem_hl{
   background-color: #727cf54a;
}

.hide{
   display: none;
}

.marked {
   font-weight: 800;
   color: #140a0a;
   border: 0.5px solid #da2534;
   background-color: #f0a8ae;
}