<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <!-- First Row -->
                <!-- Add Button, Search Field, Filter button, Total Count -->
                <div class="row my-2">
                    <div class="col-3 mb-2">

                        <label class="form-label">Select Department</label>
                        <div class="float-end">
                            <button type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                                class="btn btn-sm btn-outline-primary" (click)="setView('View Department')"><i
                                    class=" dripicons-view-list"></i></button>
                            <button type="button" style="padding: 1px 6px !important;"
                                class="btn btn-outline-primary float-end" onclick="$('#showModal').modal('show')"
                                (click)="showModal='Add Department'">+
                                Add</button>
                        </div>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Department"
                            [clearable]="true" [virtualScroll]="true" (change)="deptSelected($event)"
                            [(ngModel)]="dept_id">
                            <!-- <ng-option selected="selected" disabled value="">Select MM States</ng-option> -->
                            <ng-option *ngFor="let item of departments" [value]="item._id">{{item.dept_eng}}
                                :
                                {{item.dept_hin}} : ({{item.dept_code}})</ng-option>
                        </ng-select>
                    </div>

                    <div class="col-2 mt-3 mb-2" *ngIf="dept_id">
                        <button class="btn btn-warning w-100" (click)="saveDeptSettings()">
                            <i class="dripicons-check" style="font-size: large;"> </i>Save
                        </button>
                    </div>
                    <div class="col-2 mt-3 mb-2" *ngIf="dept_id">
                        <button class="btn btn-secondary w-100" (click)="cancel()">
                            <i class="dripicons-check" style="font-size: large;"> </i>Cancel
                        </button>
                    </div>
                    <div class="col-2 mt-3 mb-2" *ngIf="dept_id">
                        <button class="btn btn-success w-100" (click)="downloadDB()">
                            <i class="dripicons-download" style="font-size: large;"> </i> Generate DB
                        </button>
                    </div>
                </div>

                    
                <div class="row" *ngIf="dept_id">
                    <div class="col-md-2 mb-2 mb-sm-0 card card-body">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" [ngClass]="{'active show': dept_id > 2}" id="v-pills-mm-tab"
                                data-bs-toggle="pill" href="#v-pills-mm" role="tab" aria-controls="v-pills-mm"
                                aria-selected="true" *ngIf="dept_id>2">
                                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                <span class="d-none d-md-block">MM
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.mm &&
                                        deptConf.mm.idArr) ?
                                        deptConf.mm.idArr.length - 1: ''}}</span>
                                </span>
                            </a>
                            <a class="nav-link" [ngClass]="{'active show': dept_id == 2}" id="v-pills-pbk-tab"
                                data-bs-toggle="pill" href="#v-pills-pbk" role="tab" aria-controls="v-pills-pbk"
                                aria-selected="false">
                                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                <span class="d-none d-md-block">PBK / Sewadhari
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.pbk &&
                                        deptConf.pbk.idArr) ?
                                        deptConf.pbk.idArr.length - 1: ''}}</span>
                                </span>
                            </a>
                            <a class="nav-link" id="v-pills-category-tab" data-bs-toggle="pill" href="#v-pills-category"
                                role="tab" aria-controls="v-pills-category" aria-selected="false" *ngIf="dept_id>2">
                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                <span class="d-none d-md-block">Category
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.category &&
                                        deptConf.category.idArr) ?
                                        deptConf.category.idArr.length - 1: ''}}</span>
                                </span>
                            </a>
                            <!-- <a class="nav-link" id="v-pills-item-tab" data-bs-toggle="pill" href="#v-pills-item"
                                role="tab" aria-controls="v-pills-item" aria-selected="false" *ngIf="dept_id>2">
                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                <span class="d-none d-md-block">Items
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.item &&
                                        deptConf.item.idArr) ? deptConf.item.idArr.length - 1: ''}}</span>
                                </span>
                            </a> -->
                            <a class="nav-link" id="v-pills-itemmix-tab" data-bs-toggle="pill" href="#v-pills-itemmix"
                                role="tab" aria-controls="v-pills-itemmix" aria-selected="false" *ngIf="dept_id>2">
                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                <span class="d-none d-md-block">Items(New)
                                    <span class="badge bg-primary rounded-pill float-end">
                                        {{((deptConf.item && deptConf.item.idArr) ? deptConf.item.idArr.length - 1: 0) +
                                        ((deptConf.subitem && deptConf.subitem.idArr) ? deptConf.subitem.idArr.length -
                                        1: 0) }}
                                    </span>
                                </span>
                            </a>
                            <!-- <a class="nav-link" id="v-pills-subitem-tab" data-bs-toggle="pill" href="#v-pills-subitem"
                                role="tab" aria-controls="v-pills-subitem" aria-selected="false" *ngIf="dept_id>2">
                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                <span class="d-none d-md-block">Subitem
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.subitem &&
                                        deptConf.subitem.idArr) ? deptConf.subitem.idArr.length - 1: ''}}</span>
                                </span>
                            </a> -->
                            <a class="nav-link" id="v-pills-ajtypes-tab" data-bs-toggle="pill" href="#v-pills-ajtypes"
                                role="tab" aria-controls="v-pills-ajtypes" aria-selected="false" *ngIf="dept_id>2">
                                <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                <span class="d-none d-md-block">Aawak/Jawak Types
                                    <span class="badge bg-primary rounded-pill float-end">{{(deptConf.aj_type &&
                                        deptConf.aj_type.idArr) ? deptConf.aj_type.idArr.length - 1: ''}}</span>
                                </span>
                            </a>
                        </div>
                    </div> <!-- end col-->






                    <div class="col-md-10">
                        <div class="tab-content card card-body" id="v-pills-tabContent">



                            <!-- MM Tab -->
                            <div class="tab-pane fade" [ngClass]="{'active show': dept_id > 2}" id="v-pills-mm"
                                role="tabpanel" aria-labelledby="v-pills-home-tab" *ngIf="dept_id>2"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;">
                                <div class="row">

                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termMM" name="search">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <ng-select class="custom" style="width: 100%;"
                                            placeholder="Select State To Filter MM" [clearable]="true"
                                            [virtualScroll]="true" (change)="stateSelected($event)">
                                            <!-- <ng-option selected="selected" disabled value="">Select MM States</ng-option> -->
                                            <ng-option *ngFor="let item of states" [value]="item._id">{{item.state_hin}}
                                                :
                                                {{item.state_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2" *ngIf="!termMM">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('mm')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 150px;">MM(Hin)</th>
                                                <th style="width: 150px;">MM(Eng)</th>
                                                <th style="width: 100px;">MM Code</th>
                                                <th style="width: 100px;">MM Type</th>
                                                <th style="width: 150px;">Parent MM</th>
                                                <th style="width: 150px;">MM State</th>
                                                <!-- <th style="width: 130px;">Opening Date</th> -->
                                                <th style="width: 200px;">Nimit Name</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; min-height: 400px; overflow-y: auto;">
                                            <tr *ngFor="let data of mms | filter:termMM; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="mmRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.mm_hin}}</td>
                                                <td>{{data.mm_eng}}</td>
                                                <td>{{data.mm_code}}</td>
                                                <td>{{data.dept_id?data.dept_eng :'-'}}</td>
                                                <td>
                                                    {{data.parent_mm_id ? data.parent_mm_hin + ' : ' +
                                                    data.parent_mm_eng +
                                                    ' : ' +
                                                    data.parent_mm_code:'-'}}
                                                </td>
                                                <td>{{data.state_hin}} : {{data.state_eng}}</td>
                                                <!-- <td>{{data.opening_date | date: 'dd-MM-yyyy'}}</td> -->
                                                <td>{{data.nimmit ? data.nimmit:'-'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- Pbk Tab -->
                            <div class="tab-pane fade" [ngClass]="{'active show': dept_id == 2}" id="v-pills-pbk"
                                role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termPbk" name="search">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                            [clearable]="true" [virtualScroll]="true"
                                            (change)="pbkStateSelected($event)">
                                            <ng-option *ngFor="let item of states" [value]="item._id">{{item.state_hin}}
                                                :
                                                {{item.state_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Gender"
                                            [clearable]="true" [virtualScroll]="true"
                                            (change)="pbkGenderSelected($event)">
                                            <ng-option *ngFor="let item of genders" [value]="item.list_name_eng">
                                                {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                                        </ng-select>
                                    </div>

                                    <div class="col-2">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Status"
                                            [clearable]="true" [virtualScroll]="true"
                                            (change)="pbkStatusSelected($event)">
                                            <ng-option *ngFor="let item of statuses" [value]="item.list_name_eng">
                                                {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2" *ngIf="!termPbk">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('pbk')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 250px;">PBK Detail</th>
                                                <th style="width: 100px;">Gender</th>
                                                <th style="width: 100px;">DOB/Age</th>
                                                <th style="width: 150px;">Status</th>
                                                <th style="width: 150px;">State</th>
                                                <th style="width: 150px;">City</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; overflow-y: auto;">
                                            <tr *ngFor="let data of pbks | filter:termPbk; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="pbkRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>
                                                    ({{data.roll_no ? data.roll_no : '___'}})<br />
                                                    {{data.pbk_hin}} : {{data.pbk_eng}} <br />
                                                    {{data.relation}} {{data.relative_name}}
                                                </td>
                                                <td>{{data.gender}}</td>
                                                <td>{{data.birth_date}} <br /> AGE : {{data.age}}</td>
                                                <td>
                                                    {{data.status}}
                                                </td>
                                                <td>{{data.state_hin}} : {{data.state_eng}}</td>
                                                <td>{{data.city_hin}} : {{data.city_eng}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- Category Tab -->
                            <div class="tab-pane fade" id="v-pills-category" role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-settings-tab" *ngIf="dept_id>2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termCat" name="search">
                                        </div>
                                    </div>
                                    <div class="col-2" *ngIf="!termCat">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('category')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 150px;">Category (Hin)</th>
                                                <th style="width: 150px;">Category (Eng)</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; overflow-y: auto;">
                                            <tr *ngFor="let data of categories | filter:termCat; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="categoryRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.category_hin}}</td>
                                                <td>{{data.category_eng}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- New Item Tab -->
                            <div class="tab-pane fade" id="v-pills-itemmix" role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-settings-tab" *ngIf="dept_id>2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termItemmix" name="search">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                                            [clearable]="true" [virtualScroll]="true"
                                            (change)="catItemSelected($event)">
                                            <ng-option *ngFor="let item of categories" [value]="item._id">
                                                {{item.category_hin}} :
                                                {{item.category_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2" *ngIf="!termItemmix ">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('itemmix')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px;">No.</th>
                                                <th style="width: 250px;">Item Name (Hin-Eng)</th>
                                                <th style="width: 180px;">Item Code</th>
                                                <th style="width: 180px;">Default Unit</th>
                                                <th style="width: 180px;">Category</th>
                                                <th style="width: 250px;">Extra Note</th>
                                            </tr>
                                        </thead>
                                        <tbody class="accordion" id="accordionExample">
                                            <ng-container class="accordion-item"
                                                *ngFor="let data of itemmix | filter:termItemmix; let i=index">
                                                <tr data-bs-toggle="collapse" aria-expanded="true"
                                                    [ngClass]="{'highlight': data.chk, 'item': !data.chk}"
                                                    (click)="itemmixRowClicked(i, data.chk, data._id)">
                                                    <td>{{i+1}}</td>
                                                    <!-- <td>
                                                        <button class="btn btn-sm btn-outline-success" type="button"
                                                            (click)="addSubitem(data)"><i class="uil uil-plus"></i></button>
                                                        <button class="btn btn-sm btn-primary mx-1" type="button"
                                                            (click)="edit(data)"><i class="uil uil-pen"></i></button>
                                                        <button class="btn btn-sm btn-danger" type="button"
                                                            (click)="delete(i,data._id)"><i class="uil-trash"></i></button>
                                                    </td> -->
                                                    <td>{{data.item_hin}} : {{data.item_eng?data.item_eng:'-'}}</td>
                                                    <td>{{data.item_code?data.item_code:'-'}}</td>
                                                    <td>{{data.unit_id?data.unit_short + ' : ' + data.unit_full:'-'}}
                                                    </td>
                                                    <td>{{data.category_id?data.category_hin + ' : ' +
                                                        data.category_eng:'-'}}</td>
                                                    <td>{{data.extra_note?data.extra_note:'-'}}</td>
                                                </tr>
                                                <ng-container
                                                    *ngFor="let si of data.subitems | filter:termItemmix;let j=index">
                                                    <ng-container>
                                                        <tr [attr.id]="'collapse-' + i"
                                                            class="accordion-collapse collapse show"
                                                            *ngIf="data.subitems.length > 0"
                                                            aria-labelledby="headingOne"
                                                            (click)="subitemmixRowClicked(i, j, si.chk, data._id, si._id)">
                                                            <td style="border: none;"></td>
                                                            <td colspan="5" [ngClass]="{'subitem_hl': si.chk}">
                                                                <!-- style="background-color: #0acf974d;" -->
                                                                <table class=""
                                                                    style="width: 99.7%;table-layout: fixed;">
                                                                    <tr>
                                                                        <td style="width: 50px;">
                                                                            <i class="uil-corner-down-right pl-4"></i>
                                                                            &nbsp;&nbsp;&nbsp;{{j+1}}
                                                                        </td>
                                                                        <!-- <td style="width: 160px;">
                                                                            <button class="btn btn-sm btn-primary mx-1"
                                                                                type="button"
                                                                                (click)="edit(si, 'subitem')"><i
                                                                                    class="uil uil-pen"></i></button>
                                                                            <button class="btn btn-sm btn-danger"
                                                                                type="button"
                                                                                (click)="deleteSubitem(i, j,si._id)"><i
                                                                                    class="uil-trash"></i></button>
                                                                        </td> -->
                                                                        <td style="width: 250px;" class="nav-item">
                                                                            {{si.subitem_hin +' : '+ si.subitem_eng}}
                                                                        </td>
                                                                        <td style="width: 180px;" class="nav-item">
                                                                            <!-- <b>Item = </b> -->
                                                                            {{si.subitem_code?si.subitem_code_hin + ' :
                                                                            ' +
                                                                            si.subitem_code_eng:'-'}}
                                                                        </td>
                                                                        <td style="width: 180px;" class="nav-item">
                                                                            <!-- <b>Unit = </b> -->
                                                                            {{si.unit_id?si.unit_short + ' : ' +
                                                                            si.unit_full:'-'}}
                                                                        </td>
                                                                        <td style="width: 180px;" class="nav-item">
                                                                            <!-- <b>Category = </b> -->
                                                                            {{si.category_id?si.category_hin + ' : ' +
                                                                            si.category_eng:'-'}}
                                                                        </td>
                                                                        <td style="width: 250px;" class="nav-item">
                                                                            <!-- <b>Extra Note = </b> -->
                                                                            {{si.extra_note?si.extra_note:'N/A'}}
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- Item Tab -->
                            <div class="tab-pane fade" id="v-pills-item" role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-settings-tab" *ngIf="dept_id>2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termItem" name="search">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                                            [clearable]="true" [virtualScroll]="true" (change)="catSelected($event)">
                                            <ng-option *ngFor="let item of categories" [value]="item._id">
                                                {{item.category_hin}} :
                                                {{item.category_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2" *ngIf="!termItem ">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('item')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 150px;">Item (Hin)</th>
                                                <th style="width: 150px;">Item (Eng)</th>
                                                <th style="width: 100px;">Item Code</th>
                                                <th style="width: 100px;">Category</th>
                                                <th style="width: 150px;">Unit</th>
                                                <th style="width: 250px;">Extra Note</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; overflow-y: auto;">
                                            <tr *ngFor="let data of items | filter:termItem; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="itemRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.item_hin}}</td>
                                                <td>{{data.item_eng}}</td>
                                                <td>{{data.item_code}}</td>
                                                <td>{{data.category_hin}} : {{data.category_eng}}</td>
                                                <td>{{data.unit_short}} : {{data.unit_full}}</td>
                                                <td>{{data.extra_note}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- Subitem Tab -->
                            <div class="tab-pane fade" id="v-pills-subitem" role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-settings-tab" *ngIf="dept_id>2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termSubitem" name="search">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                                            [clearable]="true" [virtualScroll]="true"
                                            (change)="subitemCatSelected($event)">
                                            <ng-option *ngFor="let item of categories" [value]="item._id">
                                                {{item.category_hin}} :
                                                {{item.category_eng}}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-3">
                                        <ng-select class="custom" style="width: 100%;" placeholder="Select Item"
                                            [clearable]="true" [virtualScroll]="true" (change)="itemSelected($event)">
                                            <ng-option *ngFor="let item of itemsAll" [value]="item._id">
                                                {{item.item_hin}} :
                                                {{item.item_eng}} ({{item.item_code}} )</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-2" *ngIf="!termSubitem ">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('subitem')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 150px;">Item Name</th>
                                                <th style="width: 150px;">Subitem (Hin)</th>
                                                <th style="width: 150px;">Subitem (Eng)</th>
                                                <th style="width: 100px;">Subitem Code</th>
                                                <th style="width: 100px;">Category</th>
                                                <th style="width: 150px;">Unit</th>
                                                <th style="width: 250px;">Extra Note</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; overflow-y: auto;">
                                            <tr *ngFor="let data of subitems | filter:termSubitem; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="subitemRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.item_hin}} : {{data.item_eng}}</td>
                                                <td>{{data.subitem_hin}}</td>
                                                <td>{{data.subitem_eng}}</td>
                                                <td>{{data.item_code}}</td>
                                                <td>{{data.category_hin}} : {{data.category_eng}}</td>
                                                <td>{{data.unit_short}} : {{data.unit_full}}</td>
                                                <td>{{data.extra_note}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <!-- AJtype tab -->
                            <div class="tab-pane fade" id="v-pills-ajtypes" role="tabpanel"
                                style="max-height: 600px; overflow-y: auto; font-size: small !important; font-weight: normal !important;"
                                aria-labelledby="v-pills-settings-tab" *ngIf="dept_id>2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Here"
                                                [(ngModel)]="termAJType" name="search">
                                        </div>
                                    </div>
                                    <div class="col-2" *ngIf="!termAJType">
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="selectAll('ajtype')">+
                                            Select All</button>
                                    </div>
                                </div>
                                <div class="row mt-3 px-3">
                                    <table id="datatable-buttons" class="table table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 45px;">No.</th>
                                                <th style="width: 100px;">Type</th>
                                                <th style="width: 150px;">Name (Hin)</th>
                                                <th style="width: 150px;">Name (Eng)</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 500px; overflow-y: auto;">
                                            <tr *ngFor="let data of ajtypes | filter:termAJType; let i=index"
                                                [ngClass]="{'highlight': data.chk == true}"
                                                (click)="ajtypeRowClicked(i, data.chk, data._id)">
                                                <td>{{i+1}}</td>
                                                <td>{{data.list_type}}</td>
                                                <td>{{data.list_name_hin}}</td>
                                                <td>{{data.list_name_eng}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div> <!-- end tab-content-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->



                <!-- <div class="row" *ngIf="deptData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width: 45px;">No.</th>
                           <th style="width: 120px;">Manage</th>
                           <th style="width: 150px;">Department (Eng)</th>
                           <th style="width: 150px;">Department (Hin)</th>
                           <th style="width: 100px;">Department Code</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of deptData | filter:term; let i=index">
                           <td>{{i+1}}</td>
                           <td>
                              <button class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button>
                              <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                    class="uil-trash"></i></button>
                           </td>
                           <td>{{data.dept_hin}}</td>
                           <td>{{data.dept_eng}}</td>
                           <td>{{data.dept_code}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div> -->
            </div>
        </div>
    </div>
</div>












<!-- add Department Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-department-entry *ngIf="showModal == 'Add Department'" (response)='addDeptResponse($event)'>
                </app-department-entry>
                <!-- <app-department-entry *ngIf="showModal == 'Edit Department'" (response)='editDeptResponse($event)'
                    [getData]="editData" [isEdit]="true"></app-department-entry> -->

                <app-data-view *ngIf="showModal == 'View Department'" [getData]="viewData" Type="department">
                </app-data-view>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width: 120px;"
                    onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
            </div>
        </div>
    </div>
</div>