<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> {{loaderStatus}} </p>
</ngx-spinner>

<div class="row" id="{{'deleteComponent'+Type}}">

    <div class="card-body">
        <div class="row" style="margin-bottom: 10px;">

            <ng-container *ngIf="!canDelete">
                <div class="col-6">
                    <div class="d-flex flex-wrap gap-2 rounded">
                        <ng-container *ngFor="let table of relatedTables">
                            <button class="btn" (click)="configureFields(table)"
                                [ngClass]="{'btn-primary': selectedTable === table, 'btn-outline-primary': selectedTable != table}"
                                *ngIf="relatedData[table] && relatedData[table].length > 0">
                                {{table}}
                                <span class="translate-middle bell badge rounded-pill bg-info">
                                    {{relatedData[table+'_count']}}
                                </span>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div class="col-4 text-warning">
                    &lt;= इस टेबल मे मौजूद डाटा को एडिट या डिलीट करने के बाद ही {{Type}} को डिलीट कर सकते है। </div>
                <div class="col-2">
                    <button class="btn btn-outline-info" (click)="getRelatedData()">
                        <i class="uil uil-refresh"></i>Refresh
                    </button>
                </div>
            </ng-container>

            <!-- Generic Transfer Panel -->
            <ng-container *ngIf="transferList && transferList.length > 0 && !canDelete">
                <div class="col-12 mt-2">
                    <div class="card border-warning p-2">
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <span class="text-warning fw-bold">
                                <i class="uil uil-exchange"></i> Transfer to:
                            </span>
                            <ng-select class="custom" style="width: 100%; max-width: 400px;"
                                placeholder="-- Select Target --" [clearable]="true" [virtualScroll]="true"
                                [selectOnTab]="true" [(ngModel)]="targetID">
                                <ng-option *ngFor="let m of transferList" [value]="m._id">
                                    <span *ngIf="m.mm_hin">{{m.mm_hin}}</span>
                                    <span *ngIf="m.item_hin">{{m.item_hin}}</span>
                                    <span *ngIf="m.subitem_hin">{{m.subitem_hin}}</span>
                                    <span *ngIf="m.list_name_hin">{{m.list_name_hin}}</span>
                                    <span *ngIf="m.mm_eng || m.item_eng || m.subitem_eng || m.list_name_eng"> : </span>
                                    <span *ngIf="m.mm_eng">{{m.mm_eng}}</span>
                                    <span *ngIf="m.item_eng">{{m.item_eng}}</span>
                                    <span *ngIf="m.subitem_eng">{{m.subitem_eng}}</span>
                                    <span *ngIf="m.list_name_eng">{{m.list_name_eng}}</span>
                                    <span *ngIf="m.mm_code"> : {{m.mm_code}}</span>
                                    <span *ngIf="m.item_code"> : {{m.item_code}}</span>
                                </ng-option>
                            </ng-select>
                            <button class="btn btn-sm btn-warning" (click)="transferReferences()"
                                [disabled]="transferring || !targetID">
                                <i class="uil uil-arrow-right"></i>
                                {{ transferring ? 'Transferring...' : 'Transfer All' }}
                            </button>
                            <small class="text-muted">Moves all related entries to selected target.</small>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="canDelete">
                <div class="col-4 text-warning">
                    Are You Sure? इसे वापस नहीं लाया जा सकता, क्या आप डिलीट करना चाहते है? </div>
                <div class="col-2">
                    <button class="btn btn-outline-danger" (click)="finalDelete()">
                        <i class="uil uil-trash"></i>Confirm Delete
                    </button>
                </div>
            </ng-container>

            <div class="row p-2" style="overflow-y: auto; max-height: 30vw;" *ngIf="!canDelete">
                <div class="col-12 d-flex justify-content-between mb-2">
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteSelected()" *ngIf="selectionService.hasSelection(selectedTable)" title="Delete Selected">
                        <i class="uil uil-trash"></i> Selected
                    </button>
                    <pagination-controls id="del-pagi" (pageChange)="page = $event" [autoHide]="true"
                        size="small"></pagination-controls>
                </div>
                <table id="datatable-buttons" class="table table-hover dt-responsive" style="width:98%;" [appTableSmartCheckbox]="selectedTable" [selectionData]="relatedData[selectedTable]">
                    <thead>
                        <tr>
                            <th style="width: 60px;">No.</th>
                            <th style="width: 150px;">Manage</th>
                            <th *ngFor="let row of fields">
                                {{row.title}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of relatedData[selectedTable] | search:term | paginate: { id: 'del-pagi', itemsPerPage: itemsPerPage, currentPage: page }; let i=index"
                            [ngClass]="{'highlight': data.hl == true}" [attr.data-id]="data._id">
                            <td>{{(page - 1) * itemsPerPage + i + 1}} </td>
                            <td>
                                <button class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                        class="uil uil-pen"></i></button>
                                <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                        class="uil-trash"></i></button>
                            </td>
                            <td *ngFor="let row of fields">
                                <ng-container *ngFor="let col of row.columns;let z = index">
                                    <span *ngIf="z != row.columns.length-1">
                                        {{data[col] ? data[col] + ' : ' : ''}}
                                    </span>
                                    <span *ngIf="z == row.columns.length-1">
                                        {{(data[col] ? data[col]: '')}}
                                    </span>
                                    <br *ngIf="z != 0 && z%2==0" />
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12 text-center mt-2">
                    <pagination-controls id="del-pagi" (pageChange)="page = $event"
                        [autoHide]="true"></pagination-controls>
                </div>
            </div>
        </div>


        <!-- edit Modal -->
        <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                        <button type="button" (click)="closeModal()" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-delete *ngIf='showModal == "delete_subitem"' [Type]="deleteModel.Type"
                            [ID]="deleteModel.ID" (response)="deleteResponse($event)"></app-delete>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="width: 120px;"
                            (click)="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>