.nav-item {
   margin: auto;
   width: 15vw;
}

.file {
   position: relative;
   overflow: hidden;
}

.inputtag {
   position: absolute;
   // font-size: 50px;
   opacity: 0;
   right: 0;
   top: 0;
}

// .main-row {
//    background-color: #4e5af421;
//    color: #fff;
// }

.sub-row {
   background-color: #4956f108;
}

.imageCount {
   position: absolute;
   background-color: #0000003d;
   font-size: small;
   margin: 3px;
   // left: 300px;
   // bottom: 0px;
   // right: 15px;
}

.lock-date {
   text-align: center;
   padding-right: 0.6rem;
   padding-top: 0.2rem;
   font-size: small;
}
