<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body" style="overflow: auto;">
                  <div class="row justify-content-between" style="margin-bottom: 65px;">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" onclick="$('#showModal').modal('show')"
                           (click)="showModal = 'Add Product'">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add Product
                        </button>
                     </div>
                     <div class="col-5">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light">Total
                           Count : {{productData.length}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="productData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th>No.</th>
                           <th>Manage</th>
                           <th *ngIf="settings.document">Document</th>
                           <th *ngIf="settings.purchase_date">Purchase Date</th>
                           <th>Mm</th>
                           <th>Item - Subitem</th>
                           <th *ngIf="settings.company_name">Company Name - Model Name</th>
                           <th>S/R No. - Product Code</th>
                           <th>Price</th>
                           <th >Condition</th>
                           <th *ngIf="settings.warranty_period">Warranty Period</th>
                           <th *ngIf="settings.warranty_from">Warranty From</th>
                           <th *ngIf="settings.purchased_by">Purchased By</th>
                           <th *ngIf="settings.purchase_from">Purchase From</th>
                           <th *ngIf="settings.product_detail">Product Detail</th>
                           <th *ngIf="settings.accessories">Accessories</th>
                           <th *ngIf="settings.nimmit_id">Nimmit</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of productData | filter:term; let i=index">
                           <td>{{i+1}}</td>
                           <td>
                              <button class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button>
                              <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                    class="uil-trash"></i></button>
                           </td>
                           <ng-container (click)="rowDetail(data)">
                              <td *ngIf="settings.document">
                                 <img [src]="getImage1(data.document)" height="60px">
                              </td>
                              <td>{{data.purchase_date}}</td>
                              <td>{{data.mm_id?data.mm_hin + ' : ' + data.mm_eng:'-'}}</td>
                              <td>{{data.item_id?data.item_hin + ' : ' + data.item_eng:'-'}} -
                                 {{data.subitem_id?data.subitem_hin + ' : ' + data.subitem_eng:'-'}}</td>
                              <td *ngIf="settings.company_name">{{data.company_name}} - {{data.model_name}}</td>
                              <td>{{data.sr_num}} - {{data.product_code}}</td>
                              <td>{{data.price}}</td>
                              <td>{{data.condition_id?data.condition_hin + ' : ' + data.condition_eng:'-'}}</td>
                              <td *ngIf="settings.warranty_period">{{data.warranty_period}}</td>
                              <td *ngIf="settings.warranty_from">{{data.warranty_from}}</td>
                              <td *ngIf="settings.purchased_by">{{data.purchased_by}}</td>
                              <td *ngIf="settings.purchase_from">{{data.purchase_from}}</td>
                              <td *ngIf="settings.product_detail">{{data.product_detail}}</td>
                              <td *ngIf="settings.accessories">{{data.accessories}}</td>
                              <td *ngIf="settings.nimmit_id">{{data.nimmit}}</td>
                           </ng-container>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- addItem Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-product-entry *ngIf="showModal == 'Add Product'" (response)='addProductResponse($event)'>
            </app-product-entry>

            <app-product-entry *ngIf="showModal == 'Edit Product'" (response)='editProductResponse($event)'
               [getData]="editData" [isEdit]="true"></app-product-entry>

            <app-product-view *ngIf="showModal == 'View Product'" [getData]="viewProduct"></app-product-view>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>