<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>



<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="card-body" style="overflow: auto;">
                        <div class="col-12 px-2" style="margin-bottom: 65px;">
                            <div class="float-start col-2">
                                <button class="btn btn-primary" onclick="$('#addProduct').modal('show')">Add
                                    Product</button>
                            </div>
                            <div class="float-start col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                                        name="search">
                                </div>
                            </div>

                            <div class="float-end">

                                <button type="button" style="font-weight: 700 !important;" class="btn btn-light">Total
                                    Count :
                                    {{productData? productData.length:''}}
                                </button>
                            </div>
                        </div>
                        <table id="datatable-buttons" class="table table-hover dt-responsive">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Manage</th>
                                    <th>Date</th>
                                    <th>mm</th>
                                    <th>Sewadhari</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Item Details</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of productData | filter:term; let i=index">
                                    <td (click)="rowClicked(data)">{{i+1}}
                                        <br>
                                        <!-- <div class="form-check form-switch" style="cursor: pointer;">
                                            <input type="checkbox" name="hl" class="form-check-input" [checked]=data.hl
                                                (change)="highlight($event,data)">
                                        </div> -->
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary mb-1" type="button"
                                            (click)="edit(data)"><i class="uil uil-pen"></i></button><br />
                                        <button class="btn btn-sm btn-danger" type="button"
                                            (click)="delete(i,data._id)"><i class="uil-trash"></i></button>
                                    </td>
                                    <td (click)="rowClicked(data)">{{data.date | date:'dd-MM-yyyy'}}</td>
                                    <td (click)="rowClicked(data)">
                                        {{data.mm_hin ? data.mm_hin : ''}} :
                                        {{data.mm_eng ? data.mm_eng : ''}} <br />
                                        ( {{data.mm_code ? data.mm_code : '___'}} )
                                    </td>
                                    <td (click)="rowClicked(data)">
                                        ( {{data.roll_no ? data.roll_no :'____'}} )
                                        {{data.pbk_hin ? data.pbk_hin :''}} <br />
                                        {{data.sdw_of ? data.sdw_of + ':' :''}}
                                        {{data.sdw_of_name ? data.sdw_of_name :''}}
                                    </td>
                                    <td (click)="rowClicked(data)">
                                        {{data.subitem_hin ? data.subitem_hin+'-' : ''}}
                                        {{data.item_hin ? data.item_hin : ''}} <br />
                                        {{data.subitem_eng ? data.subitem_eng+'-' : ''}}
                                        {{data.item_eng ? data.item_eng : ''}}

                                    </td>
                                    <td (click)="rowClicked(data)">
                                        {{data.qty}} {{data.unit_short}}
                                    </td>
                                    <td (click)="rowClicked(data)">{{data.item_detail ?data.item_detail:'-'}}</td>
                                    <td (click)="rowClicked(data)">
                                        <img src="{{imagebase+data.images}}" alt="image" class="rounded m-1" height="48"
                                            style="cursor: pointer;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addProduct" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                <button type="button" onclick="$('#addProduct').modal('hide')" class="btn-close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-product-entry (response)='getResponse($event)'></app-product-entry>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editEntry" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Data Edit</h5>
                <button type="button" onclick="$('#editEntry').modal('hide')" class="btn-close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-product-entry (response)='productEditResponse($event)' [getData]="editEntry" isEdit=true>
                </app-product-entry>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewProduct" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product View</h5>
                <button type="button" onclick="$('#viewProduct').modal('hide')" class="btn-close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-product-view [getData]="viewProduct"></app-product-view>
            </div>
        </div>
    </div>
</div>