<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <ng-select class="custom" style="width: 100%;" placeholder="Select State" [clearable]="true"
                           [virtualScroll]="true" (change)="stateSelected($event)">
                           <ng-option *ngFor="let item of states" [value]="item._id">
                              {{item.state_hin}}:{{item.state_eng}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-3">
                        <ng-select class="custom" style="width: 100%;" placeholder="Select MM" [clearable]="true"
                           [virtualScroll]="true" (change)="mmSelected($event)">
                           <ng-option *ngFor="let item of mms" [value]="item._id">
                              {{item.mm_hin}}:{{item.mm_eng}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-2">
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Category" [clearable]="true"
                           [virtualScroll]="true" (change)="catSelected($event)">
                           <ng-option *ngFor="let item of categories" [value]="item._id">
                              {{item.category_hin}}:{{item.category_eng}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-3">
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Item" [clearable]="true"
                           [virtualScroll]="true" (change)="itemSelected($event)">
                           <ng-option *ngFor="let item of items" [value]="item._id">
                              {{item.item_hin}}:{{item.item_eng}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">
                           Count : {{bachatData.length}}
                           <!-- {{productData? productData.length:''}} -->
                        </button>
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-4">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="bachatData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <td style="width: 70px;">No.</td>
                           <td>Department</td>
                           <td>State</td>
                           <td>MM</td>
                           <td>Category</td>
                           <td>Item</td>
                           <td>Used</td>
                           <td>Stock</td>
                           <td>Jawak</td>
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container *ngFor="let data of bachatData | filter:term; let i=index">

                           <tr>
                              <td>{{i+1}}</td>
                              <td>
                                 {{data.dept_hin}}<br />
                                 {{data.dept_eng}}
                              </td>
                              <td>
                                 {{data.state_hin}}<br />
                                 {{data.state_eng}}
                              </td>
                              <td>
                                 {{data.mm_hin}}<br />
                                 {{data.mm_eng}}
                              </td>
                              <td *ngIf="!data.scat_id">
                                 {{data.icat_hin}}<br />
                                 {{data.icat_eng}}
                              </td>
                              <td *ngIf="data.scat_id">
                                 {{data.scat_hin}}<br />
                                 {{data.scat_eng}}
                              </td>
                              <td>
                                 {{data.item_hin}} {{data.subitem_hin ? " : " + data.subitem_hin : ""}} <br />
                                 {{data.item_eng}} {{data.subitem_eng ? " : " + data.subitem_eng : ""}}
                              </td>
                              <td>
                                 {{data.Used ? data.Used + " " + data.unit_short : "-"}}
                              </td>
                              <td>
                                 <span class="px-1" [ngClass]="{'error': data.Stock < 0, 'stock':data.Stock > 0}">
                                    {{data.Stock ? data.Stock + " " + data.unit_short : "-"}}
                                 </span>
                              </td>
                              <td>
                                 <button class="btn btn-sm btn-warning mx-1" (click)="addJawak(data)"
                                    *ngIf="data.Stock">
                                    <i class="mdi mdi-plus noti-icon"></i> जावक
                                 </button>
                                 <!-- <button class="btn btn-sm btn-primary" (click)="showJawak(data._id)">
                                    <i class="dripicons-view-list noti-icon"></i>
                                 </button> -->
                              </td>

                           </tr>
                        </ng-container>
                     </tbody>
                  </table>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>




<!-- Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-jawak-entry *ngIf="showModal == 'Add Jawak'" (response)='addJawakResponse($event)'
               [getData]="editData"></app-jawak-entry>
            <!-- <app-aawak-entry *ngIf="showModal == 'Add Aawak'" (response)='addAawakResponse($event)'></app-aawak-entry>
            <app-aawak-entry *ngIf="showModal == 'Edit Aawak'" (response)='editAawakResponse($event)'
               [getData]="editData" [isEdit]="true"></app-aawak-entry> -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>