<div class="row" id="aawakEntryComponent">
   <div class="card-body">
      <h3>Software Update History</h3>

      <!-- update detail model -->
      <!-- <div class="row">
         <div class="card-body">
            <h5>Date: ##-##-####</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Page <i class=" uil-check-circle"></i></div>
                     changes details
                  </div>
               </li>               
            </ol>
         </div>
      </div> -->

      <!-- <div class="row">
         <div class="card-body">
            <h5>Date: 02-09-2024 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Header <i class=" uil-check-circle"></i></div>
                     new page or menu added.
                  </div>
               </li>               
            </ol>
         </div>
      </div> -->

      <!-- 09-01-2025 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: Version: 21.3</h5>
            <ol class="list-group list-group-numbered">
               <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">New Pages Added <span
                           class="badge badge-outline-warning">New</span></div>
                     <strong class="text-info">Aawak Jawak Check : </strong> Simplify table of aawak And jawak for
                     checking, no editing
                     feature. <br />
                     <strong class="text-info">Lot No : </strong> List of Lot Nos that automatically created based on
                     aawak entry. This page can be accessed from Menu under <b>'Lists'</b>. <br />
                  </div>
               </li> -->
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <strong>Improvement : </strong> Jawak Date Formatting, Jawak delete button added. <br />
                     <strong>Error Solved : </strong> Excel Import <br />
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">New Feature Aawak Jawak <span
                           class="badge badge-outline-warning">New</span></div>
                     <strong>Auto Awk : </strong> Auto aawak feature added while doing Jawak. <br />
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">PBK Import <i class=" uil-check-circle"></i></div>
                     <strong>Date : </strong> Formating birth date as 'dd-MM-yyyy' and bhatti date as 'MM-yyyy'. <br />
                     <strong>Country : </strong> Country Data Added along with State and saperate column added in exccel
                     export. <br />
                     <strong>Error Solved : </strong> error occured for Excel Date Format.
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel export<i class=" uil-check-circle"></i></div>
                     <strong>For Sewa Dept. : </strong> Redesign column sequences.<br />
                     <strong>For CS Dept. : </strong> Redesign awak-details,jawak-details and bachat to side by
                     side<br />
                     <strong>For All Dept. : </strong> Zone + MM + Category + Item wise sorting. <br />
                     <br />
                  </div>
               </li>


            </ol>
         </div>
      </div>
      <!-- 13-12-2024 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: Version: 21.2</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">New Pages Added <span
                           class="badge badge-outline-warning">New</span></div>
                     <strong class="text-info">Aawak Jawak Check : </strong> Simplify table of aawak And jawak for
                     checking, no editing
                     feature. <br />
                     <strong class="text-info">Lot No : </strong> List of Lot Nos that automatically created based on
                     aawak entry. This page can be accessed from Menu under <b>'Lists'</b>. <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak New <i class=" uil-check-circle"></i></div>
                     <strong>UI : </strong> Slight Design Changed. <br />
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <strong>Error Solved : </strong> error occured while jawak entry was solved.
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Category <i class=" uil-check-circle"></i></div>
                     <strong>Bug Fix : </strong> while insert new category. <br />
                     <strong>Visibility : </strong> Roman and English Field can be hide show form Software Settings.
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <strong>Excel Export : </strong> Sorting by MM and Category make optional by using checkbox under
                     Export Button.
                  </div>
               </li>



            </ol>
         </div>
      </div>

      <!-- 09-12-2024 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: Version: 21.1</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">MM <i class=" uil-check-circle"></i></div>
                     <strong>MM Type : </strong> ड्रॉपडाउन बनाया। <br />
                     <strong>Nimitt : </strong> निमित्त का gender अगर माता है तो वो हाइलाइट होगा । <br />
                     <strong>MM Closed : </strong> अगर MM बंध हो जाए तो बंध होने की तारीख लिख सकते है । <br />
                  </div>
               </li>

               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak New <i class=" uil-check-circle"></i></div>
                     Some error Fixed.
                  </div>
               </li>

               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     => Department पेज हाइड/शो, डिपार्ट्मन्ट ऐड करने की पर्मिशन, डिपार्ट्मन्ट सिलेक्ट कर DB Generate कर
                     सके या नहीं ये सेट कर सकते है । <br />
                     => Category, city, item, mm, nimitt, pbk, department - edit, delete permission सेट कर सकते है।
                  </div>
               </li>


            </ol>
         </div>
      </div>

      <!-- 25-09-2024 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: Version: 21 <span class="text-warning">(Major Update)</span></h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Light Mode <i class=" uil-check-circle"></i></div>
                     Whole Software become Light.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <strong>Export to Excel: </strong> mm grouping, category and item grouping, item-subitem can merge
                     in same row.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">New Pages Added <i class=" uil-check-circle"></i></div>
                     <strong>1. Zone : </strong> State can be divide into zones. <br />
                     <strong>2. Aawak Source : </strong> आवक और जावक पेज मे यूस होगा, सबसे पहली आवक का आवक टाइप आगे होने
                     वाले सभी आवक और जावक मे सैम रीपीट करना है। <br />
                     <strong>3. Usage List : </strong> आवक या जावक किस यूस के लिए आई है या किस यूस के लिए भेजी गई है ।
                     <br />
                     <strong>4. Aawak N : </strong> New aawak bunch entry.
                     <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Aawak N <i class=" uil-check-circle"></i></div>
                     <strong>Testing: </strong> Need to test this page, export, import, advance filter pending hai.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">MM <i class=" uil-check-circle"></i></div>
                     <strong>1. MM Type : </strong> MM Type field added in place of department, in future department
                     column of MM will be removed. <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">TOP HEADER <i class=" uil-check-circle"></i></div>
                     <strong>Toggle Dark Mode : </strong> sun and moon icon added to change llight and dark mode. <br />
                     <strong>menu change : </strong> <br />
                     => more menu added under lists state, country ..... <br />
                     => product sent to top. <br />
                     => Top bar 'Bachat' Button is changed as 'All Time bachat' and it can found under Report menu.
                     <br />
                     => department page button visible on right side panel, which open after clicking on settings icon
                     exists in top row. <br />
                  </div>
               </li>

            </ol>
         </div>
      </div>

      <!-- 08-09-2024 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 8 & 14-09-2024 Version: 20.3 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Light Mode Testing <i class=" uil-check-circle"></i></div>
                     Whole Software become Light.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">TOP HEADER <i class=" uil-check-circle"></i></div>
                     <strong>Toggle Dark Mode : </strong> sun and moon icon added to change llight and dark mode. <br />
                     <strong>menu change : </strong> more menu added state, country ..... <br />
                  </div>
               </li>

            </ol>
         </div>
      </div>


      <!-- 04-09-2024 -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 04-09-2024 Version: 20.2</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     bug fix. (unit comparison error solved.)
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Import Update (.Zip) <i class=" uil-check-circle"></i></div>
                     auto delete functionality removed temporary.
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 22-08-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 22-08-2024 Version: 20.1 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     Category, support list (mm_type, gender, aawak_type, jawak_type, condition, relation) excel import
                     added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>show Image :</b> now you can maximise images of aawak by click on it. <br />
                     <b>Advance Filter :</b> date, state for mm and AJ mm are added. <br />
                     <b>Entry Form : </b> company name field now visible.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <b>Advance Filter :</b> date, state for mm and jawak mm are added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>Table :</b> Hide 0's checkbox added on header of bachat column. now you can filter 0 bachat.
                  </div>
               </li>

            </ol>
         </div>
      </div>


      <!-- 05-08-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 05-08-2024 Version: 20.1 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Khet Reports <i class=" uil-check-circle"></i></div>
                     3 reports created, item wise, khet wise and aawak jawak saar.
                  </div>
               </li>

            </ol>
         </div>
      </div>
      <!-- 16-05-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 31-05-2024 Version: 19.1 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>Subitem :</b> new tab added, it shows latest updated subitems on top. <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Item <i class="uil-stopwatch"></i></div>
                     <b>Delete :</b> Delete button will appear till 10 june 2024. then it automatically change to lock
                     button.
                  </div>
               </li>

            </ol>
         </div>
      </div>
      <!-- 19-07-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 19-07-2024 Version: 20.0 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Import Update <i class=" uil-check-circle"></i></div>
                     <b>PBK :</b> error solved. <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Aawak, Jawak, Bachat, Bachat New <i class="uil-stopwatch"></i>
                     </div>
                     <b>Calculation :</b> all qty rounded to 2 decimal point value.
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 16-05-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 16-05-2024 Version: 19 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Export <i class=" uil-check-circle"></i></div>
                     <b>Bachat New :</b> footer summary added in Bachat Only and Saar. <br />
                     <b>Bachat :</b> footer summary added. <br />
                     <b>Aawak :</b> footer summary added in aawak only and jawak only excel. <br />
                     <b>Jawak :</b> footer summary and new columns added. <br />
                     <b>Aawak :</b> new jawak columns added in destribution. <br />
                     <!-- <b>Nimitt :</b> Bug Fixed. -->
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak Entry <i class=" uil-check-circle"></i></div>
                     <b>New Field:</b> rate, total amount, parchi place, Kaha becha, kisko sell kiya added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b>Aawak Jawak:</b> rate and total amount will calculate automatically.
                     <b>Aawak Jawak:</b> new column added for jawak entries.
                  </div>
               </li>
               <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>Settings :</b> Vehicle Option added.
                  </div>
               </li> -->

            </ol>
         </div>
      </div>
      <!-- 02-04-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 02-04-2024 Version: 17.3 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b>PBK :</b> Bug Fixed.
                     <b>Nimitt :</b> Bug Fixed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>Condition WIse monthly एक्सेल एक्सपोर्ट :</b> Total per month column added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>Settings :</b> Vehicle Option added.
                  </div>
               </li>

            </ol>
         </div>
      </div>
      <!-- 16-03-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 16-03-2024 Version: 17.2 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b>PBK :</b> Newly developed.
                     <b>Nimitt :</b> Newly developed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>Condition WIse monthly एक्सेल एक्सपोर्ट :</b> Newly developed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>Export Settings :</b> Bug Fix.
                     <b>Import Settings :</b> Bug Fix.
                  </div>
               </li>

            </ol>
         </div>
      </div>

      <!-- 24-02-2024 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-02-2024 Version: 17.0 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Edit :</b> आइटम, सुबितेम, mm एडिट कर सकते है.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <b>एक्सेल एक्सपोर्ट :</b> Condition and item Detail column added in excel sheet.
                  </div>
               </li>

            </ol>
         </div>
      </div>

      <!-- 07-09-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 07-09-2023 Version: 15.1 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Bug Fix :</b> आवक इम्पोर्ट के दौरान बिल है कॉलम मे इम्प्रूव्मन्ट किया।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">प्रोडक्ट <i class=" uil-check-circle"></i></div>
                     <b>इक्सेल इम्पोर्ट :</b> न्यू बनाया। <br />
                     <b>एंट्री फोरम :</b> fully editing allowed.

                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 18-08-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 18-08-2023 Version: 15 (Mejor Updates) </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Bug Fix :</b> आवक कन्डिशन एडिट करने पर रिपोर्ट मे गड़बड़ होती थी, अभी कैल्क्यलैशन ठीक किए है
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>Report Addition :</b> monthly and yearly, condition wise and AJ type wise options added, comment
                     feature + excel export added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department<i class=" uil-check-circle"></i></div>
                     <b>Software Settings : </b> सॉफ्टवेयर मे पेज, फील्ड्स, टेबल कॉलम हाइड/ शो करने का ऑप्शन डाला है ।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Product <i class=" uil-times-circle"></i>
                     </div>
                     <b>Addition : </b> एक से ज्यादा प्रोडक्ट एक साथ एंट्री कर सकते है। <br />
                     <b>Rules Update : </b> प्रोडक्ट कोड/सीरीअल नंबर कॉमपुलसरी नहीं है, क्वानटिटी डालकर भी एंट्री कर
                     सकते है। without code/sr_num वाली एंट्री का ट्रैकिंग दिखाई नहीं देगा। <br />
                     <b>Warning : </b> प्रोडक्ट मे की गई एंट्री का कोई भी रिपोर्ट मे/ आवक मे गिनती नहीं होता है, और
                     ट्रैकिंग के लिए आवक-जावक मे पर्टीकुलर प्रोडक्ट को सिलेक्ट करना जरूरी है। उसीके आधार पे ट्रैकिंग
                     रिपोर्ट जेनरैट होता है। <br />
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import<i class=" uil-check-circle"></i></div>
                     <b>Feature Added : </b> इक्सेल इम्पोर्ट के बाद हिस्ट्री रिपोर्ट ऑटोमैटिक जेनरैट होगा, जिससे आप एक
                     साथ एक इक्सेल फाइल मे एक से ज्यादा मन्थ एण्ड एक से ज्यादा MM का डाटा इम्पोर्ट कर सकते है, और
                     Pending Destribution द्वारा एक्सपोर्ट किए गए इक्सेल को जब इम्पोर्ट करेंगे तो ऑटोमैटिक पुरानी आवक
                     एंट्री को स्किप कर दिया जाएगा, उसका दुबारा एंट्री नहीं होगा। सिर्फ जावक एंट्रीस को ऐड किया जाएगा।
                  </div>
               </li>
            </ol>
         </div>
      </div>


      <!-- 22-04-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 13-05-2023 && 20-05-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Filter By Jawak :</b> अब से जावक को भी फ़िल्टर कर सकते है, एक्सपोर्ट भी कर सकते है। नोट: जावक
                     फ़िल्टर करने से एसी आवक जिसकी कोई जावक हुई ही नहीं है वो नहीं दिखेगी। सिर्फ जावक ही दिखेगी अपनी2 आवक
                     के साथ।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <b>Filter :</b> month and year option added.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Add Nimitt<i class=" uil-check-circle"></i></div>
                     <b>Fixed issue : </b> in aawak, jawak and product page.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Product (Under Construction) <i class=" uil-times-circle"></i>
                     </div>
                     <b>New : </b> complete functionality to add more than one product of same item at same time.
                  </div>
               </li>
            </ol>
         </div>
      </div>


      <!-- 22-04-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 22-04-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>Category, department and MM state :</b> display in table.
                     <b>Table Design :</b> diferent background color set for main row and sub row.
                     <b>Excel Export :</b> Bachat Only and Full Saar, 2 formats.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import<i class=" uil-check-circle"></i></div>
                     <b>Feature Improvement : </b> Ignore errored data allowed other, export error data to excel,
                     progress bar for status display.
                     <b>Bug Fixed</b>
                  </div>
               </li>
            </ol>
         </div>
      </div>


      <!-- 28-03-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 28-03-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Category :</b> display in table and export in excel.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bug Fix <i class=" uil-check-circle"></i></div>
                     <b>Excel Import :</b> nimitt ignore solved.
                     <b>DB Generate :</b> missing tables added, department related security improved.
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 08-03-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 15-03-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat New <i class=" uil-check-circle"></i></div>
                     <b>New :</b> Automatic bachat and monthly closing calculation, fast and accurate system.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import Desctribution <i class=" uil-check-circle"></i>
                     </div>
                     <b>Improvement :</b> Re develop with transaction and export rejected entries in excel.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <b>jawak category :</b> कोई आइटम use किस केटेगरी के काम मे हुआ है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bug Fixes <i class=" uil-check-circle"></i></div>
                     <b>Settings Import Export</b> <br />
                     <b>Software Background Color</b>
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 08-03-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 26-02-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import New <i class=" uil-check-circle"></i></div>
                     <b> Vehicle :</b> न्यू इक्सेल इम्पोर्ट सिस्टम बनाया है, जिसमे कई सारे न्यू फीचर्स ऐड किए गए है,
                     फिलहाल सिर्फ वीइकल डॉक्युमेंट्स को इम्पोर्ट कर सकते है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import Aawak Jawak <i class=" uil-check-circle"></i></div>
                     <b> Pending Destribution :</b> आवक जावक से Export Pending Destribution करने से आवक ID के साथ बचत
                     वाले आवक एक्सपोर्ट होते है, जिसमे और आवक जावक का अपडेट ऐड करके इम्पोर्ट करने से, और साथ मे ऑटो
                     अपडेट बटन को ऑन रखने से आवक एंट्री दुबारा नहीं होती है, उसी आवक मे न्यू जावक ऐड हो जाता है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Import Update (.Zip) <i class=" uil-check-circle"></i></div>
                     <b>New Feature : </b> इम्पोर्ट के दौरान इन्सर्ट, अपडेट, डिलीट सारे ऑपरेशन होते है, एवं कलर के साथ
                     दिखाए जाते है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat <i class=" uil-check-circle"></i></div>
                     <b>Image :</b> टेबल की रो पे क्लिक करने से फोटो देख सकते है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home <i class=" uil-check-circle"></i></div>
                     <b>Import History :</b> डिजाइन एण्ड एरर करेक्शन।
                     <b>Hisab Closing :</b> न्यू फीचर, Monthly हिसाब क्लोज्ड mm वाइज़ क्लिक करने से ऑटोमटिक बचत को अलगे
                     महीने मे ड्यू ट्रैन्स्फर कर दिया जाएगा। और सार रिपोर्ट मे पिछले बचत मे काउन्ट किया जाएगा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Item, Subitem, MM <i class=" uil-check-circle"></i></div>
                     <b>MM :</b> Bug Fix.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>Deselect All : </b> feature added to deselect all rows. <br />
                     <b class="text-danger">Software Settings : </b> Software Setting feature removed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Vehicle Dept.. <i class=" uil-check-circle"></i></div>
                     <b>Vehicle :</b> design and feature improvements. (Search, export, filter etc...)
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Subitem <i class=" uil-check-circle"></i></div>
                     <b>Image :</b> Error solved.
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 06-01-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 02-01-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b> History :</b> इम्पोर्ट के दौरान MM का नाम, किस मन्थ का हिसाब चड़ा रहे है वो डेटा फिल करना जरूरी
                     होगा, जिसके आधार पर इम्पोर्ट हिस्ट्री मैन्टैन किया जा सके।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home <i class=" uil-check-circle"></i></div>
                     <b>Import History :</b> yearly बैसिस पे हर MM का इक्सेल इम्पोर्ट हिस्ट्री का रिपोर्ट शो करेगा, साथ
                     मे आवक पेज की तरह इस पेज से भी इक्सेल इम्पोर्ट कर सकते है। <br />
                     <b>Stock Summary : </b> बचत का रिपोर्ट जो पहले होम पर शो होता था, उसे सेकंड टेब मे शिफ्ट कर दिया
                     है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>MM :</b> MM का हाइड एण्ड शो का मैंटनेन्से भी हर डिपार्ट्मन्ट वाले खुद से कर सकेंगे। <br />
                     <b>Item/Subitem :</b> केटेगरी फ़िल्टर करेक्शन और नया आइटम फ़िल्टर ऐड किया।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">MM & Item <i class=" uil-check-circle"></i></div>
                     <span class="text-danger"><b>Protection & delete Button : </b> removed.</span> अब से कोई भी
                     डिपार्ट्मन्ट एडिट, डिलीट कर नहीं सकेगा और कंट्रोल के लिए protection शील्ड की सुविधा भी हटा दी है।
                     डिलीट बटन के जगह लॉक बटन बनाया है। <br />
                     <b>Time Lock : </b> डिलीट करने के जगह पर दिए हुए मन्थ और साल के बाद उस आइटम, सबआइटम और mm के युस पर
                     रोक लगा सकते है, उससे पहले युस कर सकेंगे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Vehicle Dept.. <i class=" uil-check-circle"></i></div>
                     <b>New Page :</b> गाड़ीयों के डाक्यमेन्ट मैन्टाइनेंस हेतु न्यू पेज बनाया है, जो केवल गाड़ी/Vehicle
                     डिपार्ट्मन्ट मे Login करने से शो होगा।
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 28-11-2022 model-->
      <div class="row">
         <div class="card-body">
            <h5>Date: 28-11-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Nimitt <i class=" uil-check-circle"></i></div>
                     <b>Criteria : </b> रोल नं और fathername को कॉम्पलसरी नहीं रखा है, ऑप्शनल बना दिया है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                     <b>Problem : </b> Delete काम नहीं कर रहा था। - solved.
                     <b>Export Pending Aawak : </b> डिस्ट्रब्यूशन मैन्टैन करने हेतु, बचत क्वानटिटी का जावक इम्पोर्ट करने
                     हेतु इसी एक्सपोर्ट शीट मे जावक एंट्रीस फिल करे, इम्पोर्ट फीचर नेक्स्ट अपडेट मे अवैलेबल होगा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Export <i class=" uil-check-circle"></i></div>
                     <b> => </b> हर एक पेज मे इक्सेल मे एक्सपर्ट करने की सुविधा बनाई गई है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b> 1. => </b> Item Detail और Description फील्ड का डाटा मिसिंग हो रहा था, उसे ठीक किया। <br />
                     <b> 2. => </b> Nimitt, Product Code और सबआइटम को इग्नोर करने की सिविधा बनाई है। <br />
                     <b> 3. => </b> Correction के दौरान condition के लिस्ट मे आवक टाइप का लिस्ट शो हो रहा था - Solved.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Video Tutorials <i class=" uil-check-circle"></i></div>
                     <b> 1. => </b> डिपार्ट्मन्ट पेज का डेमो और उपयोग। <br />
                     <b> 2. => </b> इक्सेल इम्पोर्ट का डेमो<br />
                  </div>
               </li>

            </ol>
         </div>
      </div>

      <!-- 29-10-2022 model-->
      <div class="row">
         <div class="card-body">
            <h5>Date: 29-10-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                     <b>Excel Export : </b> जावक डाटा इक्सेल शीट मे एक्सपोर्ट होता है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Bachat <i class=" uil-check-circle"></i></div>
                     <b>फ़िल्टर : </b> केटेगरी और आइटम से फ़िल्टर ठीक किया। <br />
                     <b>Excel Export : </b> बचत डाटा इक्सेल शीट मे एक्सपोर्ट होता है।
                  </div>
               </li>
            </ol>
         </div>
      </div>


      <!-- 24-09-2022 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-09-2022 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department Page <i class=" uil-check-circle"></i></div>
                     <b>Import (.Zip) : </b> दूसरे डिपार्ट्मन्ट से आए लिस्ट, या जीप फाइल को यहा से इम्पोर्ट करे।
                     (Same
                     lists दिखेगी नहीं, न्यू lists, अपडेट lists और मिसिंग lists दिखेगी, एक-2 को ठीक करना पड़ेगा। )
                     <br />
                     <b>Item Select : </b> केटेगरी से फ़िल्टर करने मे सुधार।
                     <b>Generate DB : </b> Improvements.
                     <b>Settings : </b> Improvement and bug fix.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Item Page <i class=" uil-check-circle"></i></div>
                     <b>Filter : </b> केटेगरी और सबआइटम के फ़िल्टर मे सुधार। <br />
                     <b>Export To Excel : </b> आइटम और सबआइटम का डाटा इक्सेल मे एक्सपोर्ट करने हेतु। थोड़ा पेज डिजाइन
                     मे
                     भी बदलाव किया है।
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 17-09-2022 updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 17-09-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     <b>Export To Excel : </b> 2 More types of Excel Export Added, "Export Aawak Only" and "Export
                     Jawak
                     Only". <br />
                     <b>In Destribution : </b> Category column Added, jawak detail column order changed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Item Page <i class=" uil-check-circle"></i></div>
                     <b>Clone subitem : </b> क्लोन बटन के द्वारा न्यू आइटम add करने पर उस आइटम के सबआइटम ऑटोमैटिक
                     न्यू
                     आइटम के सबआइटम लिस्ट मे add हो जाएंगे। Ex. <b>'बॉक्स'</b> आइटम, <b>'छोटा', 'बड़ा'</b> सबआइटम। अगर
                     इस
                     बॉक्स आइटम पे बनाए क्लोन बटन को प्रेस करके न्यू आइटम <b>'अलमारी'</b> इन्सर्ट करते है तो
                     <b>'अलमारी'</b> आइटम मे <b>'छोटा', 'बड़ा'</b> सबआइटम अपने आप बन जाएगा। <br />
                     <b>Auto Collapse:</b> अब से आइटम पेज पे सुरू मे सिर्फ इटेम्स दिखेगी, एक आइटम पे क्लिक करने से
                     उसकी
                     सबआइटम दिखने लगेगी।
                     <b>Expand All:</b> सारे आइटम और सबआइटम एक साथ देखने के लिए <b>Expand All</b> चेकबॉक्स के द्वारा
                     औटोमैक सारे सबआइटम दिखने लगेंगे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Images : <i class=" uil-check-circle"></i></div>
                     <b>Multiple Support : </b> पूरे सॉफ्टवेयर मे हर जगह एक से ज्यादा इमेज सिलेक्ट कर सकते है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Bachat Page <i class="uil-times-circle"></i></div>
                     <b>Jawak Button : </b> removed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Product Page</div>
                     <b> New Development : </b> प्रोडक्ट ऐड करे और प्रोडक्ट आईडी के द्वारा आवक जावक करे। <br />
                     <b>ADVANTAGES:</b> एक प्रोडक्ट कितने मि.म. मे कब और किस कन्डिशन मे गया, पहुचा उसका ट्रैक मिलेगा,
                     प्रोडक्ट की पहचान के लिए और पर्ची, तथा बिल के लिए एक से ज्यादा फोटो अपलोड कर सकते है। <br />
                     <b>Status Color:</b> अगर अखरीं जावक एंट्री से स्टैटस अपडेट हुआ है तो <span
                        class="text-warning">ऑरेंज कलर</span> शो करेगा, और आवक एंट्री से हुआ है तो <span
                        class="text-success">ग्रीन कलर</span> शो करेगा। <br />
                     <b>Product View:</b> प्रोडक्ट के सारे फोटो और हिस्ट्री बड़े रूप मे देखने के लिए।
                     <b>Export To Excel:</b> प्रोडक्ट का लिस्ट इक्सेल मे डाउनलोड करने के लिए।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">आवक जावक एंट्री फॉर्म</div>
                     <b> प्रोडक्ट : </b> प्रोडक्ट सिलेक्ट करने से रेट, अमाउन्ट, qty = 1, यूनिट = pcs अपने आप सिलेक्ट
                     हो
                     जावेगा। और क्वानटिटी को चेंज नहीं कर सकेंगे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">List Import</div>
                     <b> top right corner pe settings icon : </b> सेटिंग्स <b>Import Update (.Zip)</b> बटन पर क्लिक
                     करके
                     जीप फाइल सिलेक्ट करने से कन्ट्री, सिटी, स्टेट, यूनिट, सबआइटम, आइटम, केटेगरी वगेरा सारे लिस्ट
                     अपडेट
                     हो जाएंगे।
                     <span class="text-warning" style="font-size: small;">note : जीप फाइल डिपार्ट्मन्ट पेज पे बनाए
                        <b>Export Lists</b> बटन पर क्लिक कारने से मिलेगा। </span>
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department : <i class=" uil-check-circle"></i></div>
                     <b>Self Control : </b> सॉफ्टवेयर मे उसे होने वाले आइटम, सबआइटम, केटेगरी को शो हाइड खुद कर सकते
                     है।
                     <br />
                     <b>List Export : </b> दूसरे डिपार्ट्मन्ट को लिस्ट भेजने के लिए डिपार्ट्मन्ट को सिलेक्ट करने के
                     बाद
                     "Export Lists" बटन के द्वारा लिस्ट का zip फाइल डाउनलोड कर सकते है। (इम्पोर्ट फीचर जल्द मिलेगा)
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 24-08-2022 updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-08-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home Page <i class=" uil-check-circle"></i></div>
                     Minor changes - filter option improvements
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">All Entry Forms <i class=" uil-check-circle"></i></div>
                     Focus changes - Tab बटन प्रेस करने पर Focus +Add और <i class=" dripicons-view-list"></i> बटन पर
                     नहीं जाएगा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     Export Excel पेज improvements, डिपार्ट्मन्ट वाइज़ कॉलम hide/show होगी, और कॉलम का ऑर्डर जैसा
                     बताया
                     वैसा सेट किया है।
                     Is bill और Image फील्ड को अलग-2 बना दिया है, Image box दिखना बंद हो गया होगा, देखने के लिए
                     निमित्त
                     से न्यू सेटिंग मँगवाके इम्पोर्ट करे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Aawak & Jawak & Product Page </div>
                     प्रोडक्ट कान्सेप्ट को Redesign करने के लिए कुछ समय के लिए product रिलेटेड हर चीज हटा दी है,
                     aawak,
                     jawak पेज से और प्रोडक्ट पेज पूरा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Subitem Entry</div>
                     AutoComplete dropdown under process for SubitemList Field.
                  </div>
               </li>
            </ol>
         </div>
      </div>

   </div>
</div>