<div class="row" id="aawakEntryComponent">
   <div class="card-body">
      <h3>Software Update History</h3>

      <!-- update detail model -->
      <!-- <div class="row">
         <div class="card-body">
            <h5>Date: ##-##-####</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-sucess">Page <i class=" uil-check-circle"></i></div>
                     changes details
                  </div>
               </li>               
            </ol>
         </div>
      </div> -->

      <!-- ##-##-#### updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: ##-##-####</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     <b>Export To Excel : </b> 2 More types of Excel Export Added, "Export Aawak Only" and "Export Jawak
                     Only". <br />
                     In Destribution - Category column Added, jawak detail column order changed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Bachat Page <i class="uil-times-circle"></i></div>
                     <b>Jawak Button : </b> removed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Product Page</div>
                     <b>Sample for Testing Only : </b> Please Check and give Review.
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 24-08-2022 updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-08-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home Page <i class=" uil-check-circle"></i></div>
                     Minor changes - filter option improvements
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">All Entry Forms <i class=" uil-check-circle"></i></div>
                     Focus changes - Tab बटन प्रेस करने पर Focus +Add और <i class=" dripicons-view-list"></i> बटन पर
                     नहीं जाएगा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     Export Excel पेज improvements, डिपार्ट्मन्ट वाइज़ कॉलम hide/show होगी, और कॉलम का ऑर्डर जैसा बताया
                     वैसा सेट किया है।
                     Is bill और Image फील्ड को अलग-2 बना दिया है, Image box दिखना बंद हो गया होगा, देखने के लिए निमित्त
                     से न्यू सेटिंग मँगवाके इम्पोर्ट करे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Aawak & Jawak & Product Page </div>
                     प्रोडक्ट कान्सेप्ट को Redesign करने के लिए कुछ समय के लिए product रिलेटेड हर चीज हटा दी है, aawak,
                     jawak पेज से और प्रोडक्ट पेज पूरा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Subitem Entry</div>
                     AutoComplete dropdown under process for SubitemList Field.
                  </div>
               </li>
            </ol>
         </div>
      </div>

   </div>
</div>