<div class="row" id="aawakEntryComponent">
   <div class="card-body">
      <h3>Software Update History</h3>

      <!-- update detail model -->
      <!-- <div class="row">
         <div class="card-body">
            <h5>Date: ##-##-####</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Page <i class=" uil-check-circle"></i></div>
                     changes details
                  </div>
               </li>               
            </ol>
         </div>
      </div> -->

      <!-- 06-01-2023 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 02-01-2023</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                     <b> History :</b> इम्पोर्ट के दौरान MM का नाम, किस मन्थ का हिसाब चड़ा रहे है वो डेटा फिल करना जरूरी होगा, जिसके आधार पर इम्पोर्ट हिस्ट्री मैन्टैन किया जा सके। 
                  </div>
               </li>               
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home <i class=" uil-check-circle"></i></div>
                     <b>Import History :</b> yearly बैसिस पे हर MM का इक्सेल इम्पोर्ट हिस्ट्री का रिपोर्ट शो करेगा, साथ मे आवक पेज की तरह इस पेज से भी इक्सेल इम्पोर्ट कर सकते है। <br />
                     <b>Stock Summary : </b> बचत का रिपोर्ट जो पहले होम पर शो होता था, उसे सेकंड टेब मे शिफ्ट कर दिया है। 
                  </div>
               </li>               
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department <i class=" uil-check-circle"></i></div>
                     <b>MM :</b> MM का हाइड एण्ड शो का मैंटनेन्से भी हर डिपार्ट्मन्ट वाले खुद से कर सकेंगे।  <br/>
                     <b>Item/Subitem :</b> केटेगरी फ़िल्टर करेक्शन और नया आइटम फ़िल्टर ऐड किया।  
                  </div>
               </li>               
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">MM & Item <i class=" uil-check-circle"></i></div>
                     <span class="text-danger"><b>Protection & delete Button : </b> removed.</span> अब से कोई भी डिपार्ट्मन्ट एडिट, डिलीट कर नहीं सकेगा और कंट्रोल के लिए protection शील्ड की सुविधा भी हटा दी है। डिलीट बटन के जगह लॉक बटन बनाया है। <br />
                     <b>Time Lock : </b> डिलीट करने के जगह पर दिए हुए मन्थ और साल के बाद उस आइटम, सबआइटम और mm के युस पर रोक लगा सकते है, उससे पहले युस कर सकेंगे। 
                  </div>
               </li>               
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Vehicle Dept.. <i class=" uil-check-circle"></i></div>
                     <b>New Page :</b> गाड़ीयों के डाक्यमेन्ट मैन्टाइनेंस हेतु न्यू पेज बनाया है, जो केवल गाड़ी/Vehicle डिपार्ट्मन्ट मे Login करने से शो होगा। 
                  </div>
               </li>               
            </ol>
         </div>
      </div>

      <!-- 28-11-2022 model-->
      <div class="row">
         <div class="card-body">
            <h5>Date: 28-11-2022</h5>
               <ol class="list-group list-group-numbered">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Nimitt <i class=" uil-check-circle"></i></div>
                        <b>Criteria : </b> रोल नं और fathername को कॉम्पलसरी नहीं रखा है, ऑप्शनल बना दिया है। 
                     </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Aawak <i class=" uil-check-circle"></i></div>
                        <b>Problem : </b> Delete काम नहीं कर रहा था। - solved.
                        <b>Export Pending Aawak : </b> डिस्ट्रब्यूशन मैन्टैन करने हेतु, बचत क्वानटिटी का जावक इम्पोर्ट करने हेतु इसी एक्सपोर्ट शीट मे जावक एंट्रीस फिल करे, इम्पोर्ट फीचर नेक्स्ट अपडेट मे अवैलेबल होगा। 
                     </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Excel Export <i class=" uil-check-circle"></i></div>
                        <b> => </b> हर एक पेज मे इक्सेल मे एक्सपर्ट करने की सुविधा बनाई गई है।
                     </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Excel Import <i class=" uil-check-circle"></i></div>
                        <b> 1. => </b> Item Detail और Description फील्ड का डाटा मिसिंग हो रहा था, उसे ठीक किया। <br />
                        <b> 2. => </b> Nimitt, Product Code और सबआइटम को इग्नोर करने की सिविधा बनाई है। <br/>
                        <b> 3. => </b> Correction के दौरान condition के लिस्ट मे आवक टाइप का लिस्ट शो हो रहा था - Solved. 
                     </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Video Tutorials <i class=" uil-check-circle"></i></div>
                        <b> 1. => </b> डिपार्ट्मन्ट पेज का डेमो और उपयोग।  <br />
                        <b> 2. => </b> इक्सेल इम्पोर्ट का डेमो<br/>                        
                     </div>
                  </li>
                  
               </ol>
         </div>
      </div>

      <!-- 29-10-2022 model-->
      <div class="row">
         <div class="card-body">
            <h5>Date: 29-10-2022</h5>
               <ol class="list-group list-group-numbered">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Jawak <i class=" uil-check-circle"></i></div>
                        <b>Excel Export : </b> जावक डाटा इक्सेल शीट मे एक्सपोर्ट होता है।
                     </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold text-success">Bachat <i class=" uil-check-circle"></i></div>
                        <b>फ़िल्टर : </b> केटेगरी और आइटम से फ़िल्टर ठीक किया। <br />
                        <b>Excel Export : </b> बचत डाटा इक्सेल शीट मे एक्सपोर्ट होता है।
                     </div>
                  </li>
               </ol>
         </div>
      </div>


      <!-- 24-09-2022 model -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-09-2022 </h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department Page <i class=" uil-check-circle"></i></div>
                     <b>Import (.Zip) : </b> दूसरे डिपार्ट्मन्ट से आए लिस्ट, या जीप फाइल को यहा से इम्पोर्ट करे।
                     (Same
                     lists दिखेगी नहीं, न्यू lists, अपडेट lists और मिसिंग lists दिखेगी, एक-2 को ठीक करना पड़ेगा। )
                     <br />
                     <b>Item Select : </b> केटेगरी से फ़िल्टर करने मे सुधार।
                     <b>Generate DB : </b> Improvements.
                     <b>Settings : </b> Improvement and bug fix.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Item Page <i class=" uil-check-circle"></i></div>
                     <b>Filter : </b> केटेगरी और सबआइटम के फ़िल्टर मे सुधार। <br />
                     <b>Export To Excel : </b> आइटम और सबआइटम का डाटा इक्सेल मे एक्सपोर्ट करने हेतु। थोड़ा पेज डिजाइन
                     मे
                     भी बदलाव किया है।
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 17-09-2022 updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 17-09-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     <b>Export To Excel : </b> 2 More types of Excel Export Added, "Export Aawak Only" and "Export
                     Jawak
                     Only". <br />
                     <b>In Destribution : </b> Category column Added, jawak detail column order changed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Item Page <i class=" uil-check-circle"></i></div>
                     <b>Clone subitem : </b> क्लोन बटन के द्वारा न्यू आइटम add करने पर उस आइटम के सबआइटम ऑटोमैटिक
                     न्यू
                     आइटम के सबआइटम लिस्ट मे add हो जाएंगे। Ex. <b>'बॉक्स'</b> आइटम, <b>'छोटा', 'बड़ा'</b> सबआइटम। अगर
                     इस
                     बॉक्स आइटम पे बनाए क्लोन बटन को प्रेस करके न्यू आइटम <b>'अलमारी'</b> इन्सर्ट करते है तो
                     <b>'अलमारी'</b> आइटम मे <b>'छोटा', 'बड़ा'</b> सबआइटम अपने आप बन जाएगा। <br />
                     <b>Auto Collapse:</b> अब से आइटम पेज पे सुरू मे सिर्फ इटेम्स दिखेगी, एक आइटम पे क्लिक करने से
                     उसकी
                     सबआइटम दिखने लगेगी।
                     <b>Expand All:</b> सारे आइटम और सबआइटम एक साथ देखने के लिए <b>Expand All</b> चेकबॉक्स के द्वारा
                     औटोमैक सारे सबआइटम दिखने लगेंगे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Images : <i class=" uil-check-circle"></i></div>
                     <b>Multiple Support : </b> पूरे सॉफ्टवेयर मे हर जगह एक से ज्यादा इमेज सिलेक्ट कर सकते है।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-danger">Bachat Page <i class="uil-times-circle"></i></div>
                     <b>Jawak Button : </b> removed.
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Product Page</div>
                     <b> New Development : </b> प्रोडक्ट ऐड करे और प्रोडक्ट आईडी के द्वारा आवक जावक करे। <br />
                     <b>ADVANTAGES:</b> एक प्रोडक्ट कितने मि.म. मे कब और किस कन्डिशन मे गया, पहुचा उसका ट्रैक मिलेगा,
                     प्रोडक्ट की पहचान के लिए और पर्ची, तथा बिल के लिए एक से ज्यादा फोटो अपलोड कर सकते है। <br />
                     <b>Status Color:</b> अगर अखरीं जावक एंट्री से स्टैटस अपडेट हुआ है तो <span
                        class="text-warning">ऑरेंज कलर</span> शो करेगा, और आवक एंट्री से हुआ है तो <span
                        class="text-success">ग्रीन कलर</span> शो करेगा। <br />
                     <b>Product View:</b> प्रोडक्ट के सारे फोटो और हिस्ट्री बड़े रूप मे देखने के लिए।
                     <b>Export To Excel:</b> प्रोडक्ट का लिस्ट इक्सेल मे डाउनलोड करने के लिए।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">आवक जावक एंट्री फॉर्म</div>
                     <b> प्रोडक्ट : </b> प्रोडक्ट सिलेक्ट करने से रेट, अमाउन्ट, qty = 1, यूनिट = pcs अपने आप सिलेक्ट
                     हो
                     जावेगा। और क्वानटिटी को चेंज नहीं कर सकेंगे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">List Import</div>
                     <b> top right corner pe settings icon : </b> सेटिंग्स <b>Import Update (.Zip)</b> बटन पर क्लिक
                     करके
                     जीप फाइल सिलेक्ट करने से कन्ट्री, सिटी, स्टेट, यूनिट, सबआइटम, आइटम, केटेगरी वगेरा सारे लिस्ट
                     अपडेट
                     हो जाएंगे।
                     <span class="text-warning" style="font-size: small;">note : जीप फाइल डिपार्ट्मन्ट पेज पे बनाए
                        <b>Export Lists</b> बटन पर क्लिक कारने से मिलेगा। </span>
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Department : <i class=" uil-check-circle"></i></div>
                     <b>Self Control : </b> सॉफ्टवेयर मे उसे होने वाले आइटम, सबआइटम, केटेगरी को शो हाइड खुद कर सकते
                     है।
                     <br />
                     <b>List Export : </b> दूसरे डिपार्ट्मन्ट को लिस्ट भेजने के लिए डिपार्ट्मन्ट को सिलेक्ट करने के
                     बाद
                     "Export Lists" बटन के द्वारा लिस्ट का zip फाइल डाउनलोड कर सकते है। (इम्पोर्ट फीचर जल्द मिलेगा)
                  </div>
               </li>
            </ol>
         </div>
      </div>

      <!-- 24-08-2022 updates -->
      <div class="row">
         <div class="card-body">
            <h5>Date: 24-08-2022</h5>
            <ol class="list-group list-group-numbered">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Home Page <i class=" uil-check-circle"></i></div>
                     Minor changes - filter option improvements
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">All Entry Forms <i class=" uil-check-circle"></i></div>
                     Focus changes - Tab बटन प्रेस करने पर Focus +Add और <i class=" dripicons-view-list"></i> बटन पर
                     नहीं जाएगा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-success">Aawak Page <i class=" uil-check-circle"></i></div>
                     Export Excel पेज improvements, डिपार्ट्मन्ट वाइज़ कॉलम hide/show होगी, और कॉलम का ऑर्डर जैसा
                     बताया
                     वैसा सेट किया है।
                     Is bill और Image फील्ड को अलग-2 बना दिया है, Image box दिखना बंद हो गया होगा, देखने के लिए
                     निमित्त
                     से न्यू सेटिंग मँगवाके इम्पोर्ट करे।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Aawak & Jawak & Product Page </div>
                     प्रोडक्ट कान्सेप्ट को Redesign करने के लिए कुछ समय के लिए product रिलेटेड हर चीज हटा दी है,
                     aawak,
                     jawak पेज से और प्रोडक्ट पेज पूरा।
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold text-warning">Subitem Entry</div>
                     AutoComplete dropdown under process for SubitemList Field.
                  </div>
               </li>
            </ol>
         </div>
      </div>

   </div>
</div>