<div class="row" id="jawakEntryComponent">
    <div class="card-body">
        <form [formGroup]="jawakForm">
            <div class="row" *ngIf="aawakRef">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Date </span>
                                    <span class="font-12">
                                        {{aawakRef.date}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Pkt No
                                    </span>
                                    <span class="font-12">
                                        {{aawakRef.pkt_num}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Item </span>
                                    <span class="font-12">
                                        {{aawakRef.item_hin}} {{aawakRef.subitem_hin ? ' : ' + aawakRef.subitem_hin :
                                        ''}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Type </span>
                                    <span class="font-12">
                                        {{aawakRef.aawak_type_hin}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 30%;">Item Detail
                                    </span>
                                    <span class="font-12">
                                        {{aawakRef.item_detail}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">To </span>
                                    <span class="font-12">
                                        {{aawakRef.mm_hin}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">From </span>
                                    <span class="font-12">
                                        {{aawakRef.aawak_mm_hin}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Qty </span>
                                    <span class="font-12">
                                        {{aawakRef.qty ? aawakRef.qty : aawakRef.Stock}} {{aawakRef.unit_short}}
                                        {{aawakRef.rate ? ' @ ' + aawakRef.rate
                                        : ''}} {{aawakRef.actual_amt ? ' = ' + aawakRef.actual_amt : ''}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-danger-lighten" style="width: 25%;">बचत </span>
                                    <span class="font-12 text-danger">
                                        {{aawakRef.remaining_qty ? aawakRef.remaining_qty : aawakRef.Stock}}
                                        {{aawakRef.unit_short}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 30%;">Description
                                    </span>
                                    <span class="font-12">
                                        {{aawakRef.description}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="settings.jawak.pbk_id">
                        <div class="col-4">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten" style="width: 25%;">Pbk</span>
                                    <span class="font-12">
                                        {{aawakRef.roll_no ? aawakRef.roll_no : '___'}} - {{aawakRef.pbk_hin}}
                                        {{aawakRef.relation}} {{aawakRef.relative_name}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="settings.jawak.product_id || settings.jawak.condition_id">
                            <div>
                                <h5>
                                    <span class="font-14 badge badge-secondary-lighten"
                                        style="width: 25%;">Product</span>
                                    <span class="font-12">
                                        {{aawakRef.product_code}} {{aawakRef.condition_hin}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 mb-3" *ngIf="settings.jawak.pkt_num">
                    <div class="form-group">
                        <label class="form-label">Pkt No</label>
                        <input type="text" class="form-control" placeholder="Pkt No" formControlName="pkt_num"
                            [ngClass]="{'validation':jawakForm.get('pkt_num')?.errors && (jawakForm.get('pkt_num')?.touched || jawakForm.get ('pkt_num')?.dirty)}">
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" placeholder="Date" formControlName="date"
                            [ngClass]="{'validation':jawakForm.get('date')?.errors && (jawakForm.get('date')?.touched || jawakForm.get ('date')?.dirty)}">
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="!aawakRef || !aawakRef.mm_id">
                    <div class="form-group">
                        <label class="form-label">MM</label>
                        <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end"
                            onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                            (click)="showModal = 'Add MM'">
                            + Add
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="true"
                            [virtualScroll]="true" formControlName="mm_id" [readonly]="isEdit"
                            [ngClass]="{'validation':jawakForm.get('mm_id')?.errors && (jawakForm.get('mm_id')?.touched || jawakForm.get ('mm_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">Jawak MM</label>
                        <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end"
                            onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                            (click)="showModal = 'Add MM'">
                            + Add
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="Jawak MM" [clearable]="true"
                            [virtualScroll]="true" formControlName="jawak_mm_id"
                            [ngClass]="{'validation':jawakForm.get('jawak_mm_id')?.errors && (jawakForm.get('jawak_mm_id')?.touched || jawakForm.get ('jawak_mm_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Jawak MM</ng-option>
                            <ng-option *ngFor="let item of mms" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- <div class="col-md-2 mb-3" *ngIf="!aawakRef || !aawakRef.Nimitt">
                    <div class="form-group">
                        <label class="form-label">Nimitt</label>
                        <input type="text" class="form-control" placeholder="Nimitt" formControlName="nimitt"
                            [ngClass]="{'validation':jawakForm.get('nimitt')?.errors && (jawakForm.get('nimitt')?.touched || jawakForm.get ('nimitt')?.dirty)}">
                    </div>
                </div> -->
                <div class="col-md-2 mb-3" *ngIf="!aawakRef || !aawakRef.Nimitt">
                    <div class="form-group">
                        <label class="form-label">Nimitt</label>
                        <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end"
                            onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                            (click)="showModal='Add Nimitt'">+
                            Add</a>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt" [clearable]="true"
                            [virtualScroll]="true" formControlName="nimitt_id"
                            [ngClass]="{'validation':jawakForm.get('nimitt_id')?.errors && (jawakForm.get('nimitt_id')?.touched || jawakForm.get ('nimitt_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                            <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                {{item.nimitt_hin}}{{item.nimitt_eng ? ' : '+ item.nimitt_eng : ''}}{{' ('+
                                item.nimitt_state_hin + ')'}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.jawak.pbk_id">
                    <div class="form-group">
                        <label class="form-label">Sewadhari</label>
                        <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add PBK')">
                            + PBK
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                            [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                            <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                            </ng-option>
                            <ng-option *ngFor="let item of states" [value]="item._id">
                                {{item.state_hin}} : {{item.state_eng}}
                            </ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                            [clearable]="true" [virtualScroll]="true" formControlName="pbk_id"
                            [ngClass]="{'validation':jawakForm.get('pbk_id')?.errors && (jawakForm.get('pbk_id')?.touched || jawakForm.get ('pbk_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                            </ng-option>
                            <ng-option *ngFor="let item of pbks" [value]="item._id">
                                {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                                {{item.relative_name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="!aawakRef || !aawakRef.item_id">
                    <div class="form-group">
                        <label class="form-label">Filter Items By</label>
                        <!-- <button type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary float-end"
                      onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                      (click)="showModal = 'Add Department'">
                      + Add
                   </button> -->
                        <ng-select *ngIf="departments && departments.length" class="custom" style="width: 100%;"
                            placeholder="Select Department" [clearable]="true" [virtualScroll]="true"
                            (change)="deptSelected($event)" [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let item of departments" [value]="item._id">{{item.dept_hin}} :
                                {{item.dept_eng}}{{item.dept_code?' : '+item.dept_code:''}}</ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Category"
                            [clearable]="true" [virtualScroll]="true" (change)="catSelected($event)"
                            [ngModelOptions]="{standalone: true}">
                            <ng-option *ngFor="let item of categories" [value]="item._id">{{item.category_hin}} :
                                {{item.category_eng}}</ng-option>
                        </ng-select>
                    </div>
                </div>


                <div class="col-md-3 mb-3" *ngIf="!aawakRef || !aawakRef.item_id">
                    <div class="form-group">
                        <label class="form-label">Item & Subitem</label>
                        <div class="float-end" *ngIf="settings.item.add">
                            <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary"
                                onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                                (click)="showModal = 'Add Item'">
                                + Item
                            </a>
                            <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary mx-1"
                                onclick="$('#jawakEntryComponent > #showModal').modal('show')"
                                (click)="showModal = 'Add Subitem'">
                                + Subitem
                            </a>
                        </div>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Item" [clearable]="true"
                            [virtualScroll]="true" formControlName="item_id" (change)="itemSelected($event)"
                            [readonly]="isEdit || ref_id"
                            [ngClass]="{'validation':jawakForm.get('item_id')?.errors && (jawakForm.get('item_id')?.touched || jawakForm.get ('item_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Item</ng-option>
                            <ng-option *ngFor="let item of items" [value]="item._id">{{item.item_hin}} :
                                {{item.item_eng}} : {{item.item_code}}</ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select SubitemList"
                            [clearable]="true" [virtualScroll]="true" formControlName="subitem_id"
                            [readonly]="isEdit || ref_id"
                            [ngClass]="{'validation':jawakForm.get('subitem_id')?.errors && (jawakForm.get('subitem_id')?.touched || jawakForm.get ('subitem_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Subitem</ng-option>
                            <ng-option *ngFor="let item of subitems" [value]="item._id">{{item.subitem_hin}} :
                                {{item.subitem_eng}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- product & condition -->
                <!-- <div class="col-md-3 mb-3"
                    *ngIf="(settings.jawak.product_id || settings.jawak.condition_id) && (!aawakRef || !aawakRef.condition_id)">
                    <div class="form-group">
                        <label class="form-label">Product & Condition</label>
                        <div class="float-end">
                            <a type="button" style="padding: 1px 6px !important;" class="btn btn-outline-primary"
                                (click)="openModal('Add Product')">
                                + product
                            </a>
                        </div>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Product" [clearable]="true"
                            [virtualScroll]="true" formControlName="product_id" (change)="productSelected($event)"
                            [ngClass]="{'validation':jawakForm.get('product_id')?.errors && (jawakForm.get('product_id')?.touched || jawakForm.get ('product_id')?.dirty)}"
                            [readonly]="isEdit || ref_id" *ngIf="settings.jawak.product_id">
                            <ng-option selected="selected" disabled value="">Select Product</ng-option>
                            <ng-option *ngFor="let item of products" [value]="item._id">{{item.item_hin}} :
                                {{item.subitem_hin}}
                                : {{item.product_code ? item.product_code : ''}} : {{item.sr_num ? item.sr_num : ''}}
                            </ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Condition"
                            [clearable]="true" [virtualScroll]="true" formControlName="condition_id"
                            *ngIf="settings.jawak.condition_id"
                            [ngClass]="{'validation':jawakForm.get('condition_id')?.errors && (jawakForm.get('condition_id')?.touched || jawakForm.get ('condition_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                            <ng-option *ngFor="let item of conditions" [value]="item._id">{{item.list_name_hin}} :
                                {{item.list_name_eng}} </ng-option>
                        </ng-select>
                    </div>
                </div> -->

                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Quantity</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="{{'i.e. 10 '+ unit_short }}"
                                formControlName="qty"
                                [ngClass]="{'validation':jawakForm.get('qty')?.errors && (jawakForm.get('qty')?.touched || jawakForm.get ('qty')?.dirty)}">
                            <span class="input-group-text">{{unit_short}}</span>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Unit</label>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Unit"
                            [clearable]="false" [virtualScroll]="true" formControlName="unit_id" [disabled]="true"
                            [ngClass]="{'validation':jawakForm.get('unit_id')?.errors && (jawakForm.get('unit_id')?.touched || jawakForm.get ('unit_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Unit</ng-option>
                            <ng-option *ngFor="let item of units" [value]="item._id">{{item.unit_short}} :
                                {{item.unit_full}}</ng-option>
                        </ng-select>
                    </div>
                </div> -->

                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Jawak Type</label>
                        <div class="float-end">
                            <a type="button" style="padding: 1px 6px !important; margin-right: 2px !important;"
                                class="btn btn-sm btn-outline-primary" (click)="setView('jawak_type')"><i
                                    class=" dripicons-view-list"></i></a>
                            <a type="button" style="padding: 1px 6px !important;"
                                class="btn btn-outline-primary float-end" (click)="openModal('Add Jawak Type')">+
                                Add</a>
                        </div>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Jawak Type"
                            [clearable]="true" [virtualScroll]="true" formControlName="jawak_type_id"
                            [ngClass]="{'validation':jawakForm.get('jawak_type_id')?.errors && (jawakForm.get('jawak_type_id')?.touched || jawakForm.get ('jawak_type_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Jawak Type</ng-option>
                            <ng-option *ngFor="let item of jawak_types" [value]="item._id">{{item.list_name_hin}} :
                                {{item.list_name_eng}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.jawak.item_detail">
                    <div class="form-group">
                        <label class="form-label">Item Detail</label>
                        <textarea class="form-control" placeholder="Item Detail" formControlName="item_detail"
                            [ngClass]="{'validation':jawakForm.get('item_detail')?.errors && (jawakForm.get('item_detail')?.touched || jawakForm.get ('item_detail')?.dirty)}"></textarea>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.jawak.description">
                    <div class="form-group">
                        <label class="form-label">Jawak Description</label>
                        <textarea class="form-control" placeholder="Jawak Description" formControlName="description"
                            [ngClass]="{'validation':jawakForm.get('description')?.errors && (jawakForm.get('description')?.touched || jawakForm.get ('description')?.dirty)}"></textarea>
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <button class="btn btn-primary submit mx-3" type="submit" *ngIf="!this.isEdit"
                        (click)="jawakFormSubmit()">Submit</button>
                    <button class="btn btn-warning submit mx-3" type="submit" *ngIf="this.isEdit"
                        (click)="jawakFormUpdate()">Update</button>
                    <!-- <button class="btn btn-light submit" type="button" (click)="jawakForm.reset()">Clear</button> -->
                </div>

            </div>
        </form>
    </div>














    <!-- Image upload Model -->
    <!-- <div class="modal fade" id="addImages" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" style="width:95%">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                <button type="button" class="btn-close" onclick="$('#jawakEntryComponent > #addImages').modal('hide')"
                   aria-label="Close"></button>
             </div>
             <div class="modal-body">
                <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)">
                </app-files-view>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width: 120px;"
                   onclick="$('#jawakEntryComponent > #addImages').modal('hide')">Close</button>
             </div>
          </div>
       </div> -->
    <!-- </div> -->

    <!-- Modal -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#jawakEntryComponent > #showModal').modal('hide')" (click)="showModal = ''"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add MM -->
                    <app-mm-entry *ngIf="showModal == 'Add MM'" (response)="mmAddResponse($event)"></app-mm-entry>

                    <!-- Add Item  -->
                    <app-item-entry *ngIf="showModal == 'Add Item'" (response)="itemAddResponse($event)">
                    </app-item-entry>

                    <!-- Add Subitem_List  -->
                    <app-subitem-entry *ngIf="showModal == 'Add Subitem'" (response)="subitemAddResponse($event)">
                    </app-subitem-entry>

                    <!-- Add Condition -->
                    <app-support-list-entry *ngIf="showModal == 'Add Condition'"
                        (response)='conditionAddResponse($event)' list_type="condition"> </app-support-list-entry>

                    <!-- Add PBK -->
                    <app-pbk-entry *ngIf="showModal == 'Add PBK'" (response)='pbkAddResponse($event)'>
                    </app-pbk-entry>

                    <!-- Add JMM -->
                    <app-mm-entry *ngIf="showModal == 'Add JMM'" (response)='jmmAddResponse($event)'>
                    </app-mm-entry>

                    <!-- Add Nimitt  -->
                    <app-pbk-entry *ngIf="showModal == 'Add Nimitt'" (response)="nimittAddResponse($event)"
                        [isNimitt]="true">
                    </app-pbk-entry>

                    <!-- Add Jawak Type  -->
                    <app-support-list-entry *ngIf="showModal == 'Add Jawak Type'"
                        (response)="jawakTypeAddResponse($event)" list_type="jawak_type">
                    </app-support-list-entry>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#jawakEntryComponent > #showModal').modal('hide')"
                        (click)="showModal = ''">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Data View For Small List -->
    <div class="modal fade" id="dataView" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{viewType}} DATA-VIEW</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#jawakEntryComponent > #dataView').modal('hide')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Relation List -->
                    <app-data-view *ngIf="viewType == 'Relation'" [getData]="viewData" Type="relation"></app-data-view>

                    <!-- Gender List -->
                    <app-data-view *ngIf="viewType == 'Condition'" [getData]="viewData" Type="condition">
                    </app-data-view>

                    <!-- Status List -->
                    <app-data-view *ngIf="viewType == 'Status'" [getData]="viewData" Type="status"></app-data-view>

                    <!-- Status List -->
                    <app-data-view *ngIf="viewType == 'jawak_type'" [getData]="viewData" Type="jawak_type">
                    </app-data-view>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#jawakEntryComponent > #dataView').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>