<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row" *ngIf="bachatData.length">
               <div class="card-body">
                  <div class="row d-flex justify-content-between">
                     <div class="col-5">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-success w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
                              class="uil-search-plus h4 icon-mx-2"></i> Advance Search
                        </button>
                     </div>
                     <div class="col-3">
                        <button type="button" class="btn btn-outline-success dropdown-toggle mx-2"
                           data-bs-toggle="dropdown" aria-expanded="false"> Export To Excel </button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" (click)="excelExportBachatOnly()">Bachat Only</a>
                           <a class="dropdown-item" (click)="excelExportSaar()">Saar</a>
                           <a class="dropdown-item" (click)="excelExportFull()">Full Saar</a>
                        </div>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">
                           Total Count : {{bachatData.length}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        <form #filterForm="ngForm">
                           <div class="row">
                              <div class="col-3">
                                 <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                    [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)"
                                    [(ngModel)]="filterBody.state_id" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let item of states" [value]="item._id">
                                       {{item.state_hin}}:{{item.state_eng}}</ng-option>
                                 </ng-select>
                              </div>
                              <div class="col-3">
                                 <ng-select class="custom" style="width: 100%;" placeholder="Select MM"
                                    [clearable]="true" [virtualScroll]="true" (change)="filter()"
                                    [(ngModel)]="filterBody.mm_id" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let item of mms" [value]="item._id">
                                       {{item.mm_hin}}:{{item.mm_eng}}:{{item.mm_code}}</ng-option>
                                 </ng-select>
                              </div>
                              <div class="col-3">
                                 <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                                    [clearable]="true" [virtualScroll]="true" (change)="catSelected($event)"
                                    [(ngModel)]="filterBody.category_id" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let item of categories" [value]="item._id">
                                       {{item.category_hin}}:{{item.category_eng}}</ng-option>
                                 </ng-select>
                              </div>
                              <div class="col-3">
                                 <ng-select class="custom" style="width: 100%;" placeholder="Select Item"
                                    [clearable]="true" [virtualScroll]="true" (change)="itemSelected($event)"
                                    [(ngModel)]="filterBody.item_id" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let item of items" [value]="item._id">
                                       {{item.item_hin}}:{{item.item_eng}}:{{item.item_code}}</ng-option>
                                 </ng-select>
                              </div>
                              <div class="col-3 mt-2">
                                 <ng-select class="custom" style="width: 100%;" placeholder="Select Subitem"
                                    [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.subitem_id"
                                    [ngModelOptions]="{standalone: true}" (change)="filter()">
                                    <ng-option *ngFor="let item of subitems" [value]="item._id">
                                       {{item.subitem_hin}}:{{item.subitem_eng}}</ng-option>
                                 </ng-select>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-2 mb-2">
                  <div class="form-group">
                     <label class="form-label">Year</label>
                     <ng-select class="custom" style="width: 100%;" placeholder="Select Year" [clearable]="true"
                        [virtualScroll]="true" [(ngModel)]="filterBody.year" name="year"
                        (change)="months = gs.yearChangedGetMonth($event)">
                        <ng-option selected="selected" disabled value="">Select Year
                        </ng-option>
                        <ng-option *ngFor="let item of gs.years" [value]="item">{{item}}</ng-option>
                     </ng-select>
                  </div>
               </div>
               <div class="col-md-2 mb-2">
                  <div class="form-group">
                     <label class="form-label">Month</label>
                     <ng-select class="custom" style="width: 100%;" placeholder="Select Month" [clearable]="true"
                        [virtualScroll]="true" [(ngModel)]="filterBody.months" name="month" [multiple]="true"
                        [ngModalOptions]="{standalone: true}">
                        <ng-option selected="selected" disabled value="">Select Month
                        </ng-option>
                        <ng-option *ngFor="let item of months" [value]="item.m">{{item.name}}</ng-option>
                     </ng-select>
                  </div>
               </div>
               <div class="col-md-2 mb-2" *ngIf="monthsSel.length > 0">
                  <div class="form-group">
                     <label class="form-label"></label>
                     <button type="button" class="form-control btn btn-outline-success dropdown-toggle mx-2"
                        data-bs-toggle="dropdown" aria-expanded="false"> Export To Excel </button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="excelExportMonthlyMain()">Main Saar</a>
                        <a class="dropdown-item" (click)="excelExportMonthlyConditionWise()">Condition Wise</a>
                     </div>
                  </div>

               </div>
               <div class="col-md-2 mb-2">
                  <div class="form-group">
                     <label class="form-label">.</label>
                     <button class="btn btn-primary form-control" (click)="filter()">Submit</button>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="bachatData.length">
               <div class="card-body" style="overflow: auto;">
                  <h4 class="card-title">Click Row to See More Details.</h4>
                  <table id="datatable-buttons" class="table dt-responsive">
                     <thead>
                        <tr *ngIf="monthsSel.length <= 0">
                           <!-- <td>Image</td> -->
                           <td style="width: 70px;">No.</td>
                           <td style="width: 100px;">Department</td>
                           <td style="width: 180px;">M M </td>
                           <td>Category</td>
                           <td>Item</td>
                           <td>Total Aawak</td>
                           <td>Used</td>
                           <td>Other Jawak</td>
                           <td>
                              Bachat <br />
                              <div class="form-check mb-2">
                                 <input type="checkbox" class="form-check-input" id="customCheckcolor1"
                                    (change)="hideBachatZero($event.target)">
                                 <label class="form-check-label fs-6" for="customCheckcolor1">Hide 0</label>
                              </div>
                           </td>
                        </tr>
                        <ng-container *ngIf="monthsSel.length > 0">
                           <tr>
                              <td rowspan="2" style="width: 70px;">No.</td>
                              <td rowspan="2" style="width: 100px;">Department</td>
                              <td rowspan="2" style="width: 180px;">Mini_Madhuban</td>
                              <td rowspan="2">Category</td>
                              <td rowspan="2">Item_Subitem_Name</td>
                              <td rowspan="2" *ngIf="monthsSel.length > 0">Condition</td>
                              <td rowspan="2">पिछला बचत</td>
                              <th colspan="4" class="center-header partition" *ngFor="let row of monthsSel">{{ row.name
                                 +
                                 " - " + filterBody.year }}</th>
                           </tr>
                           <tr>
                              <ng-container *ngFor="let row of monthsSel">
                                 <td class="partition">Total Aawak</td>
                                 <td>Used</td>
                                 <td>Other Jawak</td>
                                 <td>Bachat</td>
                              </ng-container>
                           </tr>
                        </ng-container>
                     </thead>
                     <tbody class="accordion" id="accordionExample">
                        <ng-container *ngFor="let data of bachatData | search:term; let i=index" class="accordion-item">
                           <tr data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + i" aria-expanded="true"
                              [attr.aria-controls]="'#collapse-' + i" class="main-row" (click)="rowClicked(data, i)">
                              <!-- <td>
                                 <div> 
                                    <img [src]="data.image" class="img-fluid img-thumbnail mx-1 p-1 h-100" *ngIf="data.image"
                                    style="max-width: 75px; object-fit: cover;" alt="item-img + {{i}}"  />
                                 </div>
                              </td> -->
                              <td>{{i+1}}</td>
                              <td>
                                 {{data.dept_hin}} {{data.dept_code ? "(" + data.dept_code + ")" : ''}}
                              </td>
                              <td>
                                 {{data.mm_hin}} ({{data.state_hin}})<br />
                                 {{data.mm_eng}} ({{data.state_eng}})
                              </td>
                              <td>
                                 {{data.categories_eng ? data.categories_eng : data.categories_hin}}
                              <td>
                                 {{data.item_hin}} {{data.subitem_hin ? " : " + data.subitem_hin : ""}} <br />
                                 {{data.item_eng}} {{data.subitem_eng ? " : " + data.subitem_eng : ""}}
                              </td>
                              <ng-container *ngIf="monthsSel.length <= 0">
                                 <td>
                                    <span [ngClass]="{'error': data.total_aawak_all < 0}">
                                       {{data.total_aawak_all + " " + data.unit_short}}
                                    </span>
                                 </td>
                                 <td>
                                    <span [ngClass]="{'error': data.total_used_all < 0}">
                                       {{data.total_used_all + " " + data.unit_short}}
                                    </span>
                                 </td>
                                 <td>
                                    <span [ngClass]="{'error': data.total_jawak_all < 0}">
                                       {{data.total_jawak_all + " "+ data.unit_short}}
                                    </span>
                                 </td>
                                 <td>
                                    <span class="px-1"
                                       [ngClass]="{'error': data.total_bachat_all < 0, 'stock':data.total_bachat_all > 0}">
                                       {{data.total_bachat_all + " " + data.unit_short}}
                                    </span>
                                 </td>
                              </ng-container>
                              <ng-container *ngIf="monthsSel.length > 0">
                                 <td>
                                    {{data.condition_hin ? data.condition_hin : 'N/A'}} <br />
                                    {{data.condition_eng ? data.condition_eng : 'N/A'}}
                                 </td>
                                 <td>{{data.past_bachat + " " + data.unit_short}}</td>

                                 <ng-container *ngFor="let row of monthsSel; let m = index;">
                                    <td (mouseenter)="data.showTooltip[m] = true"
                                       (mouseleave)="data.showTooltip[m] = false"
                                       (click)="editComment(i, m, data, 'main_row')" class="partition comment"
                                       [ngClass]="{'cell-highlight':data.showTooltip[m]}"><span
                                          [ngClass]="{'error': data.arr_sum_aawak[m] < 0}">{{data.arr_sum_aawak[m]}}</span>
                                    </td>
                                    <td (mouseenter)="data.showTooltip[m] = true"
                                       (mouseleave)="data.showTooltip[m] = false"
                                       (click)="editComment(i, m, data, 'main_row')" class="comment"
                                       [ngClass]="{'cell-highlight':data.showTooltip[m]}"><span
                                          [ngClass]="{'error': data.arr_sum_used[m] < 0}">{{data.arr_sum_used[m]}}</span>
                                    </td>
                                    <td (mouseenter)="data.showTooltip[m] = true"
                                       (mouseleave)="data.showTooltip[m] = false"
                                       (click)="editComment(i, m, data, 'main_row')" class="comment"
                                       [ngClass]="{'cell-highlight':data.showTooltip[m]}"><span
                                          [ngClass]="{'error': data.arr_sum_jawak[m] < 0}">{{data.arr_sum_jawak[m]}}</span>
                                    </td>
                                    <td (mouseenter)="data.showTooltip[m] = true"
                                       (mouseleave)="data.showTooltip[m] = false"
                                       (click)="editComment(i, m, data, 'main_row')" class="comment-cell"
                                       [ngClass]="{'cell-highlight':data.showTooltip[m]}">
                                       <div class="cell-content"
                                          [ngClass]="{'error': data.arr_sum_bachat[m] < 0, 'stock':data.arr_sum_bachat[m] > 0}">
                                          {{data.arr_sum_bachat[m]}}</div>
                                       <div [ngClass]="{'comment-indicator':data.arr_comment[m]}">
                                       </div>
                                       <div class="comment-tooltip"
                                          [hidden]="!data.showTooltip[m] || !data.arr_comment[m]">
                                          {{data.arr_comment[m]}}
                                          <!-- <textarea [(ngModel)]="data.arr_comment[m]" (blur)="toggleEditMode(i, m)"
                                             (input)="handleInputChange(i, m)"></textarea> -->
                                          <!-- <span [hidden]="data.editMode && data.editMode[m]" [class.changed]="data.commentChanged && data.commentChanged[m]">{{
                                             data.arr_comment[m] }}</span>
                                          <textarea [hidden]="!data.editMode || !data.editMode[m]" [(ngModel)]="data.arr_comment[m]"
                                             (blur)="toggleEditMode(i, m)" (input)="handleInputChange(i, m)"></textarea> -->

                                       </div>
                                    </td>
                                 </ng-container>

                              </ng-container>
                           </tr>
                           <ng-container *ngIf="monthsSel.length <= 0 && data.arr_condition_id.length > 0">
                              <tr [attr.id]="'collapse-' + i" class="accordion-collapse collapse ribbon-box"
                                 aria-labelledby="headingOne">
                                 <td colspan="3" style="border: none;"></td>
                                 <td colspan="6" class="sub-row">
                                    <table class="" style="width: 99.7%;table-layout: fixed;">
                                       <!-- <thead>
                                          <td>C</td>
                                       </thead> -->
                                       <tbody>
                                          <tr *ngFor="let bcht of data.arr_condition_hin; let j = index;">
                                             <td style="width: 75px;">
                                                <i class="uil-corner-down-right"></i>
                                                <span class="mx-1">{{j+1}} </span>
                                             </td>
                                             <td><span [ngClass]="{'error': bcht < 0}"> {{bcht}}</span></td>
                                             <td><span [ngClass]="{'error': data.arr_sum_aawak[j] < 0}">
                                                   {{data.arr_sum_aawak[j] + " " + data.unit_short }}</span></td>
                                             <td><span [ngClass]="{'error': data.arr_sum_used[j] < 0}">
                                                   {{data.arr_sum_used[j] + " " + data.unit_short }}</span></td>
                                             <td><span [ngClass]="{'error': data.arr_sum_jawak[j] < 0}">
                                                   {{data.arr_sum_jawak[j] + " " + data.unit_short }}</span></td>
                                             <td>
                                                <span class="px-1"
                                                   [ngClass]="{'error': data.arr_sum_bachat[j] < 0, 'stock':data.arr_sum_bachat[j] > 0}">
                                                   {{data.arr_sum_bachat[j] + " " + data.unit_short}}
                                                </span>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </ng-container>
                           <!-- [attr.id]="'collapse-' + i" -->
                           <ng-container *ngIf="monthsSel.length > 0 && data.subReport">
                              <tr *ngFor="let sdata of data[data.currentReport]; let j = index;"
                                 class="accordion-collapse collapse ribbon-box show" aria-labelledby="headingOne">
                                 <ng-container *ngIf="j == 0">
                                    <td colspan="3" [attr.rowspan]="data[data.currentReport].length"
                                       style="border: none;">
                                       <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                          aria-orientation="vertical">
                                          <ng-container *ngFor="let op of operationList;">
                                             <a class="nav-link"
                                                [ngClass]="{'active': data.currentReport == op.key, 'no-data': !data[op.key] || data[op.key].length < 1}"
                                                (click)="operationClick(op.key, i)">
                                                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                <span class="d-none d-md-block">{{op.name}}</span>
                                             </a>
                                          </ng-container>
                                       </div>
                                    </td>
                                 </ng-container>
                                 <td>{{j+1}}</td>
                                 <td>
                                    {{(sdata.list_name_hin ? sdata.list_name_hin : 'N/A')}}
                                    {{(sdata.list_name_eng ? " : " + sdata.list_name_eng : '')}}
                                 </td>
                                 <ng-container *ngIf="monthsSel.length > 0">
                                    <td>{{sdata.past_bachat ? sdata.past_bachat : 0 + " " + sdata.unit_short}}</td>
                                    <ng-container *ngFor="let row of monthsSel; let m = index;">
                                       <td (mouseenter)="sdata.showTooltip[m] = true"
                                          (mouseleave)="sdata.showTooltip[m] = false"
                                          (click)="editComment(i, m, sdata, data.currentReport, j)"
                                          class="partition comment" [ngClass]="{'cell-highlight':sdata.showTooltip[m]}">
                                          {{sdata.arr_sum_aawak[m] ? sdata.arr_sum_aawak[m] : '-'}}
                                       </td>
                                       <td (mouseenter)="sdata.showTooltip[m] = true"
                                          (mouseleave)="sdata.showTooltip[m] = false"
                                          (click)="editComment(i, m, sdata, data.currentReport, j)" class="comment"
                                          [ngClass]="{'cell-highlight':sdata.showTooltip[m]}">
                                          <span [ngClass]="{'error': sdata.arr_sum_used[m] < 0}">
                                             {{sdata.arr_sum_used[m] ? sdata.arr_sum_used[m] : '-'}}
                                          </span>
                                       </td>
                                       <td (mouseenter)="sdata.showTooltip[m] = true"
                                          (mouseleave)="sdata.showTooltip[m] = false"
                                          (click)="editComment(i, m, sdata, data.currentReport, j)" class="comment"
                                          [ngClass]="{'cell-highlight':sdata.showTooltip[m]}">
                                          <span [ngClass]="{'error': sdata.arr_sum_jawak[m] < 0}">
                                             {{sdata.arr_sum_jawak[m] ? sdata.arr_sum_jawak[m] : '-'}}
                                          </span>
                                       </td>
                                       <td (mouseenter)="sdata.showTooltip[m] = true"
                                          (mouseleave)="sdata.showTooltip[m] = false"
                                          (click)="editComment(i, m, sdata, data.currentReport, j)" class="comment-cell"
                                          [ngClass]="{'cell-highlight':sdata.showTooltip[m]}">

                                          <div class="cell-content"
                                             [ngClass]="{'error': sdata.arr_sum_bachat[m] < 0, 'stock':sdata.arr_sum_bachat[m] > 0}">
                                             {{sdata.arr_sum_bachat[m] ? sdata.arr_sum_bachat[m] : '-'}}</div>
                                          <div [ngClass]="{'comment-indicator':sdata.arr_comment[m]}">
                                          </div>
                                          <div class="comment-tooltip"
                                             [hidden]="!sdata.showTooltip[m] || !sdata.arr_comment[m]">
                                             {{sdata.arr_comment[m]}}
                                          </div>

                                       </td>
                                    </ng-container>
                                 </ng-container>
                              </tr>
                           </ng-container>

                        </ng-container>
                     </tbody>
                  </table>
               </div>
            </div>

            <h2 class="text-center m-5" *ngIf="!bachatData.length">No Data!</h2>
         </div>
      </div>
   </div>
</div>



<!-- Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-jawak-entry *ngIf="showModal == 'Add Jawak'" (response)='addJawakResponse($event)'
               [aawakRef]="editData"></app-jawak-entry>
            <!-- <app-aawak-entry *ngIf="showModal == 'Add Aawak'" (response)='addAawakResponse($event)'></app-aawak-entry>
            <app-aawak-entry *ngIf="showModal == 'Edit Aawak'" (response)='editAawakResponse($event)'
               [getData]="editData" [isEdit]="true"></app-aawak-entry> -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>

</div>
<!-- ImageModal -->
<div class="modal fade" id="showImageModal" data-bs-backdrop="static" tabindex="-1"
   aria-labelledby="exampleImageModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleImageModalLabel">Show Image</h5>
            <button type="button" onclick="$('#showImageModal').modal('hide')" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="card-body">
               <div class="row">
                  <div class="col-lg-1" style="border-right: 0.5px #4c5763 dashed; height: 500px; overflow-y: auto;">
                     <div>
                        <a *ngFor="let img of imagesToShow; let i = index;" href="javascript: void(0);" class="mt-1"
                           (click)="currentImage = img">
                           <img [src]="img" class="img-fluid img-thumbnail mx-1 p-1 h-100"
                              style="max-width: 75px; object-fit: cover;" alt="item-img + {{i}}" />
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-11">

                     <!-- Product image -->
                     <div class="m-1 p-1" style="height:500px;border: 0.5px #3c454f solid;">
                        <a class=" text-center mb-4">
                           <img [src]="currentImage" class="img-fluid" style="height: 100%;width: 100%;
                                  object-fit: contain;" alt="item-img" />
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showImageModal').modal('hide')">Close</button>
         </div>
      </div>
   </div>
</div>