// .ng-dropdown-panel .ng-dropdown-panel-items{
//     position: initial !important;
// }

// .ng-dropdown-panel .scrollable-content{
//     width: auto !important;
// }

// ::ng-deep .ng-dropdown-panel {
//     width: auto;
//     position: initial;
// }

.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}