<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<div class="row" id="bunchAawakEntryComponent">
    <div class="card-body">

        <form #fMain="ngForm">

            <!-- main row -->
            <div class="row">
                <div class="col-md-2 mb-3" *ngIf="settings.aawak.pkt_num">
                    <div class="form-group">
                        <label class="form-label">Date & Pkt Num</label>
                        <input type="date" class="form-control" placeholder="Date" [(ngModel)]="fs.aawakFormMain.date"
                            name="date" #date="ngModel"
                            [ngClass]="{'validation' : (date?.touched || fMain.submitted) && date.errors?.['required']}"
                            required>
                        <input type="text" class="form-control mt-1" placeholder="Pkt Num"
                            [(ngModel)]="fs.aawakFormMain.pkt_num" name="pkt_num" #pkt_num="ngModel">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">MM & Aawak MM</label>
                        <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add MM')">
                            + Add
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="false"
                            [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.mm_id" name="mm_id" #mm_id="ngModel"
                            [ngClass]="{ 'validation': (mm_id?.touched || fMain.submitted) && mm_id.errors?.['required']}"
                            required>
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.aawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Aawak MM" [clearable]="false"
                            [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.aawak_mm_id" name="aawak_mm_id"
                            #aawak_mm_id="ngModel"
                            [ngClass]="{ 'validation': (aawak_mm_id?.touched || fMain.submitted) && aawak_mm_id.errors?.['required']}"
                            [required]="fs.aawakFormMain.pbk_id == null">
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.aawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.aawak.pbk_id">
                    <div class="form-group">
                        <label class="form-label">Sewadhari</label>
                        <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add PBK')">
                            + PBK
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                            [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                            <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                            </ng-option>
                            <ng-option *ngFor="let item of states" [value]="item._id">
                                {{item.state_hin}} : {{item.state_eng}}
                            </ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.pbk_id"
                            name="pbk_id" #pbk_id="ngModel"
                            [ngClass]="{ 'validation': (pbk_id?.touched || fMain.submitted) && pbk_id.errors?.['required']}"
                            [required]="fs.aawakFormMain.aawak_mm_id == null">
                            <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                            </ng-option>
                            <ng-option *ngFor="let item of pbks" [value]="item._id">
                                {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                                {{item.relative_name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-4 d-flex flex-column mb-3">
                    <div class="form-group">
                        <div class="flex-fill d-flex flex-row">
                            <div class="flex-fill" *ngIf="settings.aawak.nimitt_id">
                                <label class="form-label">Nimitt</label>
                                <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                                    class="btn btn-outline-primary float-end"
                                    onclick="$('#bunchAawakEntryComponent > #showModal').modal('show')"
                                    (click)="showModal='Add Nimitt'">+
                                    Add</a>
                                <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt"
                                    [clearable]="false" [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.nimitt_id"
                                    name="nimitt_id" #nimitt_id="ngModel">
                                    <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                                    <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                        {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})</ng-option>
                                </ng-select>
                            </div>
                            <div class="flex-fill">
                                <button class="btn btn-primary submit mx-3" type="submit" *ngIf="!this.isEdit"
                                    (click)="bunchAawakSubmit()">Submit</button>
                                <button class="btn btn-warning submit mx-3" type="submit" *ngIf="this.isEdit"
                                    (click)="bunchAawakUpdate()">Update</button>
                            </div>
                        </div>
                        <div class="flex-fill mt-1" *ngIf="settings.aawak.description">
                            <textarea class="form-control" placeholder="विवरण"
                                [(ngModel)]="fs.aawakFormMain.description" name="description"
                                #description="ngModel"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <!-- items table row -->
            <div class="row">
                <div class="card card-body" style="font-size: smaller; overflow-x: scroll; padding-bottom: 250px;">
                    <table class="table table-bordered border-primary table-centered mb-0" style="width: max-content;">
                        <thead>
                            <tr>
                                <th>Jawak</th>
                                <th class="mw-6" *ngIf="settings.aawak.lot_no">Lot No</th>
                                <th class="mw-10">Item<strong class="text-danger">*</strong></th>
                                <th class="mw-8">Subitem</th>
                                <th class="mw-8" *ngIf="settings.aawak.product_id">Product</th>
                                <th class="mw-6" *ngIf="settings.aawak.condition_id">Condition</th>
                                <th *ngIf="settings.aawak.company_name">Company</th>
                                <th>Qty<strong class="text-danger">*</strong></th>
                                <th>Rate</th>
                                <th *ngIf="settings.aawak.actual_amt">Amount</th>
                                <th class="mw-6" *ngIf="settings.aawak.aawak_source_id">Aawak Source</th>
                                <th class="mw-6">Aawak Type<strong class="text-danger">*</strong></th>
                                <th class="mw-8" *ngIf="settings.aawak.usage_list_id">Usage List</th>
                                <th *ngIf="settings.aawak.document">Image</th>
                                <th *ngIf="settings.aawak.item_detail">Item Detail</th>
                                <th *ngIf="settings.aawak.isbill">Is Bill</th>
                                <th *ngIf="settings.aawak.is_variable_qty">Variable Qty</th>
                                <th *ngIf="settings.aawak.hl">Highlight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let awkForm of fs.aawakFormMain.aawaks; let i = index;">
                                <tr ngModelGroup="{{i}}" #rowForm="ngModelGroup">
                                    <td class="text-center">
                                        <div class="d-flex justify-content-between">
                                            <div>{{i+1}}</div>
                                            <button class="btn btn-sm btn-warning me-1" (click)="addJawak(i)"
                                                title="Add Jawak">
                                                <i class="mdi mdi-plus noti-icon"></i>
                                            </button>
                                            <!-- <button class="btn btn-sm btn-outline-warning" (click)="showJawak(data, i)">
                                                <i class="dripicons-view-list noti-icon"></i>
                                            </button> -->
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.lot_no">

                                        <div class="ng-autocomplete">
                                            <ng-autocomplete [data]="lotNos" [searchKeyword]="keyword"
                                                class="form-control-sm" placeholder="lot no"
                                                (selected)='selectEvent($event, i)' (focusout)="focusoutLotNo(i)"
                                                (inputChanged)='onChangeSearch($event, i)' [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundTemplate">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.lot_no"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>

                                    </td>
                                    <td>
                                        <ng-select class=" custom-sm" style="width: 100%;" placeholder="Select Item"
                                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkForm.item_id"
                                            name="item_id" #item_id="ngModel" (change)="itemSelected($event, i)"
                                            [selectOnTab]="true"
                                            [ngClass]="{'validation' : (item_id?.touched || fMain.submitted) && item_id.errors?.['required']}"
                                            required>
                                            <ng-option *ngFor="let item of items | filterByDate:fs.aawakFormMain.date"
                                                [value]="item._id">{{item.item_hin}} :
                                                {{item.item_eng}} : {{item.item_code}}</ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;"
                                            placeholder="Select SubitemList" [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.subitem_id" name="subitem_id" #subitem_id="ngModel"
                                            (change)="subitemSelected($event, i)" [selectOnTab]="true">
                                            <ng-option *ngFor="let item of awkForm.subitems | filterByDate:fs.aawakFormMain.date"
                                                [value]="item._id">{{item.subitem_hin}}
                                                : {{item.subitem_eng}}</ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.product_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Select Product"
                                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkForm.product_id"
                                            name="product_id" #product_id="ngModel"
                                            (change)="productSelected($event, i)" [selectOnTab]="true">
                                            <ng-option selected="selected" disabled value="">Select Product</ng-option>
                                            <ng-option *ngFor="let item of products" [value]="item._id">
                                                {{item.product_code ? item.product_code : ''}} : {{item.sr_num ?
                                                item.sr_num : ''}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.condition_id">
                                        <ng-select class="custom-sm mt-1" style="width: 100%;"
                                            placeholder="Select Condition" [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.condition_id" name="condition_id"
                                            #condition_id="ngModel" [selectOnTab]="true">
                                            <ng-option selected="selected" disabled value="">Select
                                                Condition</ng-option>
                                            <ng-option *ngFor="let item of conditions"
                                                [value]="item._id">{{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}} </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.company_name">
                                        <input type="text" class="form-control-sm" placeholder="Company Name"
                                            [(ngModel)]="awkForm.company_name" name="company_name"
                                            #company_name="ngModel">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity"
                                                [(ngModel)]="awkForm.qty" name="qty" #qty="ngModel"
                                                (focusout)="qtyClick(i)"
                                                [ngClass]="{'validation' : (qty?.touched || fMain.submitted) && qty.errors?.['required']}"
                                                required>
                                            <span class="input-group-text ml-1 border border-secondary"
                                                style="padding: 0px; min-width: 40%;background: #252932;">
                                                <ng-select class="custom-sm" style="width: 100%;" placeholder="Unit"
                                                    [clearable]="true" [virtualScroll]="true"
                                                    [(ngModel)]="awkForm.unit_id" name="unit_id" #unit_id="ngModel"
                                                    [ngClass]="{'validation' : (unit_id?.touched || fMain.submitted) && unit_id.errors?.['required']}"
                                                    [selectOnTab]="true" required>
                                                    <ng-option selected="selected" disabled value="">Unit</ng-option>
                                                    <ng-option *ngFor="let item of units"
                                                        [value]="item._id">{{item.unit_short}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Rate"
                                                [(ngModel)]="awkForm.rate" name="rate" #rate="ngModel"
                                                (focusout)="rateClick(i)">
                                            <span class="input-group-text"> = {{(awkForm.qty *
                                                awkForm.rate).toFixed(2)}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.actual_amt">
                                        <input type="text" class="form-control-sm" placeholder="Amount"
                                            [(ngModel)]="awkForm.actual_amt" name="actual_amt" #actual_amt="ngModel"
                                            (focusout)="amntClick(i)">
                                    </td>
                                    <td *ngIf="settings.aawak.aawak_source_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Source"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.aawak_source_id" name="aawak_source_id"
                                            #aawak_source_id="ngModel" [selectOnTab]="true">
                                            <ng-option selected="selected" disabled value="">Aawak Source
                                            </ng-option>
                                            <ng-option *ngFor="let item of aawak_sources" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Type"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.aawak_type_id" name="aawak_type_id"
                                            #aawak_type_id="ngModel" [selectOnTab]="true"
                                            [ngClass]="{'validation' : (aawak_type_id?.touched || fMain.submitted) && aawak_type_id.errors?.['required']}"
                                            required>
                                            <ng-option selected="selected" disabled value="">Aawak Type
                                            </ng-option>
                                            <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.usage_list_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Usage List"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.usage_list_id" name="usage_list_id"
                                            #usage_list_id="ngModel" [selectOnTab]="true"
                                            [ngClass]="{'validation' : (usage_list_id?.touched || fMain.submitted) && usage_list_id.errors?.['required']}"
                                            required>
                                            <ng-option selected="selected" disabled value="">Usage List
                                            </ng-option>
                                            <ng-option *ngFor="let item of usage_lists" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <a (click)="openImageModal(i)" class="form-control-sm" style="cursor: pointer;">
                                            <i class="uil-image-plus" *ngIf="!imagepath" style="font-size:200%; "></i>
                                            <div *ngIf="imagepath && imagepath.length > 0">
                                                <img src="{{this.api.getUrl('BASE')+imagepath[0]}}" alt="image"
                                                    class="rounded m-1" height="48" />
                                                x {{imagepath.length}}
                                            </div>
                                            <i *ngIf="!imagepath || (imagepath && imagepath.length < 1)">Click To
                                                Change</i>
                                        </a>
                                    </td>
                                    <td *ngIf="settings.aawak.item_detail">
                                        <textarea class="form-control-sm" placeholder="Item Details"
                                            [(ngModel)]="awkForm.item_detail" name="item_detail"
                                            #item_detail="ngModel"></textarea>
                                    </td>
                                    <td *ngIf="settings.aawak.isbill">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" [(ngModel)]="awkForm.isbill"
                                                name="isbill" #isbill="ngModel" />
                                            <!-- <label class="form-check-label" for="isbill"></label> -->
                                        </div>

                                    </td>
                                    <td *ngIf="settings.aawak.is_variable_qty">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="awkForm.is_variable_qty" name="is_variable_qty"
                                                #is_variable_qty="ngModel" />
                                        </div>

                                    </td>
                                    <td *ngIf="settings.aawak.hl">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" [(ngModel)]="awkForm.hl"
                                                name="hl" #hl="ngModel" />
                                        </div>

                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>




    <!-- Image upload Model -->
    <div class="modal fade" id="addImages" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)"
                        type="aawak" [getData]="fs.aawakFormMain.aawaks[imageIndex].document">
                    </app-files-view>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>