<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<div class="row" id="bunchAawakEntryComponent">
    <div class="card-body">

        <form #fMain="ngForm">

            <!-- main row -->
            <div class="row">
                <div class="col-md-2 mb-3" *ngIf="settings.aawak.pkt_num">
                    <div class="form-group">
                        <label class="form-label">Date & Pkt Num</label>
                        <input type="date" class="form-control" placeholder="Date" [(ngModel)]="fs.aawakFormMain.date"
                            name="date" #date="ngModel"
                            [ngClass]="{'validation' : (date?.touched || fMain.submitted) && date.errors?.['required']}"
                            required>
                        <input type="text" class="form-control mt-1" placeholder="Pkt Num"
                            [(ngModel)]="fs.aawakFormMain.pkt_num" name="pkt_num" #pkt_num="ngModel">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label class="form-label">MM & Aawak MM</label>
                        <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add MM')">
                            + Add
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="false"
                            [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.mm_id" name="mm_id" #mm_id="ngModel"
                            [ngClass]="{ 'validation': (mm_id?.touched || fMain.submitted) && mm_id.errors?.['required']}"
                            required>
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.aawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Aawak MM" [clearable]="false"
                            [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.aawak_mm_id" name="aawak_mm_id"
                            #aawak_mm_id="ngModel"
                            [ngClass]="{ 'validation': (aawak_mm_id?.touched || fMain.submitted) && aawak_mm_id.errors?.['required']}"
                            [required]="fs.aawakFormMain.pbk_id == null">
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.aawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.aawak.pbk_id">
                    <div class="form-group">
                        <label class="form-label">Sewadhari</label>
                        <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add PBK')">
                            + PBK
                        </a>
                        <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                            [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                            <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                            </ng-option>
                            <ng-option *ngFor="let item of states" [value]="item._id">
                                {{item.state_hin}} : {{item.state_eng}}
                            </ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.pbk_id"
                            name="pbk_id" #pbk_id="ngModel"
                            [ngClass]="{ 'validation': (pbk_id?.touched || fMain.submitted) && pbk_id.errors?.['required']}"
                            [required]="fs.aawakFormMain.aawak_mm_id == null">
                            <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                            </ng-option>
                            <ng-option *ngFor="let item of pbks" [value]="item._id">
                                {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}}{{item.pbk_eng ? ' : ' +
                                item.pbk_eng : ''}} : {{item.relation}} :
                                {{item.relative_name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-4 d-flex flex-column mb-3">
                    <div class="form-group">
                        <div class="flex-fill d-flex flex-row">
                            <div class="flex-fill" *ngIf="settings.aawak.nimitt_id">
                                <label class="form-label">Nimitt</label>
                                <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                                    class="btn btn-outline-primary float-end"
                                    onclick="$('#bunchAawakEntryComponent > #showModal').modal('show')"
                                    (click)="showModal='Add Nimitt'">+
                                    Add</a>
                                <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt"
                                    [clearable]="false" [virtualScroll]="true" [(ngModel)]="fs.aawakFormMain.nimitt_id"
                                    name="nimitt_id" #nimitt_id="ngModel">
                                    <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                                    <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                        {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})</ng-option>
                                </ng-select>
                            </div>
                            <div class="flex-fill">
                                <button class="btn btn-primary submit mx-3" type="submit" *ngIf="!this.isEdit"
                                    (click)="bunchAawakSubmit()">Submit</button>
                                <button class="btn btn-warning submit mx-3" type="submit" *ngIf="this.isEdit"
                                    (click)="bunchAawakUpdate()">Update</button>
                            </div>
                        </div>
                        <div class="flex-fill mt-1" *ngIf="settings.aawak.description">
                            <textarea class="form-control" placeholder="विवरण"
                                [(ngModel)]="fs.aawakFormMain.description" name="description"
                                #description="ngModel"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <!-- items table row -->
            <div class="row">
                <div class="card card-body" style="font-size: smaller; overflow-x: scroll; padding-bottom: 250px;"
                    appHorizontalScrollWithArrows>
                    <table class="table table-bordered table-centered mb-0" style="width: max-content;">
                        <thead>
                            <tr>
                                <th>Jawak</th>
                                <th class="mw-6" *ngIf="settings.aawak.lot_no">Lot No</th>
                                <th class="mw-10">Item<strong class="text-danger">*</strong></th>
                                <th class="mw-8">Subitem</th>
                                <th class="mw-8" *ngIf="settings.aawak.product_id">Product</th>
                                <th class="mw-6" *ngIf="settings.aawak.condition_id">Condition</th>
                                <th *ngIf="settings.aawak.company_name">Company</th>
                                <th>Qty<strong class="text-danger">*</strong></th>
                                <th *ngIf="settings.aawak.rate">Rate</th>
                                <th *ngIf="settings.aawak.actual_amt">Amount</th>
                                <th class="mw-6" *ngIf="settings.aawak.aawak_source_id">Aawak Source</th>
                                <th class="mw-6">Aawak Type<strong class="text-danger">*</strong></th>
                                <th class="mw-8" *ngIf="settings.aawak.usage_list_id">Usage List</th>
                                <th *ngIf="settings.aawak.document">Image</th>
                                <th *ngIf="settings.aawak.item_detail">Item Detail</th>
                                <th *ngIf="settings.aawak.isbill">Is Bill</th>
                                <th *ngIf="settings.aawak.is_variable_qty">Variable Qty</th>
                                <th>Highlight</th>
                                <th *ngIf="settings.aawak.enz">Enzyme Container Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let awkForm of fs.aawakFormMain.aawaks; let i = index;">
                                <tr ngModelGroup="{{i}}" #rowForm="ngModelGroup"
                                    [appContextMenu]="getContextMenuItems(awkForm)"
                                    [contextMenuData]="{ i: i, hl: awkForm.hl }" [ngClass]="{'hl': awkForm.hl}">
                                    <td class="text-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>{{i+1}}</div>

                                            <div class="d-flex align-items-center">
                                                <i class="mdi mdi-plus i-outline-warning cursor-pointer me-1"
                                                    title="Add Jawak" *ngIf="isRowValid(i)" (click)="addJawak(i)"
                                                    [ngClass]="{'text-success': awkForm.jawak_detail?.length > 0}"></i>

                                                <button *ngIf="awkForm.jawak_detail?.length > 0"
                                                    class="btn btn-sm btn-outline-warning p-0 lh-1"
                                                    style="font-size: 9px; min-width: 35px; line-height: 1.2;"
                                                    (click)="showJawak(i)"
                                                    [title]="'Total Jawak Qty: ' + getJawakQty(i)">
                                                    <div style="font-weight: bold; padding: 1px 2px;">J -
                                                        {{awkForm.jawak_detail.length}}</div>
                                                    <div
                                                        style="border-top: 1px solid rgba(255,193,7,0.3); padding: 1px 2px;">
                                                        Q - {{getJawakQty(i)}}</div>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.lot_no">

                                        <div class="ng-autocomplete">
                                            <ng-autocomplete [data]="lotNos" [searchKeyword]="keyword"
                                                class="form-control-sm" placeholder="lot no"
                                                (selected)='selectEvent($event, i)' (focusout)="focusoutLotNo(i)"
                                                (inputChanged)='onChangeSearch($event, i)' [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundTemplate">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.lot_no"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>

                                    </td>
                                    <td>
                                        <ng-select class=" custom-sm" style="width: 100%;" placeholder="Select Item"
                                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkForm.item_id"
                                            name="item_id" #item_id="ngModel" (change)="itemSelected($event, i)"
                                            [selectOnTab]="true"
                                            [ngClass]="{'validation' : (item_id?.touched || fMain.submitted) && item_id.errors?.['required']}"
                                            required>
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add Item</ng-option>
                                            <ng-option *ngFor="let item of items | filterByDate:fs.aawakFormMain.date"
                                                [value]="item._id">{{item.item_hin}} :
                                                {{item.item_eng}} : {{item.item_roman ? item.item_roman : ''}} :
                                                {{item.item_code}}</ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;"
                                            placeholder="Select SubitemList" [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.subitem_id" name="subitem_id" #subitem_id="ngModel"
                                            (change)="subitemSelected($event, i)" [selectOnTab]="true">
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add
                                                Subitem</ng-option>
                                            <ng-option
                                                *ngFor="let item of awkForm.subitems | filterByDate:fs.aawakFormMain.date"
                                                [value]="item._id">{{item.subitem_hin}}
                                                : {{item.subitem_eng}} : {{item.subitem_roman ? item.subitem_roman :
                                                ''}}</ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.product_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Select Product"
                                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="awkForm.product_id"
                                            name="product_id" #product_id="ngModel"
                                            (change)="productSelected($event, i)" [selectOnTab]="true">
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add
                                                Product</ng-option>
                                            <ng-option *ngFor="let item of products" [value]="item._id">
                                                {{item.product_code ? item.product_code : ''}} : {{item.sr_num ?
                                                item.sr_num : ''}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.condition_id">
                                        <ng-select class="custom-sm mt-1" style="width: 100%;"
                                            placeholder="Select Condition" [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.condition_id" name="condition_id"
                                            #condition_id="ngModel" (change)="conditionSelected($event, i)"
                                            [selectOnTab]="true">
                                            <ng-option selected="selected" disabled value="">Select
                                                Condition</ng-option>
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add
                                                Condition</ng-option>
                                            <ng-option *ngFor="let item of conditions"
                                                [value]="item._id">{{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}} </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.company_name">
                                        <input type="text" class="form-control-sm" placeholder="Company Name"
                                            [(ngModel)]="awkForm.company_name" name="company_name"
                                            #company_name="ngModel">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity"
                                                [(ngModel)]="awkForm.qty" name="qty" #qty="ngModel"
                                                (focusout)="qtyClick(i)"
                                                [ngClass]="{'validation' : (qty?.touched || fMain.submitted) && qty.errors?.['required']}"
                                                required>
                                            <span class="input-group-text ml-1 border border-secondary"
                                                style="padding: 0px; min-width: 40%;background: #252932;">
                                                <ng-select class="custom-sm" style="width: 100%;" placeholder="Unit"
                                                    [clearable]="true" [virtualScroll]="true"
                                                    [(ngModel)]="awkForm.unit_id" name="unit_id" #unit_id="ngModel"
                                                    [ngClass]="{'validation' : (unit_id?.touched || fMain.submitted) && unit_id.errors?.['required']}"
                                                    [selectOnTab]="true" required>
                                                    <ng-option selected="selected" disabled value="">Unit</ng-option>
                                                    <ng-option *ngFor="let item of units"
                                                        [value]="item._id">{{item.unit_short}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.rate">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Rate"
                                                [(ngModel)]="awkForm.rate" name="rate" #rate="ngModel"
                                                (focusout)="rateClick(i)">
                                            <span class="input-group-text"> = {{(awkForm.qty *
                                                awkForm.rate).toFixed(2)}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.actual_amt">
                                        <input type="text" class="form-control-sm" placeholder="Amount"
                                            [(ngModel)]="awkForm.actual_amt" name="actual_amt" #actual_amt="ngModel"
                                            (focusout)="amntClick(i)">
                                    </td>
                                    <td *ngIf="settings.aawak.aawak_source_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Source"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.aawak_source_id" name="aawak_source_id"
                                            #aawak_source_id="ngModel" (change)="aawakSourceSelected($event, i)"
                                            [selectOnTab]="true">
                                            <ng-option selected="selected" disabled value="">Aawak Source
                                            </ng-option>
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add Aawak
                                                Source</ng-option>
                                            <ng-option *ngFor="let item of aawak_sources" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Type"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.aawak_type_id" name="aawak_type_id"
                                            #aawak_type_id="ngModel" (change)="aawakTypeSelected($event, i)"
                                            [selectOnTab]="true"
                                            [ngClass]="{'validation' : (aawak_type_id?.touched || fMain.submitted) && aawak_type_id.errors?.['required']}"
                                            required>
                                            <ng-option selected="selected" disabled value="">Aawak Type
                                            </ng-option>
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add Aawak
                                                Type</ng-option>
                                            <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td *ngIf="settings.aawak.usage_list_id">
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="Usage List"
                                            [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="awkForm.usage_list_id" name="usage_list_id"
                                            #usage_list_id="ngModel" (change)="usageListSelected($event, i)"
                                            [selectOnTab]="true"
                                            [ngClass]="{'validation' : (usage_list_id?.touched || fMain.submitted) && usage_list_id.errors?.['required']}">
                                            <ng-option selected="selected" disabled value="">Usage List
                                            </ng-option>
                                            <ng-option value="+add" class="text-primary fw-bold">+ Add Usage
                                                List</ng-option>
                                            <ng-option *ngFor="let item of usage_lists" [value]="item._id">
                                                {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}}
                                            </ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <div (click)="openImageModal(i)" class="image-upload-group"
                                            style="cursor: pointer; min-width: 100px;">
                                            <div
                                                class="image-preview-container d-flex flex-wrap align-items-center gap-1 p-1 rounded border border-secondary">
                                                <ng-container
                                                    *ngIf="awkForm.document?.images && awkForm.document.images.length > 0; else noImages">
                                                    <div class="preview-thumb-sm"
                                                        *ngFor="let img of awkForm.document.images.slice(0, 2)">
                                                        <img [src]="api.getUrl('BASE') + img" alt="preview"
                                                            style="width: 24px; height: 24px; object-fit: cover; border-radius: 4px;" />
                                                    </div>
                                                    <div *ngIf="awkForm.document.images.length > 2" class="more-count"
                                                        style="font-size: 10px; font-weight: bold;">
                                                        +{{awkForm.document.images.length - 2}}
                                                    </div>
                                                </ng-container>
                                                <ng-template #noImages>
                                                    <div class="empty-state d-flex align-items-center gap-1 text-muted"
                                                        style="font-size: 11px;">
                                                        <i class="uil-image-plus"></i>
                                                        <span>Add</span>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="settings.aawak.item_detail">
                                        <textarea class="form-control-sm" placeholder="Item Details"
                                            [(ngModel)]="awkForm.item_detail" name="item_detail"
                                            #item_detail="ngModel"></textarea>
                                    </td>
                                    <td *ngIf="settings.aawak.isbill">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" [(ngModel)]="awkForm.isbill"
                                                name="isbill" #isbill="ngModel" />
                                            <!-- <label class="form-check-label" for="isbill"></label> -->
                                        </div>

                                    </td>
                                    <td *ngIf="settings.aawak.is_variable_qty">
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="awkForm.is_variable_qty" name="is_variable_qty"
                                                #is_variable_qty="ngModel" />
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" class="form-check-input" [(ngModel)]="awkForm.hl"
                                                name="hl" #hl="ngModel" />
                                        </div>

                                    </td>

                                    <td *ngIf="settings.aawak.enz">
                                        <div class="d-flex">
                                            <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Source"
                                                [clearable]="true" [virtualScroll]="true"
                                                [(ngModel)]="awkForm.enz.container_aawak_source_id"
                                                name="container_aawak_source_id" #container_aawak_source_id="ngModel"
                                                [selectOnTab]="true">
                                                <ng-option selected="selected" disabled value="">Aawak Source
                                                </ng-option>
                                                <ng-option *ngFor="let item of aawak_sources" [value]="item._id">
                                                    {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                    {{item.list_name_eng}}
                                                </ng-option>
                                            </ng-select>
                                            <input type="text" class="form-control-sm mx-1" placeholder="Enz No"
                                                [(ngModel)]="awkForm.enz.container_enz_no" name="container_enz_no"
                                                #container_enz_no="ngModel">
                                            <input type="number" class="form-control-sm mx-1" placeholder="Capacity"
                                                [(ngModel)]="awkForm.enz.container_capacity" name="container_capacity"
                                                #container_capacity="ngModel">
                                            <input type="number" class="form-control-sm" placeholder="Container Qty"
                                                [(ngModel)]="awkForm.enz.container_qty" name="container_qty"
                                                #container_qty="ngModel">
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                    <button type="button" (click)="closeModal()" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-jawak-entry *ngIf="showModal == 'Add Jawak'" (response)='addJawakResponse($event)'
                        [noAPICall]="true" [aawakRef]="editData"></app-jawak-entry>

                    <app-data-view *ngIf="showModal == 'Show Jawak'" [getData]="viewData" Type="jawak"
                        [isLocal]="true"></app-data-view>

                    <app-mm-entry *ngIf="showModal == 'Add MM'" (response)='addMMResponse($event)'></app-mm-entry>
                    <app-pbk-entry *ngIf="showModal == 'Add PBK'" (response)='addPbkResponse($event)'></app-pbk-entry>
                    <app-nimitt-entry *ngIf="showModal == 'Add Nimitt'"
                        (response)='addNimittResponse($event)'></app-nimitt-entry>
                    <app-item-entry *ngIf="showModal == 'Add Item'"
                        (response)='addItemResponse($event)'></app-item-entry>
                    <app-subitem-entry *ngIf="showModal == 'Add Subitem'"
                        (response)='addSubitemResponse($event)'></app-subitem-entry>
                    <app-product-entry *ngIf="showModal == 'Add Product'"
                        (response)='addProductResponse($event)'></app-product-entry>
                    <app-support-list-entry *ngIf="showModal == 'Add Condition'" [list_type]="'condition'"
                        (response)="addConditionResponse($event)"></app-support-list-entry>
                    <app-support-list-entry *ngIf="showModal == 'Add Aawak Source'" [list_type]="'aawak_source'"
                        (response)="addAawakSourceResponse($event)"></app-support-list-entry>
                    <app-support-list-entry *ngIf="showModal == 'Add Aawak Type'" [list_type]="'aawak_type'"
                        (response)="addAawakTypeResponse($event)"></app-support-list-entry>
                    <app-support-list-entry *ngIf="showModal == 'Add Usage List'" [list_type]="'usage_list'"
                        (response)="addUsageListResponse($event)"></app-support-list-entry>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image upload Model -->
    <div class="modal fade" id="addImages" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)"
                        type="aawak" [getData]="fs.aawakFormMain.aawaks[imageIndex].document" [isEdit]="true">
                    </app-files-view>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>