<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body" style="overflow: auto;">
                  <div class="row justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" onclick="$('#showModal').modal('show')"
                           (click)="showModal = 'Add Subitem'">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add Subitem
                        </button>
                     </div>
                     <div class="col-5">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light">Total
                           Count : {{subitemData.length}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="subitemData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width:80px">No.</th>
                           <th>Manage</th>
                           <th>Subitem Name (Hin-Eng)</th>
                           <th>Item</th>
                           <th>Categoty</th>
                           <th>Default Unit</th>
                           <th>Extra Note</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of subitemData | filter:term; let i=index">
                           <td style="font-size: large;">
                              {{i+1}}
                              <span class="mx-1"
                                 style="font-size: x-large;position: relative;line-height: 28px; cursor:pointer;"
                                 (click)="protectionToggle(data._id, data.active)">
                                 <i *ngIf="auth.webUser.dept_id == 1 && data.active" data-toggle="tooltip"
                                    title="Protected" class="uil-shield-check text-warning"></i>
                                 <i *ngIf="auth.webUser.dept_id == 1 && !data.active" data-toggle="tooltip"
                                    title="Unprotected" class="uil-shield-slash text-danger"></i>
                              </span>
                           </td>
                           <td>
                              <button *ngIf="auth.webUser.dept_id == 1 || !data.active"
                                 class="btn btn-sm btn-primary mx-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button>
                              <button *ngIf="auth.webUser.dept_id == 1 || !data.active" class="btn btn-sm btn-danger"
                                 type="button" (click)="delete(i,data._id)"><i class="uil-trash"></i></button>
                              <i *ngIf="auth.webUser.dept_id != 1 && data.active" class="uil-shield-check mx-1">
                                 Protected
                              </i>
                           </td>
                           <td>{{data.subitem_list_id?data.subitem_hin +' : '+ data.subitem_eng:'-'}}</td>
                           <td>{{data.item_id?data.item_hin + ' : ' + data.item_eng:'-'}}</td>
                           <td>{{data.category_id?data.category_hin + ' : ' + data.category_eng:'-'}}</td>
                           <td>{{data.unit_id?data.unit_short + ' : ' + data.unit_full:'-'}}</td>
                           <td>{{data.extra_note?data.extra_note:'-'}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- addSubitem Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-subitem-entry *ngIf="showModal == 'Add Subitem'" (response)='addSubitemResponse($event)'>
            </app-subitem-entry>
            <app-subitem-entry *ngIf="showModal == 'Edit Subitem'" (response)='editSubitemResponse($event)'
               [getData]="editData" [isEdit]="true"></app-subitem-entry>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>