<div class="row" id="productViewComponent">
    <div class="card-body">
        <div class="row" *ngIf="product">
            <div class="col-lg-7" style="border-right: 0.5px #4c5763 dashed ;">

                <!-- Product image -->
                <div class="m-1 p-1" style="height:400px;border: 0.5px #3c454f solid;">
                    <a class=" text-center mb-4">
                        <img [src]="baseUrl + product.image" class="img-fluid" style="height: 100%;width: 100%;
                        object-fit: contain;" alt="Product-img" />
                    </a>
                </div>

                <div class="d-lg-flex d-none" style="overflow-x:auto;"
                    *ngIf="product.document && product.document.images">
                    <a *ngFor="let img of product.document.images; let i = index;" href="javascript: void(0);"
                        (click)="product.image = img">
                        <img [src]="baseUrl + img" class="img-fluid img-thumbnail mx-1 p-1 h-100"
                            style="max-width: 75px; object-fit: cover;" alt="Product-img + {{i}}" />
                    </a>
                </div>
            </div>


            <!-- Product Detail -->
            <div class="col-lg-5" style="overflow-y: auto; height: 30vw;">
                <form class="ps-lg-4">

                    <!-- Product title -->
                    <h3 class="mt-0">
                        {{product.subitem_hin+'-' ? product.subitem_hin:''}} {{product.item_hin ? product.item_hin:''}}
                        -
                        {{product.subitem_eng+'-' ? product.subitem_eng:''}} {{product.item_eng ? product.item_eng:''}}
                        <!-- <span class="badge badge-success-lighten">New</span>
                            <span class="badge badge-warning-lighten">Old</span>
                            <span class="badge badge-danger-lighten">Bad</span> -->
                        <!-- <a href="javascript: void(0);" class="text-muted"><i class="mdi mdi-square-edit-outline ms-2"></i></a> -->
                    </h3>

                    <!-- Company Name -->
                    <h4>
                        {{product.company_name?product.company_name:''}} {{product.model_name?product.model_name:''}}
                    </h4>

                    <!-- Date -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class=" font-16 badge badge-secondary-lighten m-1 w-50">Purchased Date : </span>
                            <span class="font-14 custom-space">{{product.purchase_date | date:'dd-MM-yyyy'}}</span>
                        </h5>
                    </div>

                    <!-- MM -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten m-1 w-50">MM : </span>
                            <span class="font-14 custom-space">
                                {{product.mm_hin ? product.mm_hin : ''}} {{product.mm_eng ? ' - '+product.mm_eng : ''}}
                                {{product.mm_code ? ' : ' + product.mm_code : ''}}
                            </span>
                        </h5>
                    </div>

                    <!-- Warranty -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Warranty : </span>
                            <span class="font-14 custom-space">
                                {{product.warranty_period ? product.warranty_period + ' Months' :''}}
                                {{product.warranty_from ? ' Form ' + product.warranty_from :''}}
                            </span>
                        </h5>
                    </div>

                    <!-- Condition -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Condition : </span>
                            <span class="font-14 custom-space">
                                {{product.condition_id ? product.condition_eng + ' - ' + product.condition_hin :'Not
                                Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- S/r -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">S/R Number / Product Code :
                            </span>
                            <span class="font-14 custom-space">
                                {{product.sr_num ? product.sr_num :'Not Available'}} /
                                {{product.product_code ? product.product_code:'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Price -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Price : </span>
                            <span class="font-14 custom-space">
                                {{product.price ? product.price :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Pruchased From -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Pruchased From : </span>
                            <span class="font-14 custom-space">
                                {{product.purchase_from ? product.purchase_from :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Purchased By -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Purchased By : </span>
                            <span class="font-14 custom-space">
                                {{product.purchased_by ? product.purchased_by :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Accessories -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Accessories : </span>
                            <span class="font-14 custom-space">
                                {{product.accessories ? product.accessories :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Nimitt -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Nimitt : </span>
                            <span class="font-14 custom-space">
                                {{product.nimitt_id ? product.nimitt_hin :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Product Detail -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Product Detail : </span>
                            <span class="font-14 custom-space">
                                {{product.product_detail ? product.product_detail :'Not Available'}}
                            </span>
                        </h5>
                    </div>

                </form>
            </div>

        </div>

        <div class="row mt-4" *ngIf="(product && !product.product_code && !product.sr_num)">
            <div class="alert alert-warning bg-light text-dark" role="alert">
                <strong>Sorry! </strong> Tracking currently not possible for this products.
            </div>
        </div>
        <div class="table-responsive mt-4" *ngIf="product && (product.product_code || product.sr_num)">
            <table class="table table-bordered table-centered mb-0">
                <thead class="table-light">
                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>pkt</th>
                        <th>MM</th>
                        <th>कहा से आया</th>
                        <th>Date</th>
                        <th>pkt</th>
                        <th>कहा भेजा</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trk of product.tracking_detail; let j=index;">
                        <td>{{j+1}}</td>
                        <td>{{trk.date}}</td>
                        <td>{{trk.pkt_num}}</td>
                        <td>{{trk.mm_hin}}</td>
                        <td>{{trk.aawak_mm_hin}}</td>
                        <td>{{trk.jdate}}</td>
                        <td>{{trk.jpkt_num}}</td>
                        <td>{{trk.jawak_mm_hin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>









        <!-- Items -->
        <div class="row" *ngIf="item">
            <div class="col-lg-7" style="border-right: 0.5px #4c5763 dashed ;">

                <!-- Item image -->
                <div class="m-1 p-1" style="height:400px;border: 0.5px #3c454f solid;">
                    <a class=" text-center mb-4">
                        <img [src]="baseUrl + item.image" class="img-fluid" style="height: 100%;width: 100%;
                        object-fit: contain;" alt="item-img" />
                    </a>
                </div>

                <div class="d-lg-flex d-none" style="overflow-x:auto;" *ngIf="item.document && item.document.images">
                    <a *ngFor="let img of item.document.images; let i = index;" href="javascript: void(0);"
                        (click)="item.image = img">
                        <img [src]="baseUrl + img" class="img-fluid img-thumbnail mx-1 p-1 h-100"
                            style="max-width: 75px; object-fit: cover;" alt="item-img + {{i}}" />
                    </a>
                </div>
            </div>

            <!-- Item Detail -->
            <div class="col-lg-5" style="overflow-y: auto; height: 30vw;" *ngIf="item">
                <form class="ps-lg-4">

                    <!-- Item title -->
                    <h3 class="mt-0">
                        {{item.item_hin ? item.item_hin:''}} - {{item.item_eng ? item.item_eng:''}} -
                        ({{item.item_code?item.item_code:''}})
                        <!-- <span class="badge badge-success-lighten">New</span>
                            <span class="badge badge-warning-lighten">Old</span>
                            <span class="badge badge-danger-lighten">Bad</span> -->
                        <!-- <a href="javascript: void(0);" class="text-muted"><i class="mdi mdi-square-edit-outline    ms-2"></i></a> -->
                    </h3>


                    <!-- Categories -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten m-1 w-50">Categories : </span>
                            <span class="font-14 custom-space">
                                {{item.categories?item.categories_hin:'-'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Subitems -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Subitems : </span>
                            <span class="font-14 custom-space">
                                {{item.subitems.length?item.subitems:'-'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Unit -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Unit : </span>
                            <span class="font-14 custom-space">
                                {{item.unit_id?item.unit_full + '-' + item.unit_short:'-'}}
                            </span>
                        </h5>
                    </div>

                    <!-- Extra note -->
                    <div class="mt-2">
                        <h5 class="d-flex align-items-start">
                            <span class="font-16 badge badge-secondary-lighten w-50 m-1">Extra note : </span>
                            <span class="font-14 custom-space">
                                {{item.extra_note?item.extra_note:'-'}}
                            </span>
                        </h5>
                    </div>

                </form>
            </div>

        </div>


        <!-- aawak -->
        <div class="row" *ngIf="aawak">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="border-right: 0.5px #4c5763 dashed ;">

                <!-- Item image -->
                <div class="m-1 p-1" style="height:400px;border: 0.5px #3c454f solid;">
                    <a class=" text-center mb-4">
                        <img [src]="baseUrl + aawak.image" class="img-fluid" style="height: 100%;width: 100%;
                        object-fit: contain;" alt="item-img" />
                    </a>
                </div>

                <div class="d-lg-flex d-none" style="overflow-x:auto;" *ngIf="aawak.document && aawak.document.images">
                    <a *ngFor="let img of aawak.document.images; let i = index;" href="javascript: void(0);"
                        (click)="aawak.image = img">
                        <img [src]="baseUrl + img" class="img-fluid img-thumbnail mx-1 p-1 h-100"
                            style="max-width: 75px; object-fit: cover;" alt="item-img + {{i}}" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>