<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<div class="row material-theme-container" id="bunchJawakEntryComponent">
    <div class="card-body">

        <form #fMain="ngForm">

            <!-- main row -->
            <div class="row">
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Date & Pkt No</label>
                        <input type="date" class="form-control" [(ngModel)]="fs.jawakFormMain.date" name="date"
                            #date="ngModel" (change)="fs.jawakFormMain.date_sent = fs.jawakFormMain.date"
                            [ngClass]="{'validation' : (date?.touched || fMain.submitted) && date.errors?.['required']}"
                            required>
                        <input type="text" class="form-control mt-1" placeholder="Pkt Num"
                            [(ngModel)]="fs.jawakFormMain.pkt_num" name="pkt_num" #pkt_num="ngModel">
                    </div>
                </div>
                <div class="col-md-2 mb-3" *ngIf="settings.jawak.date_sent || settings.jawak.reg_pg_no">
                    <div class="form-group">
                        <label class="form-label">Date Sent & Reg. Page No</label>
                        <input *ngIf="settings.jawak.date_sent" type="date" class="form-control"
                            [(ngModel)]="fs.jawakFormMain.date_sent" name="date_sent" #date_sent="ngModel"
                            [ngClass]="{'validation' : (date_sent?.touched || fMain.submitted) && date_sent.errors?.['required']}">
                        <input *ngIf="settings.jawak.reg_pg_no" type="text" class="form-control mt-1"
                            placeholder="Reg Page No" [(ngModel)]="fs.jawakFormMain.reg_pg_no" name="reg_pg_no"
                            #reg_pg_no="ngModel">
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">MM & Jawak MM</label>
                        <a type="button" *ngIf="settings.mm.add" style="padding: 1px 6px !important;"
                            class="btn btn-outline-primary float-end" (click)="openModal('Add MM')">
                            + Add
                        </a>
                        <ng-select *ngIf="!settings.defaultMM" class="custom" style="width: 100%;" placeholder="MM"
                            [clearable]="false" [virtualScroll]="true" [(ngModel)]="fs.jawakFormMain.mm_id" name="mm_id"
                            #mm_id="ngModel" [selectOnTab]="true"
                            [ngClass]="{ 'validation': (mm_id?.touched || fMain.submitted) && mm_id.errors?.['required']}"
                            required>
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.jawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Jawak MM" [clearable]="true"
                            [virtualScroll]="true" [(ngModel)]="fs.jawakFormMain.jawak_mm_id" name="jawak_mm_id"
                            #jawak_mm_id="ngModel" [selectOnTab]="true"
                            [ngClass]="{ 'validation': (jawak_mm_id?.touched || fMain.submitted) && jawak_mm_id.errors?.['required']}"
                            [required]="fs.jawakFormMain.pbk_id == null">
                            <ng-option selected="selected" disabled value="">MM</ng-option>
                            <ng-option *ngFor="let item of mms | filterByDate:fs.jawakFormMain.date" [value]="item._id">
                                {{item.mm_hin}} : {{item.mm_eng}}{{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" *ngIf="settings.jawak.pbk_id">
                    <div class="form-group">
                        <label class="form-label">Sewadhari</label>
                        <div class="float-end">
                            <!-- Filter Button with Popover -->
                            <app-popover-filter [iconClass]="'uil uil-filter'" (clear)="stateSelected(null)"
                                triggerOn="hover">
                                <div class="mb-2">
                                    <label class="form-label"
                                        style="font-size: 0.875rem; margin-bottom: 5px;">State</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                                        [selectOnTab]="true" [clearable]="true" [virtualScroll]="true"
                                        (change)="stateSelected($event)">
                                        <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                                        </ng-option>
                                        <ng-option *ngFor="let item of states" [value]="item._id">
                                            {{item.state_hin}} : {{item.state_eng}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </app-popover-filter>
                            <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                                class="btn btn-outline-primary" (click)="openModal('Add PBK')">
                                + PBK
                            </a>
                        </div>

                        <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Roll no. or Pbk name"
                            [clearable]="true" [virtualScroll]="true" [(ngModel)]="fs.jawakFormMain.pbk_id"
                            name="pbk_id" #pbk_id="ngModel" [selectOnTab]="true"
                            [ngClass]="{ 'validation': (pbk_id?.touched || fMain.submitted) && pbk_id.errors?.['required']}"
                            [required]="fs.jawakFormMain.jawak_mm_id == null">
                            <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                            </ng-option>
                            <ng-option *ngFor="let item of pbks" [value]="item._id">
                                {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                                {{item.relative_name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-3 d-flex flex-column mb-3">
                    <div class="form-group">
                        <div class="flex-fill d-flex flex-row">
                            <div class="flex-fill" *ngIf="settings.jawak.nimitt_id">
                                <label class="form-label">Nimitt</label>
                                <a type="button" *ngIf="settings.nimitt.add" style="padding: 1px 6px !important;"
                                    class="btn btn-outline-primary float-end"
                                    onclick="$('#bunchAawakEntryComponent > #showModal').modal('show')"
                                    (click)="showModal='Add Nimitt'">+
                                    Add</a>
                                <ng-select class="custom" style="width: 100%;" placeholder="Select Nimitt"
                                    [clearable]="false" [virtualScroll]="true" [(ngModel)]="fs.jawakFormMain.nimitt_id"
                                    name="nimitt_id" #nimitt_id="ngModel" [selectOnTab]="true">
                                    <ng-option selected="selected" disabled value="">Select Nimitt</ng-option>
                                    <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                        {{item.nimitt_hin}} : {{item.nimitt_eng}} ({{item.state_hin}})</ng-option>
                                </ng-select>
                            </div>
                            <div class="flex-fill">
                                <button class="btn btn-primary submit mx-3" type="submit" *ngIf="!this.isEdit"
                                    (click)="bunchJawakSubmit()">Submit</button>
                                <button class="btn btn-warning submit mx-3" type="submit" *ngIf="this.isEdit"
                                    (click)="bunchJawakUpdate()">Update</button>
                            </div>
                        </div>
                        <div class="flex-fill mt-1" *ngIf="settings.jawak.description">
                            <textarea class="form-control" placeholder="विवरण"
                                [(ngModel)]="fs.jawakFormMain.description" name="description"
                                #description="ngModel"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <!-- items table row -->
            <div class="row">
                <div class="card card-body" style="font-size: smaller; overflow: auto; flex-direction: column;">

                    <div class="table-container" style=" padding-bottom: 250px;" appHorizontalScrollWithArrows>
                        <table class="table table-bordered table-sticky-header table-centered mb-0"
                            style="width: max-content;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th class="mw-2" *ngIf="settings.jawak.auto_awk || settings.jawak.auto_reawk">Auto
                                    </th>
                                    <th class="mw-5" *ngIf="settings.jawak.aawak_ref_id">Select Aawak</th>
                                    <th class="mw-6" *ngIf="settings.jawak.lot_no">Lot No</th>
                                    <th class="mw-15">Item - Subitem<strong class="text-danger">*</strong></th>
                                    <th class="mw-6">Qty<strong class="text-danger">*</strong></th>
                                    <th class="mw-6">Rate</th>
                                    <th class="mw-6" *ngIf="settings.jawak.actual_amt">Amount</th>
                                    <th class="mw-8" *ngIf="settings.jawak.product_id">Product</th>
                                    <th class="mw-6" *ngIf="settings.jawak.condition_id">Condition</th>
                                    <th *ngIf="settings.jawak.company_name">Company</th>
                                    <th class="mw-6" *ngIf="settings.jawak.aawak_source_id">Aawak Source</th>
                                    <th class="mw-6">Jawak Type<strong class="text-danger">*</strong></th>
                                    <th class="mw-8" *ngIf="settings.jawak.usage_list_id">Usage List</th>
                                    <th *ngIf="settings.jawak.document">Image</th>
                                    <th *ngIf="settings.jawak.item_detail">Item Detail</th>
                                    <th *ngIf="settings.jawak.enz">Enz Container Capacity</th>
                                    <th *ngIf="settings.jawak.usage_report">Usage Report</th>
                                    <th *ngIf="settings.jawak.isbill">Is Bill</th>
                                    <th *ngIf="settings.jawak.is_variable_qty">Variable Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let jwkForm of fs.jawakFormMain.jawaks; let i = index;">
                                    <tr ngModelGroup="{{i}}" #rowForm="ngModelGroup"
                                        [appContextMenu]="getContextMenuItems(jwkForm)"
                                        [contextMenuData]="{ i: i, hl: jwkForm.hl }" [ngClass]="{'hl': jwkForm.hl}">
                                        <td class="text-center">
                                            <div class="d-flex justify-content-between">
                                                <div>{{i+1}}</div>
                                            </div>
                                        </td>
                                        <td *ngIf="!isEdit && (settings.jawak.auto_awk || settings.jawak.auto_reawk)">
                                            <app-popover-filter direction="auto" [showClearButton]="false"
                                                [iconClass]="'uil uil-sliders-v-alt p-1'" [btnOutline]="false"
                                                [btnClass]="(jwkForm.auto_awk || jwkForm.auto_reawk ? 'btn btn-soft-primary' : 'btn btn-soft-secondary')"
                                                triggerOn="hover">
                                                <div style="width: 450px; padding: 10px;">
                                                    <!-- Auto Aawak Section -->
                                                    <div class="mb-1 border" style="border-radius: 4px;">
                                                        <div (click)="jwkForm.auto_awk = !jwkForm.auto_awk;"
                                                            style="cursor: pointer;"
                                                            class="p-1 d-flex justify-content-between align-items-center border-bottom">
                                                            <h6 class="mb-0 fs-13">Auto Aawak</h6>
                                                            <div class="form-check form-switch p-0 m-0">
                                                                <input type="checkbox" class="form-check-input ms-0"
                                                                    [(ngModel)]="jwkForm.auto_awk" name="auto_awk">
                                                            </div>
                                                        </div>
                                                        <div class="p-1 mx-1" *ngIf="jwkForm.auto_awk">
                                                            <div class="row g-2">
                                                                <div class="col-6">
                                                                    <label
                                                                        class="form-label fs-11 mb-1">Department</label>
                                                                    <ng-select class="custom-sm"
                                                                        placeholder="Select Dept" [clearable]="true"
                                                                        [virtualScroll]="true" appendTo="body"
                                                                        [(ngModel)]="jwkForm.aawak_dept_id"
                                                                        name="aawak_dept_id">
                                                                        <ng-option *ngFor="let item of departments"
                                                                            [value]="item._id">
                                                                            {{item.dept_hin}} : {{item.dept_eng}}
                                                                        </ng-option>
                                                                    </ng-select>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label class="form-label fs-11 mb-1">Aawak
                                                                        Type</label>
                                                                    <ng-select class="custom-sm"
                                                                        placeholder="Select Type" [clearable]="true"
                                                                        [virtualScroll]="true" appendTo="body"
                                                                        [(ngModel)]="jwkForm.aawak_type_id"
                                                                        name="aawak_type_id">
                                                                        <ng-option *ngFor="let item of aawak_types"
                                                                            [value]="item._id">
                                                                            {{item.list_name_hin}} :
                                                                            {{item.list_name_eng}}
                                                                        </ng-option>
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Auto Re-Aawak Section -->
                                                    <div class="border" style="border-radius: 4px;">
                                                        <div (click)="jwkForm.auto_reawk = !jwkForm.auto_reawk;"
                                                            style="cursor: pointer;"
                                                            class="p-1 d-flex justify-content-between align-items-center border-bottom">
                                                            <h6 class="mb-0 fs-13">Auto Re-Aawak</h6>
                                                            <div class="form-check form-switch p-0 m-0">
                                                                <input type="checkbox" class="form-check-input ms-0"
                                                                    [(ngModel)]="jwkForm.auto_reawk" name="auto_reawk">
                                                            </div>
                                                        </div>
                                                        <div class="p-1 mx-1" *ngIf="jwkForm.auto_reawk">
                                                            <div class="row g-2">
                                                                <div class="col-6">
                                                                    <label class="form-label fs-11 mb-1">Return
                                                                        Date</label>
                                                                    <input type="date"
                                                                        class="form-control form-control-sm"
                                                                        [(ngModel)]="jwkForm.aawak_date"
                                                                        name="aawak_date">
                                                                </div>
                                                                <div class="col-6">
                                                                    <label class="form-label fs-11 mb-1">Aawak
                                                                        Type</label>
                                                                    <ng-select class="custom-sm"
                                                                        placeholder="Select Type" [clearable]="true"
                                                                        [virtualScroll]="true" appendTo="body"
                                                                        [(ngModel)]="jwkForm.re_aawak_type_id"
                                                                        name="re_aawak_type_id">
                                                                        <ng-option *ngFor="let item of aawak_types"
                                                                            [value]="item._id">
                                                                            {{item.list_name_hin}} :
                                                                            {{item.list_name_eng}}
                                                                        </ng-option>
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mt-2 text-info fs-11">
                                                        <i class="uil uil-info-circle me-1"></i>
                                                        <strong>ऑटो आवक : </strong> भेजे गए मि.म. (जावक मि.म.) मे
                                                        ऑटोमैटिक आवक एंट्री होगी, ex. फलाना मि.म. से सामान आया । <br />
                                                        <strong>ऑटो रि-आवक : </strong> सोर्स मि.म. (खुद के ही मि.म.)
                                                        मे ऑटोमैटिक आवक एंट्री होगी, ex. फलाना मि.म. भेजा गया सामान इस
                                                        तारीख को वापस आया ।
                                                    </div>
                                                </div>
                                            </app-popover-filter>
                                        </td>
                                        <td *ngIf="settings.jawak.aawak_ref_id">

                                            <app-popover-filter
                                                [label]="(jwkForm.aawak_ref_id ? ' Aawak Selected' : 'Select Aawak')"
                                                direction="auto" (clear)="clearAawak(i)" clearButtonLabel="Clear"
                                                [iconClass]="(jwkForm.aawak_ref_id ? 'uil uil-check' : '')"
                                                triggerOn="hover">
                                                <div style="width: 500px;">
                                                    <div *ngIf="aawakLoader" class="d-flex justify-content-center">
                                                        <div class="spinner-border spinner-border-sm" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                    </div>
                                                    <ng-select *ngIf="!aawakLoader" class="custom-sm"
                                                        style="width: 100%;" placeholder="Select Aawak"
                                                        [clearable]="true" [virtualScroll]="true" name="aawak_ref_id"
                                                        [(ngModel)]="jwkForm.aawak_ref_id" [selectOnTab]="true"
                                                        (change)="refAawakSelected($event, i)">
                                                        <ng-option
                                                            *ngFor="let item of aawaks | filterAawak:jwkForm.filterObj"
                                                            [value]="item._id">{{item.lot_no}} -
                                                            {{item.date}} -
                                                            {{item.qty}} {{item.unit_short}}
                                                            {{item.item_hin}} {{item.subitem_id ? ' - ' +
                                                            item.subitem_hin : ''}} ({{item.condition_hin}})
                                                            {{item.aawak_source_id ? '( AS - ' + item.aawak_source_hin +
                                                            ')' : ''}} {{item.qty}}
                                                            {{item.unit_short}} {{item.aawak_mm_hin}} से
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </app-popover-filter>
                                        </td>
                                        <td *ngIf="settings.jawak.lot_no">

                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="lotNos" [searchKeyword]="keyword"
                                                    class="form-control-sm" placeholder="lot no"
                                                    (selected)='selectEvent($event, i)' (focusout)="focusoutLotNo(i)"
                                                    (inputChanged)='onChangeSearch($event, i)'
                                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.lot_no"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>

                                        </td>
                                        <td>
                                            <ng-select class="custom-sm" placeholder="Select Item" [clearable]="true"
                                                [virtualScroll]="true" [(ngModel)]="jwkForm.item_subitem_id"
                                                name="item_subitem_id" #item_subitem_id="ngModel"
                                                (change)="itemSubitemSelected($event, i)"
                                                [ngClass]="{'validation' : (item_subitem_id?.touched || fMain.submitted) && item_subitem_id.errors?.['required'], 'readonly-field': !!jwkForm.aawak_ref_id}"
                                                [selectOnTab]="true" [readonly]="!!jwkForm.aawak_ref_id" required
                                                [showSelectAll]="true" appendTo="body">

                                                <ng-container
                                                    *ngFor="let item of items | filterByDate:fs.jawakFormMain.date">
                                                    <ng-option [value]="item._id + ':'">
                                                        {{item.item_hin}} : {{item.item_eng}} : {{item.item_roman ?
                                                        item.item_roman : ''}} : {{item.item_code}}
                                                    </ng-option>

                                                    <ng-option
                                                        *ngFor="let subitem of item.subitems | filterByDate:fs.jawakFormMain.date"
                                                        [value]="item._id + ':' + subitem._id">
                                                        {{subitem.subitem_hin}} {{item.item_hin}} :
                                                        {{subitem.subitem_eng}} {{item.item_eng}} :
                                                        {{subitem.subitem_roman ? subitem.subitem_roman : ''}} :
                                                        {{item.item_roman ? item.item_roman : ''}} :
                                                        {{subitem.subitem_code}} {{item.item_code}}
                                                    </ng-option>
                                                </ng-container>
                                            </ng-select>
                                        </td>

                                        <td>
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Quantity"
                                                    [(ngModel)]="jwkForm.qty" name="qty" #qty="ngModel"
                                                    (focusout)="qtyClick(i)"
                                                    [ngClass]="{'validation' : ((qty?.touched || fMain.submitted) && qty.errors?.['required'])}"
                                                    required>
                                                <span class="input-group-text ml-1 border border-secondary"
                                                    style="padding: 0px; min-width: 40%;background: #252932;">
                                                    <ng-select class="custom" style="width: 100%;" placeholder="Unit"
                                                        [clearable]="true" [virtualScroll]="true" appendTo="body"
                                                        [(ngModel)]="jwkForm.unit_id" name="unit_id" #unit_id="ngModel"
                                                        [ngClass]="{'validation' : (unit_id?.touched || fMain.submitted) && unit_id.errors?.['required'], 'readonly-field': !!jwkForm.aawak_ref_id}"
                                                        [selectOnTab]="true" [readonly]="!!jwkForm.aawak_ref_id"
                                                        required>
                                                        <ng-option selected="selected" disabled
                                                            value="">Unit</ng-option>
                                                        <ng-option *ngFor="let item of units"
                                                            [value]="item._id">{{item.unit_short}}</ng-option>
                                                    </ng-select>
                                                </span>
                                            </div>
                                            <span>Remaining Qty : {{jwkForm?.remaining_qty}}</span>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Rate"
                                                    [(ngModel)]="jwkForm.rate" name="rate" #rate="ngModel"
                                                    (focusout)="rateClick(i)" [readonly]="!!jwkForm.aawak_ref_id"
                                                    [ngClass]="{'readonly-field': !!jwkForm.aawak_ref_id}">
                                                <span class="input-group-text"> = {{(jwkForm.qty *
                                                    jwkForm.rate).toFixed(2)}}</span>
                                            </div>
                                        </td>
                                        <td *ngIf="settings.jawak.actual_amt">
                                            <input type="text" class="form-control-sm" placeholder="Amount"
                                                [(ngModel)]="jwkForm.actual_amt" name="actual_amt" #actual_amt="ngModel"
                                                (focusout)="amntClick(i)">
                                        </td>
                                        <td *ngIf="settings.jawak.product_id">
                                            <ng-select class="custom-sm" style="width: 100%;" appendTo="body"
                                                placeholder="Select Product" [clearable]="true" [virtualScroll]="true"
                                                [(ngModel)]="jwkForm.product_id" name="product_id" #product_id="ngModel"
                                                (change)="productSelected($event, i)" [selectOnTab]="true">
                                                <ng-option selected="selected" disabled value="">Select
                                                    Product</ng-option>
                                                <ng-option *ngFor="let item of products" [value]="item._id">
                                                    {{item.product_code ? item.product_code : ''}} : {{item.sr_num ?
                                                    item.sr_num : ''}}
                                                </ng-option>
                                            </ng-select>
                                        </td>
                                        <td *ngIf="settings.jawak.condition_id">
                                            <ng-select class="custom-sm mt-1" style="width: 100%;"
                                                placeholder="Select Condition" [clearable]="true" [virtualScroll]="true"
                                                [(ngModel)]="jwkForm.condition_id" name="condition_id"
                                                #condition_id="ngModel" [selectOnTab]="true"
                                                [readonly]="!!jwkForm.aawak_ref_id" appendTo="body"
                                                [ngClass]="{'readonly-field': !!jwkForm.aawak_ref_id}">
                                                <ng-option selected="selected" disabled value="">Select
                                                    Condition</ng-option>
                                                <ng-option *ngFor="let item of conditions"
                                                    [value]="item._id">{{item.list_name_hin}} : {{item.list_name_roman}}
                                                    :
                                                    {{item.list_name_eng}} </ng-option>
                                            </ng-select>
                                        </td>
                                        <td *ngIf="settings.jawak.company_name">
                                            <input type="text" class="form-control-sm" placeholder="Company Name"
                                                [(ngModel)]="jwkForm.company_name" name="company_name"
                                                #company_name="ngModel" [readonly]="!!jwkForm.aawak_ref_id"
                                                [ngClass]="{'readonly-field': !!jwkForm.aawak_ref_id}">
                                        </td>

                                        <td *ngIf="settings.jawak.aawak_source_id">
                                            <ng-select class="custom-sm" style="width: 100%;" placeholder="Aawak Source"
                                                [clearable]="true" [virtualScroll]="true"
                                                [(ngModel)]="jwkForm.aawak_source_id" name="aawak_source_id"
                                                #aawak_source_id="ngModel" [selectOnTab]="true"
                                                [readonly]="!!jwkForm.aawak_ref_id" appendTo="body"
                                                [ngClass]="{'readonly-field': !!jwkForm.aawak_ref_id}">
                                                <ng-option selected="selected" disabled value="">Aawak Source
                                                </ng-option>
                                                <ng-option *ngFor="let item of aawak_sources" [value]="item._id">
                                                    {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                    {{item.list_name_eng}}
                                                </ng-option>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select class="custom-sm" style="width: 100%;" placeholder="Jawak Type"
                                                [clearable]="true" [virtualScroll]="true"
                                                [(ngModel)]="jwkForm.jawak_type_id" name="jawak_type_id"
                                                #jawak_type_id="ngModel" [selectOnTab]="true" appendTo="body"
                                                [ngClass]="{'validation' : (jawak_type_id?.touched || fMain.submitted) && jawak_type_id.errors?.['required']}"
                                                required>
                                                <ng-option selected="selected" disabled value="">Jawak Type
                                                </ng-option>
                                                <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                                                    {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                    {{item.list_name_eng}}
                                                </ng-option>
                                            </ng-select>
                                        </td>
                                        <td *ngIf="settings.jawak.usage_list_id">
                                            <ng-select class="custom-sm" style="width: 100%;" placeholder="Usage List"
                                                [clearable]="true" [virtualScroll]="true" appendTo="body"
                                                [(ngModel)]="jwkForm.usage_list_id" name="usage_list_id"
                                                #usage_list_id="ngModel" [selectOnTab]="true"
                                                [ngClass]="{'validation' : (usage_list_id?.touched || fMain.submitted) && usage_list_id.errors?.['required']}">
                                                <ng-option selected="selected" disabled value="">Usage List
                                                </ng-option>
                                                <ng-option *ngFor="let item of usage_lists" [value]="item._id">
                                                    {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                    {{item.list_name_eng}}
                                                </ng-option>
                                            </ng-select>
                                        </td>
                                        <td *ngIf="settings.jawak.document">
                                            <a (click)="openImageModal(i)" class="form-control-sm"
                                                style="cursor: pointer;">
                                                <i class="uil-image-plus" *ngIf="!imagepath"
                                                    style="font-size:200%; "></i>
                                                <div *ngIf="imagepath && imagepath.length > 0">
                                                    <img src="{{this.api.getUrl('BASE')+imagepath[0]}}" alt="image"
                                                        class="rounded m-1" height="48" />
                                                    x {{imagepath.length}}
                                                </div>
                                                <i *ngIf="!imagepath || (imagepath && imagepath.length < 1)">Click To
                                                    Change</i>
                                            </a>
                                        </td>
                                        <td *ngIf="settings.jawak.item_detail">
                                            <textarea class="form-control-sm" placeholder="Item Details"
                                                [(ngModel)]="jwkForm.item_detail" name="item_detail"
                                                #item_detail="ngModel"></textarea>
                                        </td>
                                        <td *ngIf="settings.jawak.enz">
                                            <textarea class="form-control-sm" placeholder="Container Capacity"
                                                [(ngModel)]="jwkForm.enz.container_capacity" name="container_capacity"
                                                #item_detail="ngModel"></textarea>
                                        </td>
                                        <td *ngIf="settings.jawak.usage_report">
                                            <app-popover-filter label="Usage Report" direction="left"
                                                (clear)="clearReport(i)" clearButtonLabel="Done" triggerOn="hover">
                                                <div class="row" style="width: 80vw;">
                                                    <div class="col-md-2 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Date</label>
                                                            <input type="date" class="form-control-sm"
                                                                placeholder="Date"
                                                                [(ngModel)]="jwkForm.usage_report.date" name="date"
                                                                #date="ngModel">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Reporter</label>
                                                            <input type="text" class="form-control-sm"
                                                                placeholder="Reporter"
                                                                [(ngModel)]="jwkForm.usage_report.reporter"
                                                                name="reporter" #reporter="ngModel">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Usage Type</label>
                                                            <ng-select class="custom-sm" style="width: 100%;"
                                                                placeholder="Usage Type" [clearable]="true"
                                                                [virtualScroll]="true" appendTo="body"
                                                                (change)="usageTypeSelected($event, i)"
                                                                [(ngModel)]="jwkForm.usage_report.usage_type"
                                                                name="usage_type" #usage_type="ngModel"
                                                                [selectOnTab]="true">
                                                                <ng-option value="add">Add Usage Type
                                                                </ng-option>
                                                                <ng-option *ngFor="let item of usage_types"
                                                                    [value]="item._id">
                                                                    {{item.list_name_hin}} : {{item.list_name_roman}} :
                                                                    {{item.list_name_eng}}
                                                                </ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">फायदा</label>
                                                            <textarea class="form-control-sm" placeholder="Fayda"
                                                                [(ngModel)]="jwkForm.usage_report.fayda" name="fayda"
                                                                #fayda="ngModel"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">नुकसान</label>
                                                            <textarea class="form-control-sm" placeholder="Nuksan"
                                                                [(ngModel)]="jwkForm.usage_report.nuksan" name="nuksan"
                                                                #nuksan="ngModel"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Rating</label>

                                                            <div class="rating">
                                                                <span class="star"
                                                                    [class.filled]="jwkForm.usage_report.rating >= 1"
                                                                    (click)="jwkForm.usage_report.rating = 1">★</span>
                                                                <span class="star"
                                                                    [class.filled]="jwkForm.usage_report.rating >= 2"
                                                                    (click)="jwkForm.usage_report.rating = 2">★</span>
                                                                <span class="star"
                                                                    [class.filled]="jwkForm.usage_report.rating >= 3"
                                                                    (click)="jwkForm.usage_report.rating = 3">★</span>
                                                                <span class="star"
                                                                    [class.filled]="jwkForm.usage_report.rating >= 4"
                                                                    (click)="jwkForm.usage_report.rating = 4">★</span>
                                                                <span class="star"
                                                                    [class.filled]="jwkForm.usage_report.rating >= 5"
                                                                    (click)="jwkForm.usage_report.rating = 5">★</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </app-popover-filter>
                                        </td>
                                        <td *ngIf="settings.jawak.isbill">
                                            <div class="form-check mb-2">
                                                <input type="checkbox" class="form-check-input"
                                                    [(ngModel)]="jwkForm.isbill" name="isbill" #isbill="ngModel" />
                                                <!-- <label class="form-check-label" for="isbill"></label> -->
                                            </div>

                                        </td>
                                        <td *ngIf="settings.jawak.is_variable_qty">
                                            <div class="form-check mb-2">
                                                <input type="checkbox" class="form-check-input"
                                                    [(ngModel)]="jwkForm.is_variable_qty" name="is_variable_qty"
                                                    #is_variable_qty="ngModel" />
                                            </div>

                                        </td>
                                        <td *ngIf="settings.jawak.hl">
                                            <div class="form-check mb-2">
                                                <input type="checkbox" class="form-check-input" [(ngModel)]="jwkForm.hl"
                                                    name="hl" #hl="ngModel" />
                                            </div>

                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>




    <!-- Show Model -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#bunchAawakEntryComponent > #showModal').modal('hide')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)"
                        type="aawak" [getData]="fs.jawakFormMain.aawaks[imageIndex].document">
                    </app-files-view>

                    <!-- Add Usage Type -->
                    <app-support-list-entry *ngIf="showModal == 'Add Usage Type'"
                        (response)='usageTypeAddResponse($event)' list_type="usage_type"> </app-support-list-entry>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#bunchAawakEntryComponent > #showModal').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image upload Model -->
    <div class="modal fade" id="addImages" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                    <button type="button" class="btn-close"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-files-view *ngIf="showModal == 'Add Image'" (response)="imagesSelectResponse($event)"
                        type="aawak" [getData]="fs.jawakFormMain.aawaks[imageIndex].document">
                    </app-files-view>

                    <!-- Add Usage Type -->
                    <app-support-list-entry *ngIf="showModal == 'Add Usage Type'"
                        (response)='usageTypeAddResponse($event)' list_type="usage_type"> </app-support-list-entry>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        onclick="$('#bunchAawakEntryComponent > #addImages').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>