<app-popover-filter #popover [label]="selectedYear ? 'Years: ' + selectedYear : 'Years: All'" iconClass="uil uil-calendar-alt"
    direction="auto" [showClearButton]="false" triggerOn="click" [btnOutline]="!selectedYear">
    <div class="d-flex flex-wrap p-2 gap-2" style="width: 250px;">
        <span class="badge year-box" style="font-size: 13px;"
            [ngClass]="selectedYear === null ? 'bg-primary' : 'badge-outline-secondary'"
            (click)="onYearChange(null)">
            All
        </span>
        <span *ngFor="let y of gs.years" class="badge year-box" style="font-size: 13px;"
            [ngClass]="selectedYear == y ? 'bg-primary' : 'badge-outline-secondary'"
            (click)="onYearChange(y)">
            {{y}}
        </span>
    </div>
</app-popover-filter>
