<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>
<div class="row" id="vehEntryComponent">
    <form [formGroup]="vehForm">
        <div class="card card-body" *ngIf="mode == 'full'">
            <h5 class="card-title">
                Vehicle Information
            </h5>
            <!-- vehicle Information -->
            <div class="row">
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">MM</label>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select MM" [clearable]="true"
                            [virtualScroll]="true" formControlName="mm_id"
                            [ngClass]="{'validation':vehForm.get('mm_id')?.errors && (vehForm.get('mm_id')?.touched || vehForm.get ('mm_id')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select MM</ng-option>
                            <ng-option *ngFor="let item of mms" [value]="item._id">
                                {{item.mm_hin}}:{{item.mm_eng}}{{item.mm_code? ' :
                                '+item.mm_code:''}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Vehicle Type</label>
                        <input type="text" class="form-control" placeholder="Vehicle Type"
                            formControlName="vehicle_type"
                            [ngClass]="{'validation':vehForm.get('vehicle_type')?.errors && (vehForm.get('vehicle_type')?.touched || vehForm.get ('vehicle_type')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Gadi Name</label>
                        <input type="text" class="form-control" placeholder="Gadi Name" formControlName="gadi_name"
                            [ngClass]="{'validation':vehForm.get('gadi_name')?.errors && (vehForm.get('gadi_name')?.touched || vehForm.get ('gadi_name')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Gadi No.</label>
                        <input type="text" class="form-control" placeholder="Gadi No." formControlName="gadi_num"
                            [ngClass]="{'validation':vehForm.get('gadi_num')?.errors && (vehForm.get('gadi_num')?.touched || vehForm.get ('gadi_num')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Fuel Type</label>
                        <ng-select class="custom" style="width: 100%;" placeholder="Select Fuel Type"
                            [clearable]="false" [virtualScroll]="true" formControlName="fuel_type"
                            [ngClass]="{'validation':vehForm.get('fuel_type')?.errors && (vehForm.get('fuel_type')?.touched || vehForm.get ('fuel_type')?.dirty)}">
                            <ng-option selected="selected" disabled value="">Select Fuel Type</ng-option>
                            <ng-option value="PETROL">PETROL</ng-option>
                            <ng-option value="PETROL+CNG">PETROL+CNG</ng-option>
                            <ng-option value="CNG">CNG</ng-option>
                            <ng-option value="DIESEL">DIESEL</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Seating Capacity</label>
                        <input type="number" class="form-control" placeholder="Seating Capacity"
                            formControlName="seating_capacity"
                            [ngClass]="{'validation':vehForm.get('seating_capacity')?.errors && (vehForm.get('seating_capacity')?.touched || vehForm.get ('seating_capacity')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Owner Name</label>
                        <input type="text" class="form-control" placeholder="Owner Name" formControlName="owner_name"
                            [ngClass]="{'validation':vehForm.get('owner_name')?.errors && (vehForm.get('owner_name')?.touched || vehForm.get ('owner_name')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Nominee</label>
                        <input type="text" class="form-control" placeholder="Nominee" formControlName="nominee"
                            [ngClass]="{'validation':vehForm.get('nominee')?.errors && (vehForm.get('nominee')?.touched || vehForm.get ('nominee')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Aawak Type</label>
                        <input type="text" class="form-control" placeholder="Aawak Type" formControlName="aawak_type"
                            [ngClass]="{'validation':vehForm.get('aawak_type')?.errors && (vehForm.get('aawak_type')?.touched || vehForm.get ('aawak_type')?.dirty)}">
                    </div>
                </div>


            </div>
        </div>

        <!-- Vehicle Information Card -->

        <div class="card card-body">
            <h5 class="card-title">
                Vehicle Document Information
            </h5>
            <!-- RC And PUC Detail -->
            <div class="row">
                <ng-container *ngIf="mode === 'full' || 'rc'">
                    <div class="col-md-2 mb-3">
                        <label for="date" class="form-label">RC</label>
                        <input class="form-control" type="date" formControlName="rc_date">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="date" class="form-label">RC Exp.</label>
                        <input class="form-control" type="date" formControlName="rc_exp_date"
                            [ngClass]="{'validation':vehForm.get('rc_exp_date')?.errors && (vehForm.get('rc_exp_date')?.touched || vehForm.get ('rc_exp_date')?.dirty)}">
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-label">RC Amount</label>
                            <input type="number" class="form-control" placeholder="RC Amount"
                                formControlName="rc_amount">
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="mode === 'full' || 'puc'">
                    <div class="col-md-2 mb-3">
                        <label for="date" class="form-label">PUC</label>
                        <input class="form-control" type="date" formControlName="puc_date">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="date" class="form-label">PUC Exp.</label>
                        <input class="form-control" type="date" formControlName="puc_exp_date"
                            [ngClass]="{'validation':vehForm.get('puc_exp_date')?.errors && (vehForm.get('puc_exp_date')?.touched || vehForm.get ('puc_exp_date')?.dirty)}">
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-label">PUC Amount</label>
                            <input type="number" class="form-control" placeholder="PUC Amount"
                                formControlName="puc_amount">
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- Inssurance -->
            <div class="row" *ngIf="mode === 'ins' || 'full'">
                <div class="col-md-2 mb-3">
                    <label for="date" class="form-label">Insurance</label>
                    <input class="form-control" type="date" formControlName="insurance_date">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="date" class="form-label">Insurance Exp.</label>
                    <input class="form-control" type="date" formControlName="insurance_exp_date"
                        [ngClass]="{'validation':vehForm.get('insurance_exp_date')?.errors && (vehForm.get('insurance_exp_date')?.touched || vehForm.get ('insurance_exp_date')?.dirty)}">
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Insurance Type</label>
                        <input type="text" class="form-control" placeholder="Insurance Type"
                            formControlName="insurance_type"
                            [ngClass]="{'validation':vehForm.get('insurance_type')?.errors && (vehForm.get('insurance_type')?.touched || vehForm.get ('insurance_type')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Insurance Company</label>
                        <input type="text" class="form-control" placeholder="Insurance Company"
                            formControlName="insurance_company"
                            [ngClass]="{'validation':vehForm.get('insurance_company')?.errors && (vehForm.get('insurance_company')?.touched || vehForm.get ('insurance_company')?.dirty)}">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label class="form-label">Insurance Amount</label>
                        <input type="number" class="form-control" placeholder="Insurance Amount"
                            formControlName="insurance_amount">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <button class="btn btn-primary submit mx-3" *ngIf="!isEdit" type="submit"
                        (click)="vehFormSubmit()">Submit</button>
                    <button class="btn btn-warning submit mx-3" *ngIf="isEdit" type="submit"
                        (click)="vehFormUpdate()">Update</button>
                    <!-- <button class="btn btn-light submit mx-3" type="button" (click)="vehForm.reset()">clear</button> -->
                </div>
            </div>
        </div>

    </form>
</div>



<!-- Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
                <button type="button" class="btn-close" onclick="$('#mmEntryComponent > #showModal').modal('hide')"
                    (click)="showModal = ''" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width: 120px;"
                    onclick="$('#mmEntryComponent > #showModal').modal('hide')" (click)="showModal = ''">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Data View For Small List -->
<div class="modal fade" id="dataView" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{viewType}} DATA-VIEW</h5>
                <button type="button" class="btn-close" onclick="$('#mmEntryComponent > #dataView').modal('hide')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Department List -->
                <app-data-view *ngIf="viewType == 'Department'" [getData]="viewData" Type="dept_id"></app-data-view>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width: 120px;"
                    onclick="$('#mmEntryComponent > #dataView').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>