<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<div class="row" id="fileViewComponent">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 mb-3">
                <div class="add-container" (click)="uploadDocument.click()">
                    <input type="file" class="form-control" #uploadDocument (change)="changeDocument($event)" hidden
                        accept="image/*" />
                    <i class="uil-image-plus" style="font-size:400%; "></i>
                    <p class="add-title">ADD IMAGE</p>
                    <div class="overlay"></div>

                </div>
            </div>

            <div class="col-md-2 mb-3" *ngFor="let file of imageName;let i =index">
                <div class="container">
                    <img [src]="baseUrl+imageFolder+file.doc" alt="image" />
                    <p class="title">{{file.doc}}</p>
                    <div class="overlay"></div>
                    <div class="close btn btn-sm btn-outline-danger" (click)="imageDelete(file.doc)">
                        <i class="mdi mdi-trash-can-outline"></i>
                    </div>
                    <!--<div class="button btn btn-sm btn-outline-success" (click)="imageClicked(file)">
                        <i class="mdi mdi-check"></i>
                    </div> -->
                </div>

                <div class="card-footer" style="padding: .25rem 1.5rem;">
                    <div [formGroup]="docForm" class="form-check form-checkbox-success">
                        <input type="checkbox" class="form-check-input" [id]="i" value="{{file.doc}}"
                            (change)="docArr($event,file.doc)" formArrayName="file"
                            [attr.checked]="file.isChecked ? true : null">
                        <!-- <label class="form-check-label" for="customCheckcolor2">Success Checkbox</label> -->
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
                <button class="btn btn-primary" style="width: 100%;" type="submit"
                    (click)="imageSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">



                
            </div>
        </div>
    </div>
</div> -->