@import "~@ng-select/ng-select/scss/default.theme";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material-dark.css';

.submit {
  top: 28px;
  position: relative;
  width: 120px;
}

.validation {
  border: 1px solid red !important;
}

tbody:before {
  /* This doesn't work because of border-collapse */
  line-height: 1.5em;
  content: ".";
  color: rgba(0, 0, 0, 0);
  /* bacground color */
  display: block;
}

.table {
  width: 99.7%;
  table-layout: fixed;
}

// .ng-select .custom{
//     display: block;
//     width: 100%;
//     padding: .45rem 2.5rem .45rem .9rem;
//     font-size: .9rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #6c757d;
//     background-color: #fff;
//     background-repeat: no-repeat;
//     background-position: right .9rem center;
//     background-size: 16px 12px;
//     border: 1px solid #dee2e6;
//     border-radius: .25rem;
//     appearance: none;
// }

// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//     padding: 10px;

//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #d4d4d4;
//   }

//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #243245;
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #071c38;
//   }


#toast-container>.toast-success {
  background-image: none;
  background-color: #0acf97;
  color: #fff;
}

#toast-container>.toast-error {
  background-image: none;
  background-color: #fa5c7c;
  color: #fff;
}

#toast-container>.toast-warning {
  background-image: none;
  background-color: #ffbc00;
  color: #fff;
}

#toast-container>.toast-info {
  background-image: none;
  background-color: #3095b2;
  color: #fff;
}

span.search-icon {
  position: absolute;
  z-index: 9;
  font-size: 20px;
  line-height: 38px;
  left: 10px;
  top: 0;
}

.icon-mx-1{
  margin-right: .375rem !important;
  margin-left: .375rem !important;
}

.icon-mx-2{
  margin-left: -0.75rem !important;
  margin-right: 0.75rem !important;
}