<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>


<div class="row">

   <div class="row" style="padding: 10px 50px;">
      <ul class="nav nav-pills bg-nav-pills">
         <li class="nav-item">
            <button class="btn btn-danger" (click)="clearTempImport()">Clear Data</button>
         </li>
         <li class="nav-item">
            <a href="#exceldata" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
               Excel Data
               <span class="translate-middle bell badge rounded-pill bg-danger">
                  <!-- {{tempdata.length}} -->
               </span>
            </a>

         </li>
         <!-- <li class="nav-item mx-2">
            <div style="width: 15vw;margin-top: 1.5px;">
               <ng-select class="custom" style="width: 100%;" placeholder="Select Aawak MM" [clearable]="false"
                  [virtualScroll]="true" (change)="setAawakMM($event)" [ngModel]="excel_aawak_mm"
                  [ngModelOptions]="{standalone: true}">
                  <ng-option selected="selected" disabled value="">Select Aawak MM</ng-option>
                  <ng-option *ngFor="let item of mms" [value]="" value="{{item.mm_hin}}:{{item._id}}">
                     {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
               </ng-select>
            </div>
         </li> -->
         <li class="nav-item">
            <a href="#correction" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Make Correction
               <!-- <span class="translate-middle bell badge rounded-pill bg-danger">
                  {{tempdata.length}}
               </span> -->
            </a>
         </li>
         <li class="nav-item">
            <a href="#tobeimport" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Data To Be Imported
               <!-- <span class="translate-middle bell badge rounded-pill bg-danger">
               {{tempdata.length}}
            </span> -->
            </a>
         </li>
         <!-- <li class="nav-item">
            <a href="#duplicate" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Duplicate Data
               <span class="translate-middle bell badge rounded-pill" style="background-color: #bf7d40;">
                  {{this.duplicatedata.length}}
               </span>
            </a>
         </li> -->
         <li class="nav-item">
            <a href="#skipped" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Skipped Data
               <span class="translate-middle bell badge rounded-pill" style="background-color: #da2534;">
                  <!-- {{skippeddata.length}} -->
               </span>
            </a>
         </li>

         <li class="nav-item" style="margin-left: auto;">
            <a class="nav-link rounded-0">
               Successfully Imported
               <span class="translate-middle bell badge rounded-pill bg-success">
                  <!-- {{finaldata.length}} -->
               </span>
            </a>
         </li>

      </ul>
   </div>

   <div class="tab-content">
      <!-- exceldata -->
      <div class="tab-pane show active" id="exceldata" style="overflow: auto;">
         <table id="datatable-buttons" class="table table-hover dt-responsive">
            <thead>
               <tr>
                  <th style="width: 50px;">No.</th>
                  <th style="width: 80px;">Pkt No.</th>
                  <th style="width: 80px;">Date</th>
                  <th style="width: 100px;">MM</th>
                  <th style="width: 100px;">Aawak MM</th>
                  <th style="width: 200px;">Sewadhari</th>
                  <th style="width: 100px;">Item</th>
                  <th style="width: 100px;">Subitem</th>
                  <th style="width: 100px;">Product</th>
                  <th style="width: 100px;">Company</th>
                  <th style="width: 100px;">Condition</th>
                  <th style="width: 250px;">Item Details</th>
                  <th style="width: 70px;">Quantity</th>
                  <th style="width: 70px;">Rate</th>
                  <th style="width: 70px;">Amount</th>
                  <th style="width: 80px;">Aawak Type</th>
                  <th style="width: 80px;">Nimitt</th>
                  <th style="width: 80px;">Dept</th>
               </tr>
            </thead>
            <tbody>
               <ng-container *ngFor="let data of importData | filter:term; let i=index">
                  <tr class="main-row">
                     <td>{{i+1}}</td>
                     <td>{{data.pkt_num ? data.pkt_num : '-'}} </td>
                     <td [ngClass]="{'marked': !data.date}">{{data.date?(data.date | date:'dd-MM-yyyy'):'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.mm_id}">
                        {{data.mm}}
                     </td>
                     <td [ngClass]="{'marked': data.aj_mm && !data.aj_mm_id}">
                        {{data.aj_mm}}
                     </td>
                     <td [ngClass]="{'marked': data.pbk && !data.pbk_id}">
                        {{data.pbk.roll_no?data.pbk.roll_no:'____'}} {{data.pbk.name?data.pbk.name:'-'}} <br />
                        {{data.pbk.relation?data.pbk.relation:'-'}} - {{data.pbk.relative?data.pbk.relative:'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.item_id}">{{data.item?data.item:'-'}} <br /></td>
                     <td [ngClass]="{'marked': !data.subitem_id && data.subitem}">
                        {{data.subitem?data.subitem:'-'}}
                     </td>
                     <td [ngClass]="{'marked': data.product && !data.product_id}">
                        {{data.product?data.product:'-'}}
                     </td>
                     <td>
                        {{data.company?data.company:'-'}}
                     </td>
                     <td [ngClass]="{'marked': data.condition && !data.condition_id}">
                        {{data.condition?data.condition:'-'}}
                     </td>
                     <td>{{data.item_detail?data.item_detail:'-'}}</td>
                     <td [ngClass]="{'marked': !data.qty || !data.unit_id}">{{data.qty?data.qty:'-'}}
                        {{data.unit?data.unit:'-'}}</td>
                     <td>{{data.rate?data.rate:'-'}}</td>
                     <td>{{data.actual_amt?data.actual_amt:'-'}}</td>
                     <td [ngClass]="{'marked': !data.aj_type_id}">
                        {{data.aj_type?data.aj_type:'-'}}
                     </td>
                     <td [ngClass]="{'marked': data.nimitt && !data.nimitt_id}">
                        {{data.nimitt?data.nimitt:'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.dept_id}">
                        {{data.dept?data.dept:'-'}}
                     </td>
                  </tr>
                  <ng-container *ngIf="data.jawak_detail.length > 0">
                     <tr class="ribbon-box">
                        <td style="border: none;"></td>
                        <td colspan="11" class="sub-row">
                           <table class="card-body" style="width: 99.7%;table-layout: fixed;">
                              <tr>
                                 <th>No.</th>
                                 <th>कहा भेजा</th>
                                 <th>किसको दिया</th>
                                 <th>जवाक प्रकार</th>
                                 <th>परिमाण</th>
                                 <th style="width:0px;">
                                    <div class="ribbon ribbon-secondary text-light float-end"> Destribution
                                    </div>
                                 </th>
                              </tr>
                              <tr *ngFor="let jwk of data.jawak_detail; let j = index;">
                                 <td style="width: 80px;">
                                    <i class="uil-corner-down-right"></i>
                                    <span class="mx-1">{{j+1}}</span>
                                 </td>
                                 <td [ngClass]="{'marked': !jwk.aj_mm_id}">{{jwk.aj_mm}}</td>
                                 <td [ngClass]="{'marked': jwk.nimitt && !jwk.nimitt_id}">{{jwk.nimitt}} </td>
                                 <td [ngClass]="{'marked': !jwk.aj_type_id}">{{jwk.aj_type}}</td>
                                 <td [ngClass]="{'marked': !jwk.qty || !jwk.unit_id}">{{jwk.qty}} {{jwk.unit}}</td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </ng-container>
               </ng-container>
            </tbody>
         </table>
      </div>

      <!-- correction -->
      <div class="tab-pane p-4" id="correction" style="overflow: auto;">
         <table id="datatable-buttons" class="table table-hover dt-responsive">
            <thead>
               <tr>
                  <th style="width: 50px;">No.</th>
                  <th style="width: 100px;">Type</th>
                  <th style="width: 200px;">Name</th>
                  <th style="width: 500px;">Select Proper Value</th>
                  <th style="width: 100px;">Dictionary</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let data of unmatchedData | filter:term; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{data.type}} </td>
                  <!-- <td *ngIf="data.type == 'item'">{{data.name}} - {{data.subitem}} </td> -->
                  <td *ngIf="data.type == 'pbk'">
                     {{data.pbk.roll_no ? data.pbk.roll_no : '____'}} {{data.pbk.pbk ? data.pbk.pbk : ''}} <br />
                     {{data.pbk.relation ? data.pbk.relation : ''}} {{data.pbk.relative ? data.pbk.relative : ''}}
                  </td>
                  <td *ngIf="data.type != 'pbk'">{{data.name}} - {{data.extra_note ? data.extra_note : ''}} </td>
                  <td>
                     <div class="row">
                        <!-- mm dropdown -->
                        <ng-select *ngIf="data.type == 'mm' || data.type == 'aj_mm'" class="custom"
                           placeholder="Select MM" [virtualScroll]="true" [(ngModel)]="data.id"
                           [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select MM --</ng-option>
                           <ng-option *ngFor="let item of mms" [value]="item._id">{{item.mm_hin}}:{{item.mm_eng}} :
                              {{item.mm_code}}</ng-option>
                        </ng-select>

                        <!-- item dropdown -->
                        <div class="col-4">
                           <ng-select *ngIf="data.type == 'item'" class="custom" placeholder="Select Category"
                              [virtualScroll]="true" (click)="catSelected($event)">
                              <ng-option selected="selected" disabled value="">-- Select Category --</ng-option>
                              <ng-option *ngFor="let item of categories" [value]="item._id">
                                 {{item.category_hin}}:{{item.category_eng}}</ng-option>
                           </ng-select>
                        </div>
                        <!-- item dropdown -->
                        <div class="col-4">
                           <ng-select *ngIf="data.type == 'item'" class="custom" placeholder="Select Item"
                              [virtualScroll]="true" (click)="itemSelected($event)" [(ngModel)]="data.id"
                              [ngModelOptions]="{standalone: true}">
                              <ng-option selected="selected" disabled value="">-- Select Item --</ng-option>
                              <ng-option *ngFor="let item of items" [value]="item._id">
                                 {{item.item_hin}}:{{item.item_eng}}</ng-option>
                           </ng-select>
                        </div>
                        <!-- subitem dropdown -->
                        <div class="col-4">
                           <ng-select *ngIf="data.type == 'item'" class="custom" placeholder="Select Subitem"
                              [virtualScroll]="true" [(ngModel)]="data.id2"
                              [ngModelOptions]="{standalone: true}">
                              <ng-option selected="selected" disabled value="">-- Select Subitem --</ng-option>
                              <ng-option *ngFor="let item of subitems" [value]="item._id">
                                 {{item.subitem_hin}}:{{item.subitem_eng}}</ng-option>
                           </ng-select>
                        </div>

                        <!-- pbk dropdown -->
                        <ng-select *ngIf="data.type == 'pbk'" class="custom" placeholder="Select Pbk"
                           [virtualScroll]="true" [(ngModel)]="data.pbk_id" [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select Pbk --</ng-option>
                           <ng-option *ngFor="let item of pbks" [value]="item._id">
                              {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                              {{item.relative_name}}</ng-option>
                        </ng-select>

                        <!-- aawak type dropdown -->
                        <ng-select *ngIf="data.type == 'awk_type'" class="custom" placeholder="Select Aawak Type"
                           [virtualScroll]="true" [(ngModel)]="data.id" [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select Aawak Type --</ng-option>
                           <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                              {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                        </ng-select>

                        <!-- jawak type dropdown -->
                        <ng-select *ngIf="data.type == 'jwk_type'" class="custom" placeholder="Select Jawak Type"
                           [virtualScroll]="true" [(ngModel)]="data.id" [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select Jawak Type --</ng-option>
                           <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                              {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                        </ng-select>

                        <!-- Condition dropdown -->
                        <ng-select *ngIf="data.type == 'condition'" class="custom" placeholder="Select Condition"
                           [virtualScroll]="true" [(ngModel)]="data.id" [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select Condition --</ng-option>
                           <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                              {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                        </ng-select>

                        <!-- Nimitt dropdown -->
                        <ng-select *ngIf="data.type == 'nimitt'" class="custom" placeholder="Select Nimitt"
                           [virtualScroll]="true" [(ngModel)]="data.id" [ngModelOptions]="{standalone: true}">
                           <ng-option selected="selected" disabled value="">-- Select Nimitt --</ng-option>
                           <ng-option *ngFor="let item of nimitts" [value]="item._id">
                              {{item.nimitt_hin}}:{{item.nimitt_eng}}</ng-option>
                        </ng-select>

                     </div>
                  </td>
                  <td><input type="checkbox" class="form-check-input" [(ngModel)]="data.dictionary"
                        [ngModelOptions]="{standalone: true}"> </td>
               </tr>
            </tbody>
         </table>
         <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
               <button class="w-100 btn btn-warning" (click)="applyCorrection()">Apply</button>
            </div>
         </div>
      </div>


   </div>

</div>