<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> {{loaderStatus}} </p>
</ngx-spinner>


<div class="row" *ngIf="importData && importData.length">

   <div class="row" style="padding: 10px 50px;">
      <ul class="nav nav-pills bg-nav-pills">
         <li class="nav-item">
            <button class="btn btn-danger" (click)="clearTempImport()">Clear Data</button>
         </li>
         <li class="nav-item">
            <a href="#exceldata" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
               Excel Data
               <span class="translate-middle bell badge rounded-pill bg-danger">
                  <!-- {{tempdata.length}} -->
               </span>
            </a>

         </li>
         <!-- <li class="nav-item mx-2">
            <div style="width: 15vw;margin-top: 1.5px;">
               <ng-select class="custom" style="width: 100%;" placeholder="Select Aawak MM" [clearable]="false"
                  [virtualScroll]="true" (change)="setAawakMM($event)" [ngModel]="excel_aawak_mm"
                  [ngModelOptions]="{standalone: true}">
                  <ng-option selected="selected" disabled value="">Select Aawak MM</ng-option>
                  <ng-option *ngFor="let item of mms" [value]="" value="{{item.mm_hin}}:{{item._id}}">
                     {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
               </ng-select>
            </div>
         </li> -->
         <li class="nav-item" *ngIf="unmatchedData.length > 0">
            <a href="#correction" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Make Correction
               <!-- <span class="translate-middle bell badge rounded-pill bg-danger">
                  {{tempdata.length}}
               </span> -->
            </a>
         </li>
         <li class="nav-item">
            <a href="#tobeimport" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Data To Be Imported
               <!-- <span class="translate-middle bell badge rounded-pill bg-danger">
               {{tempdata.length}}
            </span> -->
            </a>
         </li>
         <!-- <li class="nav-item">
            <a href="#duplicate" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Duplicate Data
               <span class="translate-middle bell badge rounded-pill" style="background-color: #bf7d40;">
                  {{this.duplicatedata.length}}
               </span>
            </a>
         </li> -->
         <!-- <li class="nav-item">
            <a href="#skipped" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
               Skipped Data
               <span class="translate-middle bell badge rounded-pill" style="background-color: #da2534;">
               </span>
            </a>
         </li> -->

         <!-- <li class="nav-item" style="margin-left: auto;">
            <a class="nav-link rounded-0">
               Successfully Imported
               <span class="translate-middle bell badge rounded-pill bg-success">
               </span>
            </a>
         </li> -->

      </ul>
   </div>

   <div class="tab-content">
      <!-- exceldata -->
      <div class="tab-pane show active" id="exceldata" style="overflow: auto;">
         <pagination-controls class="pagi text-center" id="pagi1" (pageChange)="page = $event" [autoHide]="true">
         </pagination-controls>
         <table id="datatable-buttons" class="table table-hover dt-responsive">
            <thead>
               <tr>
                  <th style="width: 50px;">No.</th>
                  <th style="width: 50px;">Awk ID</th>
                  <th style="width: 80px;">Pkt No.</th>
                  <th style="width: 80px;">Date</th>
                  <th style="width: 100px;">MM</th>
                  <th style="width: 100px;">Aawak MM</th>
                  <th style="width: 200px;" *ngIf="settings.aawak.pbk_id">Sewadhari</th>
                  <th style="width: 100px;">Item</th>
                  <th style="width: 100px;">Subitem</th>
                  <th style="width: 100px;" *ngIf="settings.aawak.product_id">Product</th>
                  <th style="width: 100px;">Company</th>
                  <th style="width: 100px;" *ngIf="settings.aawak.condition_id">Condition</th>
                  <th style="width: 250px;">Item Details</th>
                  <th style="width: 250px;">Description</th>
                  <th style="width: 70px;">Quantity</th>
                  <th style="width: 70px;">Rate</th>
                  <th style="width: 70px;">Amount</th>
                  <th style="width: 80px;">Aawak Type</th>
                  <th style="width: 70px;">Bill</th>
                  <th style="width: 80px;">Nimitt</th>
                  <th style="width: 80px;">Dept</th>
               </tr>
            </thead>
            <tbody>
               <ng-container
                  *ngFor="let data of importData | filter:term | paginate: {id:'pagi1',itemsPerPage: itemsPerPage,currentPage: page,totalItems: total_count}; let i=index">
                  <tr class="main-row">
                     <td>{{itemsPerPage * (page - 1) + (i+1)}}</td>
                     <td>{{data.awk_id ? data.awk_id : ''}} </td>
                     <td>{{data.pkt_num ? data.pkt_num : '-'}} </td>
                     <td [ngClass]="{'marked': !data.date}">{{data.date?(data.date | date:'dd-MM-yyyy'):'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.mm_id}">
                        {{data.mm}}
                     </td>
                     <td [ngClass]="{'marked': data.aj_mm && !data.aj_mm_id}">
                        {{data.aj_mm}}
                     </td>
                     <td *ngIf="settings.aawak.pbk_id"
                        [ngClass]="{'marked': (data.pbk.roll_no || data.pbk.pbk || data.pbk.relation || data.pbk.relative) && !data.pbk_id}">
                        {{data.pbk.roll_no?data.pbk.roll_no:'____'}} {{data.pbk.name?data.pbk.name:'-'}} <br />
                        {{data.pbk.relation?data.pbk.relation:'-'}} - {{data.pbk.relative?data.pbk.relative:'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.item_id}">{{data.item?data.item:'-'}} <br /></td>
                     <td [ngClass]="{'marked': !data.subitem_id && data.subitem}">
                        {{data.subitem?data.subitem:'-'}}
                     </td>
                     <td *ngIf="settings.aawak.product_id" [ngClass]="{'marked': data.product && !data.product_id}">
                        {{data.product?data.product:'-'}}
                     </td>
                     <td>
                        {{data.company_name?data.company_name:'-'}}
                     </td>
                     <td *ngIf="settings.aawak.condition_id"
                        [ngClass]="{'marked': data.condition && !data.condition_id}">
                        {{data.condition?data.condition:'-'}}
                     </td>
                     <td>{{data.item_detail?data.item_detail:'-'}}</td>
                     <td>{{data.description?data.description:'-'}}</td>
                     <td [ngClass]="{'marked': !data.qty || !data.unit_id}">{{data.qty?data.qty:'-'}}
                        {{data.unit?data.unit:'-'}}</td>
                     <td>{{data.rate?data.rate:'-'}}</td>
                     <td>{{data.actual_amt?data.actual_amt:'-'}}</td>
                     <td [ngClass]="{'marked': !data.aj_type_id}">
                        {{data.aj_type?data.aj_type:'-'}}
                     </td>
                     <td>{{data.isbill?'true':'false'}}</td>
                     <td [ngClass]="{'marked': data.nimitt && !data.nimitt_id}">
                        {{data.nimitt?data.nimitt:'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.dept_id}">
                        {{data.dept?data.dept:'-'}}
                     </td>
                  </tr>
                  <ng-container *ngIf="data.jawak_detail.length > 0">
                     <tr class="ribbon-box">
                        <td style="border: none;"></td>
                        <td colspan="12" class="sub-row">
                           <table class="card-body" style="width: 99.7%;table-layout: fixed;">
                              <tr>
                                 <th>No.</th>
                                 <th>Date</th>
                                 <th>Pkt No</th>
                                 <th>कहा भेजा</th>
                                 <th>किसको दिया</th>
                                 <th>Description</th>
                                 <th>जवाक प्रकार</th>
                                 <th>परिमाण</th>
                                 <th>जवाक केटेगरी</th>
                                 <th style="width:0px;">
                                    <div class="ribbon ribbon-secondary text-light float-end"> Destribution
                                    </div>
                                 </th>
                              </tr>
                              <tr *ngFor="let jwk of data.jawak_detail; let j = index;">
                                 <td style="width: 80px;">
                                    <i class="uil-corner-down-right"></i>
                                    <span class="mx-1">{{j+1}}</span>
                                 </td>
                                 <td [ngClass]="{'marked': !jwk.date}">{{jwk.date}}</td>
                                 <td>{{jwk.pkt_num}}</td>
                                 <td [ngClass]="{'marked': !jwk.aj_mm_id}">{{jwk.aj_mm}}</td>
                                 <td [ngClass]="{'marked': jwk.nimitt && !jwk.nimitt_id}">{{jwk.nimitt}} </td>
                                 <td>{{jwk.description}}</td>
                                 <td [ngClass]="{'marked': !jwk.aj_type_id}">{{jwk.aj_type}}</td>
                                 <td [ngClass]="{'marked': !jwk.qty || !data.unit_id}">{{jwk.qty}} {{data.unit}}</td>
                                 <td [ngClass]="{'marked': jwk.usage_category && !data.usage_category_id}">
                                    {{jwk.usage_category}}</td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </ng-container>
               </ng-container>
            </tbody>
            <tfoot>
               <pagination-controls class="pagi text-center" (pageChange)="page = $event" [autoHide]="true">
               </pagination-controls>
            </tfoot>
         </table>
      </div>

      <!-- correction -->
      <div class="tab-pane p-4" id="correction" style="overflow: auto;">
         <div class="row" *ngIf="unmatchedData.length > 0">
            <pagination-controls class="pagi text-center" (pageChange)="pageCorrection = $event" [autoHide]="true">
            </pagination-controls>
            <table id="datatable-buttons" class="table table-hover dt-responsive">
               <thead>
                  <tr>
                     <th style="width: 50px;">No.</th>
                     <th style="width: 100px;">Type</th>
                     <th style="width: 200px;">Name</th>
                     <th style="width: 500px;">Select Proper Value</th>
                     <th style="width: 100px;">Dictionary</th>
                     <th style="width: 100px;">Ignore</th>
                  </tr>
               </thead>
               <tbody>
                  <ng-container
                     *ngFor="let data of unmatchedData | filter:term | paginate: {itemsPerPage: 10,currentPage: pageCorrection,totalItems: unmatchedData.length}; let i=index">
                     <tr [class]="{'ignored':data.ignore}">
                        <td>{{10 * (pageCorrection - 1) + (i+1)}}</td>
                        <td>{{data.type}} </td>
                        <!-- <td *ngIf="data.type == 'item'">{{data.name}} - {{data.subitem}} </td> -->
                        <td *ngIf="data.type == 'pbk'">
                           {{data.pbk.roll_no ? data.pbk.roll_no : '____'}} {{data.pbk.pbk ? data.pbk.pbk : ''}} <br />
                           {{data.pbk.relation ? data.pbk.relation : ''}} {{data.pbk.relative ? data.pbk.relative : ''}}
                        </td>
                        <td *ngIf="data.type != 'pbk'">{{data.name}} - {{data.extra_note ? data.extra_note : ''}} </td>
                        <td>
                           <div class="row">
                              <!-- mm dropdown -->
                              <ng-select *ngIf="data.type == 'mm' || data.type == 'aj_mm'" class="custom custom-import"
                                 placeholder="Select MM" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select MM --</ng-option>
                                 <ng-option *ngFor="let item of mms" [value]="item._id">{{item.mm_hin}}:{{item.mm_eng}}
                                    :
                                    {{item.mm_code}}</ng-option>
                              </ng-select>

                              <!-- item dropdown -->
                              <div class="col-4">
                                 <ng-select *ngIf="data.type == 'item' || data.type == 'category'"
                                    class="custom custom-import" placeholder="Select Category" [virtualScroll]="true"
                                    (change)="catSelected($event, data.type)">
                                    <ng-option selected="selected" disabled value="">-- Select Category --</ng-option>
                                    <ng-option *ngFor="let item of categories" [value]="item._id">
                                       {{item.category_hin}}:{{item.category_eng}}</ng-option>
                                 </ng-select>
                              </div>
                              <!-- item dropdown -->
                              <div class="col-4">
                                 <ng-select *ngIf="data.type == 'item'" class="custom custom-import"
                                    placeholder="Select Item" [virtualScroll]="true" [(ngModel)]="data.id"
                                    [ngModelOptions]="{standalone: true}" (change)="itemSelected($event)">
                                    <ng-option selected="selected" disabled value="">-- Select Item --</ng-option>
                                    <ng-option *ngFor="let item of items" [value]="item._id">
                                       {{item.item_hin}}:{{item.item_eng}}</ng-option>
                                 </ng-select>
                              </div>
                              <!-- subitem dropdown -->
                              <div class="col-4">
                                 <ng-select *ngIf="data.type == 'item'" class="custom custom-import"
                                    placeholder="Select Subitem" [virtualScroll]="true" [(ngModel)]="data.id2"
                                    [ngModelOptions]="{standalone: true}">
                                    <ng-option selected="selected" disabled value="">-- Select Subitem --</ng-option>
                                    <ng-option *ngFor="let item of subitems" [value]="item._id">
                                       {{item.subitem_hin}}:{{item.subitem_eng}}</ng-option>
                                 </ng-select>
                              </div>

                              <!-- product dropdown -->
                              <div class="col-4">
                                 <ng-select *ngIf="data.type == 'product'" class="custom custom-import"
                                    placeholder="Select Product" [virtualScroll]="true" [(ngModel)]="data.id"
                                    [ngModelOptions]="{standalone: true}">
                                    <ng-option selected="selected" disabled value="">-- Select Product --</ng-option>
                                    <ng-option *ngFor="let item of products" [value]="item._id">
                                       {{item.product_code}}:{{item.sr_num}}</ng-option>
                                 </ng-select>
                              </div>

                              <!-- pbk dropdown -->
                              <ng-select *ngIf="data.type == 'pbk'" class="custom custom-import"
                                 placeholder="Select Pbk" [virtualScroll]="true" [(ngModel)]="data.pbk_id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Pbk --</ng-option>
                                 <ng-option *ngFor="let item of pbks" [value]="item._id">
                                    {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                                    {{item.relative_name}}</ng-option>
                              </ng-select>

                              <!-- aawak type dropdown -->
                              <ng-select *ngIf="data.type == 'awk_type'" class="custom custom-import"
                                 placeholder="Select Aawak Type" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Aawak Type --</ng-option>
                                 <ng-option *ngFor="let item of aawak_types" [value]="item._id">
                                    {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                              </ng-select>

                              <!-- jawak type dropdown -->
                              <ng-select *ngIf="data.type == 'jwk_type'" class="custom custom-import"
                                 placeholder="Select Jawak Type" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Jawak Type --</ng-option>
                                 <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                                    {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                              </ng-select>

                              <!-- Condition dropdown -->
                              <ng-select *ngIf="data.type == 'condition'" class="custom custom-import"
                                 placeholder="Select Condition" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Condition --</ng-option>
                                 <ng-option *ngFor="let item of conditions" [value]="item._id">
                                    {{item.list_name_hin}}:{{item.list_name_eng}}</ng-option>
                              </ng-select>

                              <!-- Nimitt dropdown -->
                              <ng-select *ngIf="data.type == 'nimitt'" class="custom custom-import"
                                 placeholder="Select Nimitt" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Nimitt --</ng-option>
                                 <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                    {{item.nimitt_hin}}:{{item.nimitt_eng}} ({{item.state_hin}})</ng-option>
                              </ng-select>

                              <!-- Unit dropdown -->
                              <ng-select *ngIf="data.type == 'unit'" class="custom custom-import"
                                 placeholder="Select Unit" [virtualScroll]="true" [(ngModel)]="data.id"
                                 [ngModelOptions]="{standalone: true}">
                                 <ng-option selected="selected" disabled value="">-- Select Unit --</ng-option>
                                 <ng-option *ngFor="let item of units" [value]="item._id">
                                    {{item.unit_short}}:{{item.unit_full}}</ng-option>
                              </ng-select>

                           </div>
                        </td>
                        <td><input type="checkbox" class="form-check-input" [(ngModel)]="data.dictionary"
                              [ngModelOptions]="{standalone: true}" [disabled]="data.type=='product'"> </td>
                        <td>
                           <div *ngIf="!data.ignore && (data.type == 'nimitt' || data.type == 'product')"
                              class="btn btn-warning" (click)="ignoreCorrection(data, i)">Ignore</div>
                           <div *ngIf="data.extra_note && data.id" class="text-warning">You can't select subitem after
                              applying "Apply" Button.</div>
                           <div *ngIf="data.ignore"> Ignored</div>
                        </td>
                     </tr>
                  </ng-container>
               </tbody>
               <tfoot>
                  <td colspan="6">
                     <pagination-controls class="pagi text-center" (pageChange)="pageCorrection = $event"
                        [autoHide]="true">
                     </pagination-controls>
                  </td>
               </tfoot>
            </table>
            <div class="col-10"></div>
            <div class="col-2">
               <button class="w-100 btn btn-warning" (click)="applyCorrection()">Apply</button>
            </div>
         </div>

      </div>

      <!-- tobeimport -->
      <div class="tab-pane p-4" id="tobeimport" style="overflow: auto;">
         <form [formGroup]="importForm">
            <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style]="progressStyle"> {{processedCount}}
                  out of {{importData.length}} </div>
            </div>
            <div class="row mt-1">
               <div class="col-md-3 mb-3">
                  <div class="form-group">
                     <label class="form-label">MM</label>
                     <!-- <a type="button" style="padding: 1px 6px !important;"
                           class="btn btn-outline-primary float-end"
                           onclick="$('#subitemComponent > #showModal').modal('show')"
                           (click)="showModal = 'Add Item'">+
                           Add</a> -->
                     <ng-select class="custom" style="width: 100%;" placeholder="Select MM" [clearable]="false"
                        [virtualScroll]="true" formControlName="mm_id"
                        [ngClass]="{'validation':importForm.get('mm_id')?.errors && (importForm.get('mm_id')?.touched || importForm.get ('mm_id')?.dirty)}">
                        <ng-option selected="selected" disabled value="">Select MM</ng-option>
                        <ng-option *ngFor="let item of mms" [value]="item._id">{{item.mm_hin}} :
                           {{item.mm_eng}} : {{item.mm_code?' : '+item.mm_code:''}}</ng-option>
                     </ng-select>
                  </div>
               </div>
               <div class="col-md-2 mb-3">
                  <label class="form-label">Year</label>
                  <ng-select class="custom" style="width: 100%;" placeholder="Select Year" [virtualScroll]="true"
                     formControlName="year" (change)="yearChanged($event)"
                     [ngClass]="{'validation':importForm.get('year')?.errors && (importForm.get('year')?.touched || importForm.get ('year')?.dirty)}">
                     <ng-option selected="selected" disabled value="">Select Year
                     </ng-option>
                     <ng-option *ngFor="let item of years" [value]="item">{{item}}</ng-option>
                  </ng-select>
               </div>
               <div class="col-md-2 mb-3">
                  <label class="form-label">Month</label>
                  <ng-select class="custom" style="width: 100%;" placeholder="Select Month" [virtualScroll]="true"
                     formControlName="month"
                     [ngClass]="{'validation':importForm.get('month')?.errors && (importForm.get('month')?.touched || importForm.get ('month')?.dirty)}">
                     <ng-option selected="selected" disabled value="">Select Month
                     </ng-option>
                     <ng-option *ngFor="let item of months" [value]="item.m">{{item.m}} : {{item.name}}</ng-option>
                  </ng-select>
               </div>
               <div class="col-md-2 mb-3">
                  <div class="form-check form-switch">
                     <input type="checkbox" class="form-check-input" formControlName="autoUpdate">
                     <label class="form-check-label" for="customSwitch2">Update Jawak Only (where available)</label>
                  </div>
               </div>
               <div class="col-md-2 mb-3">
                  <button class="w-100 btn btn-primary" type="submit" (click)="importFinal()">Import Data</button>
               </div>
               <!-- <div class="col-10">
                  कोई भी करेक्शन की जरूरत नहीं है, आगे डाटा वेरीफाई करके इम्पोर्ट करे ।
               </div> -->
            </div>
         </form>
         <pagination-controls class="pagi text-end" (pageChange)="page = $event" [autoHide]="true">
         </pagination-controls>
         <table id="datatable-buttons" class="table table-hover dt-responsive">
            <thead>
               <tr>
                  <th style="width: 50px;">No.</th>
                  <th style="width: 80px;">Pkt No.</th>
                  <th style="width: 80px;">Date</th>
                  <th style="width: 100px;">MM</th>
                  <th style="width: 100px;">Aawak MM</th>
                  <th style="width: 200px;" *ngIf="settings.aawak.pbk_id">Sewadhari</th>
                  <th style="width: 100px;">Item</th>
                  <th style="width: 100px;" *ngIf="settings.aawak.product_id"> Product</th>
                  <th style="width: 100px;">Company</th>
                  <th style="width: 100px;" *ngIf="settings.aawak.condition_id">Condition</th>
                  <th style="width: 250px;">Item Details</th>
                  <th style="width: 250px;">Description</th>
                  <th style="width: 70px;">Quantity</th>
                  <th style="width: 80px;">Aawak Type</th>
                  <th style="width: 70px;">Bill</th>
                  <th style="width: 80px;">Nimitt</th>
                  <th style="width: 80px;">Dept</th>
               </tr>
            </thead>
            <tbody>
               <ng-container
                  *ngFor="let data of importData | filter:term | paginate: {itemsPerPage: itemsPerPage,currentPage: page,totalItems: total_count}; let i=index">
                  <tr class="main-row" [ngClass]="{'marked': !data.valid, 'warned':data._id}">
                     <td>{{itemsPerPage * (page - 1) + (i+1)}}</td>
                     <td>{{data.pkt_num ? data.pkt_num : '-'}} </td>
                     <td [ngClass]="{'marked': !data.date}">{{data.date?(data.date | date:'dd-MM-yyyy'):'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.mm_id}">
                        {{data.mm_hin}} <br /> {{data.mm_code}}
                     </td>
                     <td [ngClass]="{'marked': data.aj_mm && !data.aj_mm_id}">
                        {{data.aj_mm_hin}} <br /> {{data.aj_mm_code}}
                     </td>
                     <td *ngIf="settings.aawak.pbk_id"
                        [ngClass]="{'marked': (data.pbk.roll_no || data.pbk.pbk || data.pbk.relation || data.pbk.relative) && !data.pbk_id}">
                        {{data.roll_no?data.roll_no:'____'}} {{data.pbk_hin?data.pbk_hin:'-'}} <br />
                        {{data.relation?data.relation:'-'}} - {{data.relative_name?data.relative_name:'-'}}
                     </td>
                     <td [ngClass]="{'marked': !data.item_id || (!data.subitem_id && data.subitem)}">
                        {{data.item_hin}} - {{data.subitem_hin}}
                     </td>
                     <td *ngIf="settings.aawak.product_id" [ngClass]="{'marked': data.product && !data.product_id}">
                        {{data.product_code?data.product_code:'-'}} <br />
                        {{data.sr_num?data.sr_num:'-'}}
                     </td>
                     <td>
                        {{data.company_name?data.company_name:'-'}}
                     </td>
                     <td *ngIf="settings.aawak.condition_id"
                        [ngClass]="{'marked': data.condition && !data.condition_id}">
                        {{data.condition_hin?data.condition_hin:'-'}}
                     </td>
                     <td>{{data.item_detail?data.item_detail:'-'}}</td>
                     <td>{{data.description?data.description:'-'}}</td>
                     <td [ngClass]="{'marked': !data.qty || !data.unit_id}">{{data.qty?data.qty:'-'}}
                        {{data.unit_short?data.unit_short:'-'}} <br />
                        @{{data.rate?data.rate:0}} ={{data.actual_amt?data.actual_amt:0}}
                     </td>
                     <td [ngClass]="{'marked': !data.aj_type_id}">
                        {{data.aj_type_hin}}
                     </td>
                     <td>{{data.isbill?'true':'false'}}</td>
                     <td [ngClass]="{'marked': data.nimitt && !data.nimitt_id}">
                        {{data.nimitt_hin}} ({{data.nimitt_state_hin}})
                     </td>
                     <td [ngClass]="{'marked': !data.dept_id}">
                        {{data.dept?data.dept:'-'}}
                     </td>
                  </tr>
                  <ng-container *ngIf="data.jawak_detail.length > 0">
                     <tr class="ribbon-box">
                        <td style="border: none;"></td>
                        <td colspan="12" class="sub-row">
                           <table class="card-body" style="width: 99.7%;table-layout: fixed;">
                              <tr>
                                 <th>No.</th>
                                 <th>Date</th>
                                 <th>Pkt No</th>
                                 <th>कहा भेजा</th>
                                 <th>किसको दिया</th>
                                 <th>Description</th>
                                 <th>जवाक प्रकार</th>
                                 <th>परिमाण</th>
                                 <th>जवाक केटेगरी</th>
                                 <th style="width:0px;">
                                    <div class="ribbon ribbon-secondary text-light float-end"> Destribution
                                    </div>
                                 </th>
                              </tr>
                              <tr *ngFor="let jwk of data.jawak_detail; let j = index;"
                                 [ngClass]="{'marked': !jwk.valid}">
                                 <td style="width: 80px;">
                                    <i class="uil-corner-down-right"></i>
                                    <span class="mx-1">{{j+1}}</span>
                                 </td>
                                 <td [ngClass]="{'marked': !jwk.date}">{{jwk.date}}</td>
                                 <td>{{jwk.pkt_num}}</td>
                                 <td [ngClass]="{'marked': !jwk.aj_mm_id}">{{jwk.aj_mm_hin}}</td>
                                 <td [ngClass]="{'marked': jwk.nimitt && !jwk.nimitt_id}">{{data.nimitt_hin}}
                                    ({{data.nimitt_state_hin}}) </td>
                                 <td>{{jwk.description}}</td>
                                 <td [ngClass]="{'marked': !jwk.aj_type_id}">{{jwk.aj_type_hin}}</td>
                                 <td [ngClass]="{'marked': !jwk.qty || !data.unit_id}">{{jwk.qty}}
                                    {{data.unit_short?data.unit_short:'-'}}
                                 </td>
                                 <td [ngClass]="{'marked': jwk.usage_category && !data.usage_category_id}">
                                    {{jwk.usage_category}}</td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </ng-container>
               </ng-container>
            </tbody>
            <tfoot>
               <pagination-controls class="pagi text-center" (pageChange)="page = $event" [autoHide]="true">
               </pagination-controls>
            </tfoot>
         </table>
      </div>

   </div>

</div>