<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> Processing Batch... </p>
</ngx-spinner>

<div class="row material-theme-container" id="hmpEntryComponent">
    <div class="card-body">
        <form id="hmpEntryForm" #f="ngForm">
            <div class="row mb-2"></div>

            <!-- Top Section: Batch & Recipe Info -->
            <div class="row mb-3">
                <div class="col-md-2">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" [(ngModel)]="fs.hmpBatchForm.date" name="date" required>
                </div>
                <div class="col-md-2">
                    <label class="form-label">MM</label>
                    <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="true"
                        [virtualScroll]="true" [(ngModel)]="fs.hmpBatchForm.mm_id" #mm_id="ngModel"
                        [ngClass]="{ 'validation': (mm_id?.touched || f.submitted) && mm_id.errors?.['required']}"
                        required>
                        <ng-option selected="selected" disabled value="">MM</ng-option>
                        <ng-option *ngFor="let item of mms | filterByDate:fs.hmpBatchForm.date" [value]="item._id">
                            {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                    </ng-select>
                </div>

                <!-- Recipe Selection -->
                <div class="col-md-4">
                    <label class="form-label">Recipe</label>
                    <ng-select class="custom mb-1" [(ngModel)]="fs.hmpBatchForm.recipe_id" name="recipe_id"
                        (change)="onRecipeSelect($event)" [addTag]="true" placeholder="Select or Type New Recipe"
                        required>
                        <ng-option *ngFor="let item of recipes" [value]="item._id">
                            {{item.recipe_name}} - ({{item.Description}})
                        </ng-option>
                    </ng-select>
                    <input *ngIf="fs.hmpBatchForm.recipe_name && !fs.hmpBatchForm.recipe_id" type="text"
                        class="form-control" placeholder="Description" [(ngModel)]="fs.hmpBatchForm.recipe_description"
                        name="recipe_description">
                </div>
                <div class="col-md-4 text-center">
                    <div class="d-flex">
                        <button class="btn-sm btn-secondary submit" (click)="fs.reset();">Cancel</button>
                        <button class="btn-sm btn-primary submit mx-2" (click)="onSubmit()">Submit</button>
                        <div class="submit form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="fs.hmpBatchForm.update_recipe"
                                name="update_recipe" id="updateRecipe">
                            <label class="form-check-label" for="updateRecipe">
                                Save Recipe
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Split View: Inputs & Outputs -->
            <div class="row mb-3">

                <!-- Left: Inputs (Consumption) -->
                <!-- <div class="col-md-6 border-end"> -->
                <h5 class="text-secondary">Input Materials (Consumed)</h5>
                <div class="table-container">
                    <table class="table table-sm table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th width="5%">#</th>
                                <!-- <th width="15%">Lot</th> -->
                                <th width="35%">Item</th>
                                <th width="15%">Qty</th>
                                <th width="15%">Rate</th>
                                <th width="15%">Condition</th>
                                <th width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ngModelGroup="in_{{i}}" #rowInput="ngModelGroup"
                                *ngFor="let row of fs.hmpBatchForm.inputs; let i = index">
                                <td>{{i+1}}</td>
                                <td>
                                    <ng-select appendTo="#hmpEntryForm" class="custom" style="width: 100%;"
                                        placeholder="Select Item" [clearable]="true" [virtualScroll]="true"
                                        [(ngModel)]="row.item_subitem_id" #item_subitem_id="ngModel"
                                        (change)="itemSubitemSelected($event, i, 'inputs')"
                                        [ngClass]="{'validation' : (item_subitem_id?.touched || f.submitted) && item_subitem_id.errors?.['required']}"
                                        [selectOnTab]="true" required styleMode="material">

                                        <ng-container *ngFor="let item of items | filterByDate:fs.hmpBatchForm.date">
                                            <ng-option [value]="item._id">
                                                {{item.item_hin}} : {{item.item_eng}} : {{item.item_code}}
                                            </ng-option>

                                            <ng-option
                                                *ngFor="let subitem of item.subitems | filterByDate:fs.hmpBatchForm.date"
                                                [value]="item._id + ':' + subitem._id">
                                                {{subitem.subitem_hin}} {{item.item_hin}} :
                                                {{subitem.subitem_eng}} {{item.item_eng}} :
                                                {{subitem.subitem_code}} {{item.item_code}}
                                            </ng-option>
                                        </ng-container>
                                    </ng-select>
                                </td>
                                <!-- Qty & Unit -->
                                <td>
                                    <div class="d-flex align-items-center">
                                        <input type="number" class="form-control-sm flex-fill" [(ngModel)]="row.qty"
                                            name="in_qty_{{i}}">
                                        <!-- <span> -->
                                        <ng-select appendTo="#hmpEntryForm" class="custom-sm border mw-3"
                                            [items]="units" bindLabel="unit_short" bindValue="_id"
                                            [(ngModel)]="row.unit_id" name="in_unit_{{i}}" [clearable]="false"
                                            placeholder="Unit"></ng-select>
                                        <!-- </span> -->
                                    </div>
                                </td>

                                <!-- Rate -->
                                <td>
                                    <input type="number" class="form-control form-control-sm" [(ngModel)]="row.rate"
                                        name="in_rate_{{i}}">
                                </td>
                                <!-- Condition -->
                                <td>
                                    <ng-select appendTo="#hmpEntryForm" class="custom-sm" [(ngModel)]="row.condition_id"
                                        name="in_condition_{{i}}" [clearable]="false" placeholder="Select Condition">
                                        <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                                        <ng-option *ngFor="let item of conditions"
                                            [value]="item._id">{{item.list_name_hin}} :
                                            {{item.list_name_eng}} </ng-option>
                                    </ng-select>
                                </td>
                                <!-- Delete Action -->
                                <td class="text-center">
                                    <button *ngIf="row.item_subitem_id && fs.hmpBatchForm.inputs.length > 1"
                                        type="button" class="btn btn-sm btn-danger" (click)="deleteRow('inputs', i)"
                                        title="Delete this row" style="padding: 0.2rem 0.5rem; border-radius: 4px;">
                                        <i class="uil uil-times"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <!-- Right: Outputs (Production) -->
            <div class="row">
                <h5 class="text-primary">Output Products (Produced)</h5>
                <div class="table-container">
                    <table class="table table-sm table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th width="5%">#</th>
                                <th width="35%">Item</th>
                                <th width="15%">Qty</th>
                                <th width="15%">Rate</th>
                                <th width="15%">Condition</th>
                                <th width="5%">Action</th>
                                <!-- <th width="20%">Amount</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ngModelGroup="out_{{i}}" #rowOutput="ngModelGroup"
                                *ngFor="let row of fs.hmpBatchForm.outputs; let i = index">
                                <td>{{i+1}}</td>
                                <!-- Item Dropdown -->
                                <td>
                                    <!-- <ng-select appendTo="body" class="custom-sm" [clearable]="true" [virtualScroll]="true"
                                        [(ngModel)]="row.item_subitem_id" name="out_item_{{i}}"
                                        (change)="itemSubitemSelectedOutput($event, i)" placeholder="Item">
                                        <ng-container *ngFor="let item of items">
                                            <ng-option [value]="item._id + ':'">{{item.item_hin}}</ng-option>
                                            <ng-option *ngFor="let sub of item.subitems"
                                                [value]="item._id + ':' + sub._id">
                                                -- {{sub.subitem_hin}}
                                            </ng-option>
                                        </ng-container>
                                    </ng-select> -->
                                    <ng-select appendTo="#hmpEntryForm" class="custom" style="width: 100%;"
                                        placeholder="Select Item" [clearable]="true" [virtualScroll]="true"
                                        [(ngModel)]="row.item_subitem_id" name="out_item_{{i}}"
                                        #item_subitem_id="ngModel" (change)="itemSubitemSelected($event, i, 'outputs')"
                                        [ngClass]="{'validation' : (item_subitem_id?.touched || f.submitted) && item_subitem_id.errors?.['required']}"
                                        [selectOnTab]="true" required [showSelectAll]="false" styleMode="material">

                                        <ng-container *ngFor="let item of items | filterByDate:fs.hmpBatchForm.date">
                                            <ng-option [value]="item._id + ':' + null">
                                                {{item.item_hin}} : {{item.item_eng}} : {{item.item_code}}
                                            </ng-option>

                                            <ng-option
                                                *ngFor="let subitem of item.subitems | filterByDate:fs.hmpBatchForm.date"
                                                [value]="item._id + ':' + subitem._id">
                                                {{subitem.subitem_hin}} {{item.item_hin}} :
                                                {{subitem.subitem_eng}} {{item.item_eng}} :
                                                {{subitem.subitem_code}} {{item.item_code}}
                                            </ng-option>
                                        </ng-container>
                                    </ng-select>
                                </td>
                                <!-- Qty & Unit -->
                                <td>
                                    <div class="d-flex align-items-center">
                                        <input type="number" class="form-control-sm flex-fill" [(ngModel)]="row.qty"
                                            name="in_qty_{{i}}">
                                        <!-- <span> -->
                                        <ng-select appendTo="#hmpEntryForm" class="custom-sm border mw-3"
                                            [items]="units" bindLabel="unit_short" bindValue="_id"
                                            [(ngModel)]="row.unit_id" name="out_unit_{{i}}" [clearable]="false"
                                            placeholder="Unit"></ng-select>
                                        <!-- </span> -->
                                    </div>
                                </td>



                                <!-- Rate -->
                                <td>
                                    <input type="number" class="form-control form-control-sm" [(ngModel)]="row.rate"
                                        name="out_rate_{{i}}">
                                </td>

                                <!-- Condition -->
                                <td>
                                    <ng-select appendTo="#hmpEntryForm" class="custom-sm" [(ngModel)]="row.condition_id"
                                        name="out_condition_{{i}}" [clearable]="false" placeholder="Select Condition">
                                        <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                                        <ng-option *ngFor="let item of conditions"
                                            [value]="item._id">{{item.list_name_hin}} :
                                            {{item.list_name_eng}} </ng-option>
                                    </ng-select>
                                </td>
                                <!-- Delete Action -->
                                <td class="text-center">
                                    <button *ngIf="row.item_subitem_id && fs.hmpBatchForm.outputs.length > 1"
                                        type="button" class="btn btn-sm btn-danger" (click)="deleteRow('outputs', i)"
                                        title="Delete this row" style="padding: 0.2rem 0.5rem; border-radius: 4px;">
                                        <i class="uil uil-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- </div> -->

            <!-- Bottom Actions -->
            <!-- <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <button class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
                    <button class="btn btn-primary" (click)="onSubmit()">Save Batch</button>
                </div>
            </div> -->

        </form>
    </div>
</div>