<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row border-bottom border-secondary">
               <div class="card-body" style="overflow: auto;">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" onclick="$('#showModal').modal('show')"
                           (click)="showModal = 'Add PBK'">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add PBK
                        </button>
                     </div>
                     <div class="col-4">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-success w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                           Advance Filter <i class="dripicons-chevron-down"> </i>
                        </button>
                     </div>

                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{pbkData.length}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        <form #filterForm="ngForm">
                           <div class="row">
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Roll No.</label>
                                    <input type="number" class="form-control" placeholder="Roll No."
                                       [(ngModel)]="filterBody.roll_no" name="roll_no">
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Gender"
                                       [clearable]="true" [virtualScroll]="true" name="gender" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.gender" #gender="ngModel">
                                       <ng-option *ngFor="let item of genders" [value]="item.list_name_eng">
                                          {{item.list_name_hin}} : {{item.list_name_eng}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">State</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                       [clearable]="true" [virtualScroll]="true" name="state" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.state_id" #state="ngModel">
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} :
                                          {{item.state_eng}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">City</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select City"
                                       [clearable]="true" [virtualScroll]="true" name="city" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.city_id" #city="ngModel">
                                       <ng-option *ngFor="let item of cities" [value]="item._id">
                                          {{item.city_hin}} :
                                          {{item.city_eng}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Daily Class MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Daily Class MM"
                                       [clearable]="true" [virtualScroll]="true" name="class_mm" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.class_mm_id" #class_mm="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">भट्टी कब की? (साल)</label>
                                    <input type="number" class="form-control" placeholder="भट्टी कब की? (साल)"
                                       name="bhatti_year" [(ngModel)]="filterBody.bhatti_year" #bhatti_year="ngModel">
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3 text-center">
                                 <button class="btn btn-primary submit mx-2" type="submit"
                                    (click)="getPbkData()">Submit</button>

                                 <button class="btn btn-outline-secondary submit mx-2" type="button"
                                    (click)="filterBody = {
                                       bhatti_year: null,
                                       city: [],
                                       class_mm: [],
                                       gender: [],
                                       roll_no: null,
                                       state: []
                                     };">Clear All</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="pbkData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width: 80px;">No.</th>
                           <th style="width: 70px;">Manage</th>
                           <th style="width: 100px;">Image</th>
                           <th style="width: 85px;">Roll No.</th>
                           <th style="width: 200px;">Name (Hin-Eng)</th>
                           <th style="width: 200px;">Relative Names</th>
                           <th style="width: 100px;">Gender</th>
                           <th style="width: 101px;">DOB/Age</th>
                           <th style="width: 100px;">Status</th>
                           <th style="width: 215px;">Address</th>
                           <th style="width: 200px;">Townarea</th>
                           <th style="width: 125px;">State</th>
                           <th style="width: 100px;">City</th>
                           <th style="width: 115px;">Mobile No.</th>
                           <th style="width: 100px;">Daily Class MM</th>
                           <th style="width: 101px;">भट्टी कब की?</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of pbkData | filter:term; let i=index">
                           <td style="font-size: large;">
                              {{i+1}}<br>
                              <span style="font-size: x-large;position: relative;line-height: 28px; cursor:pointer;"
                                 (click)="protectionToggle(data._id, data.active)">
                                 <i *ngIf="auth.webUser.dept_id == 1 && data.active" data-toggle="tooltip"
                                    title="Protected" class="uil-shield-check text-warning"></i>
                                 <i *ngIf="auth.webUser.dept_id == 1 && !data.active" data-toggle="tooltip"
                                    title="Unprotected" class="uil-shield-slash text-danger"></i>
                              </span>
                           </td>
                           <td>
                              <button *ngIf="auth.webUser.dept_id == 1 || !data.active"
                                 class="btn btn-sm btn-primary mb-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button><br>
                              <button *ngIf="auth.webUser.dept_id == 1 || !data.active" class="btn btn-sm btn-danger"
                                 type="button" (click)="delete(i,data._id)">
                                 <i class="uil-trash"></i></button>
                              <span *ngIf="auth.webUser.dept_id != 1 && data.active" data-toggle="tooltip"
                                 title="Protected" class="text-warning mx-1"
                                 style="font-size: xx-large;cursor: pointer;line-height: 0px;">
                                 <i class="uil-shield-check"></i>
                              </span>
                           </td>
                           <td>
                              <img *ngIf="data.document && data.document.images"
                                 [src]="baseurl + data.document.images[0]" height="60px"
                                 style="padding: 5px; border-radius: 15px;">
                           </td>
                           <td>{{data.roll_no ? data.roll_no : '______'}} </td>
                           <td>{{data.pbk_hin}} <br> {{data.pbk_eng}}</td>
                           <td>{{data.relation}}<br>{{data.relative_name}}</td>
                           <td>{{data.gender}}</td>
                           <td>{{data.birth_date | date:'dd-MM-yyyy'}}
                              <br>{{data.age?'Age : '+data.age:'-'}}
                           </td>
                           <td>{{data.status}}</td>
                           <td>{{data.address?data.address:'-'}}</td>
                           <td>{{data.townarea?data.townarea:'-'}}</td>
                           <td>{{data.state_hin}} <br> {{data.state_eng}}</td>
                           <td>{{data.city_hin}} <br> {{data.city_eng}}</td>
                           <!-- <td>{{data.tempaddress}}</td> -->
                           <!-- <td>{{data.district}}</td>
                              <td>{{data.country}}</td> -->
                           <td>{{data.mo_no?data.mo_no:'-'}}</td>
                           <td>
                              {{data.mm_hin?data.mm_hin :'-'}} <br> {{data.mm_eng?data.mm_eng :''}} <br>
                              {{data.mm_code?data.mm_code:''}}
                           </td>
                           <td>{{data.bhatti_date | date:'dd-MM-yyyy'}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- AddPbk Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <!-- Add PBK -->
            <app-pbk-entry *ngIf="showModal == 'Add PBK'" (response)='addPbkResponse($event)'></app-pbk-entry>

            <!-- Edit PBK -->
            <app-pbk-entry *ngIf="showModal == 'Edit PBK'" (response)='editPbkResponse($event)' [getData]="editData"
               [isEdit]="true"></app-pbk-entry>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>