.insurance{
   background-color: #9c9c9c81;
   padding: 3px;
   text-align: center;
}

.puc{
   background-color: #68ba5185;
   padding: 3px;
   text-align: center;
}

.rc{
   background-color: #b7681880;
   padding: 3px;
   text-align: center;
}
thead > .insurance{
   color: #dddddd;
}

thead > .puc{
   color: #05ff00;
}

thead > .rc{
   color: #ff8500;
}

.warning{
   color: #ff8100;
   font-weight: bold;
   border: 1px solid;
}

.error{
   color: #ff0000;
   font-weight: bolder;
   font-size: large;
   border: 2px solid;
}