.insurance {
   background-color: #9c9c9c81;
   padding: 3px;
   text-align: center;
   cursor: pointer;
}

.puc {
   background-color: #68ba5185;
   padding: 3px;
   text-align: center;
   cursor: pointer
}

.rc {
   background-color: #b7681880;
   padding: 3px;
   text-align: center;
   cursor: pointer
}

thead>.insurance {
   color: #dddddd;
   cursor: default;
}

thead>.puc {
   color: #05ff00;
   cursor: default;
}

thead>.rc {
   color: #ff8500;
   cursor: default;
}

.warning {
   color: #ff8100;
   font-weight: bold;
   border: 1px solid;
}

.error {
   color: #ff0000;
   font-weight: bolder;
   font-size: large;
   border: 2px solid;
}