<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row border-bottom border-secondary">
               <div class="card-body">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary w-100" (click)="openModal('Add Vehicle', 'full')"
                           *ngIf="settings.vehicle.add">
                           <i class="dripicons-plus h4 icon-mx-2"> </i>Add Vehicle
                        </button>
                     </div>
                     <div class="col-3">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>

                     <div class="col-2">
                        <ng-select class="custom w-100" style="width: 100%;" placeholder="Filter MM" [clearable]="true"
                           [virtualScroll]="true" (change)="mmSelected($event)">
                           <ng-option *ngFor="let item of mms" [value]="item._id">{{item.mm_hin}} :
                              {{item.mm_eng}} ({{item.mm_code}})</ng-option>
                        </ng-select>
                     </div>
                     <!-- <div class="col-2">
                        <ng-select class="custom w-100" style="width: 100%;" placeholder="Filter Department"
                           [clearable]="true" [virtualScroll]="true" (change)="mmDeptSelected($event)">
                           <ng-option *ngFor="let item of departments" [value]="item._id">{{item.dept_eng}} :
                              {{item.dept_code}}</ng-option>
                        </ng-select>
                     </div> -->
                     <div class="col-3">
                        <div class="d-flex justify-content-between">
                           <button class="btn btn-outline-success mr-1" (click)="exportToExcel()">Export To
                              Excel</button>
                           <button class="btn btn-outline-info" (click)="openModal('Excel Import')">Import
                              Excel</button>
                        </div>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{total_count}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="vehData.length">
               <div class="row">

               </div>
               <pagination-controls class="pagi text-end" (pageChange)="page = $event" [autoHide]="true">
               </pagination-controls>
               <div class="card-body" style="overflow: auto;">
                  <table class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width: 60px;">No.</th>
                           <th style="width: 120px;">Manage</th>
                           <th style="width: 150px;">MM</th>
                           <th style="width: 150px;">Vehicle Type</th>
                           <th style="width: 100px;">Gadi Name</th>
                           <th style="width: 100px;">Gadi No.</th>
                           <th style="width: 150px;">Fuel Type</th>
                           <th style="width: 100px;">Seating Capacity</th>
                           <th style="width: 130px;">Owner Name</th>
                           <th style="width: 200px;">Nominee</th>
                           <th style="width: 150px;">Aawak Type</th>
                           <!-- <th style="width: 200px;">RC</th>
                           <th style="width: 200px;">RC Exp.</th>
                           <th style="width: 200px;">RC Amount</th>
                           <th style="width: 200px;">Insurance</th>
                           <th style="width: 200px;">Insurance Exp.</th>
                           <th style="width: 200px;">Insurance Type</th>
                           <th style="width: 200px;">Insurance Company</th>
                           <th style="width: 200px;">Insurance Ammount</th>
                           <th style="width: 200px;">PUC</th>
                           <th style="width: 200px;">PUC Exp.</th>
                           <th style="width: 200px;">PUC Amount</th> -->
                        </tr>
                     </thead>
                     <tbody class="accordion">
                        <ng-container class="accordion-item"
                           *ngFor="let data of vehData | search:term | paginate: {itemsPerPage: itemsPerPage, currentPage: page}; let i=index">
                           <tr>
                              <td rowspan="2" style="font-size: large;">
                                 {{itemsPerPage * (page-1) + i+1}}
                                 <!-- <span class="mx-1" style="font-size: x-large;position: relative;;line-height: 28px;"
                                    (click)="protectionToggle(data._id, data.active)">
                                    <i *ngIf="[1,6].includes(auth.webUser.dept_id) && data.active" data-toggle="tooltip"
                                       title="Protected" class="uil-shield-check text-warning"></i>
                                    <i *ngIf="[1,6].includes(auth.webUser.dept_id) && !data.active" data-toggle="tooltip"
                                       title="Unprotected" class="uil-shield-slash text-danger"></i>
                                 </span> -->
                              </td>
                              <td>
                                 <div *ngIf="[1,6].includes(auth.webUser.dept_id)">
                                    <button class="btn btn-sm btn-primary mx-1" type="button"
                                       (click)="edit(data,'full')"><i class="uil uil-pen"></i></button>
                                    <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                          class="uil-trash"></i></button>
                                 </div>
                              </td>
                              <td>{{data.mm_hin}}:{{data.mm_eng}}-{{data.mm_code}}</td>
                              <td>{{data.vehicle_type ? data.vehicle_type:''}}</td>
                              <td>{{data.gadi_name}}</td>
                              <td>{{data.gadi_num}}</td>
                              <td>{{data.fuel_type}}</td>
                              <td>{{data.seating_capacity}}</td>
                              <td>{{data.owner_name}}</td>
                              <td>{{data.nominee}}</td>
                              <td>{{data.aawak_type}}</td>
                           </tr>
                           <tr class="accordion-collapse collapse show " aria-labelledby="headingOne">
                              <td colspan="10">
                                 <div class="row">
                                    <table class="">
                                       <thead>
                                          <th style="width: 100px;" class="rc">RC Date</th>
                                          <th style="width: 100px;" class="rc">RC Exp.</th>
                                          <th style="width: 100px;" class="rc">RC Amt.</th>
                                          <th style="width: 100px;" class="insurance">Ins.. Date</th>
                                          <th style="width: 100px;" class="insurance">Ins.. Exp.</th>
                                          <th style="width: 100px;" class="insurance">Ins.. Type</th>
                                          <th style="width: 100px;" class="insurance">Ins.. Company</th>
                                          <th style="width: 100px;" class="insurance">Ins.. Amt.</th>
                                          <th style="width: 100px;" class="puc">PUC Date</th>
                                          <th style="width: 100px;" class="puc">PUC Exp.</th>
                                          <th style="width: 100px;" class="puc">PUC Amt.</th>
                                       </thead>
                                       <tr>

                                          <td class="rc" (click)="edit(data,'rc')">{{data.rc_date | date: 'dd-MM-yyyy'}}
                                          </td>
                                          <td class="rc" (click)="edit(data,'rc')"
                                             [class]="{'warning':data.rc_warning, 'error':data.rc_error}">
                                             {{data.rc_exp_date | date: 'dd-MM-yyyy'}}</td>
                                          <td class="rc" (click)="edit(data,'rc')">{{data.rc_amount}}</td>

                                          <td class="insurance" (click)="edit(data,'ins')">{{data.insurance_date | date:
                                             'dd-MM-yyyy'}}</td>
                                          <td class="insurance" (click)="edit(data,'ins')"
                                             [class]="{'warning':data.insurance_warning, 'error':data.insurance_error}">
                                             {{data.insurance_exp_date | date: 'dd-MM-yyyy'}}</td>
                                          <td class="insurance" (click)="edit(data,'ins')">{{data.insurance_type}}</td>
                                          <td class="insurance" (click)="edit(data,'ins')">{{data.insurance_company}}
                                          </td>
                                          <td class="insurance" (click)="edit(data,'ins')">{{data.insurance_amount}}
                                          </td>

                                          <td class="puc" (click)="edit(data,'puc')">{{data.puc_date | date:
                                             'dd-MM-yyyy'}}</td>
                                          <td class="puc" (click)="edit(data,'puc')"
                                             [class]="{'warning':data.puc_warning, 'error':data.puc_error}">
                                             {{data.puc_exp_date | date: 'dd-MM-yyyy'}}</td>
                                          <td class="puc" (click)="edit(data,'puc')">{{data.puc_amount}}</td>
                                       </tr>
                                    </table>
                                 </div>
                              </td>
                           </tr>
                        </ng-container>

                     </tbody>
                  </table>
               </div>
               <pagination-controls class="pagi text-center" (pageChange)="page = $event" [autoHide]="true">
               </pagination-controls>
            </div>

            <h2 class="text-center m-5" *ngIf="!vehData.length">No Data!</h2>
         </div>
      </div>
   </div>
</div>



<!-- addVehicle Modal -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" (click)="showModal= ''" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-vehicle-entry *ngIf="showModal == 'Add Vehicle'" [mode]="mode"
               (response)='addVehicleResponse($event)'></app-vehicle-entry>

            <app-vehicle-entry *ngIf="showModal == 'Edit Vehicle'" (response)='editVehicleResponse($event)'
               [getData]="editData" [mode]="mode" [isEdit]="true"></app-vehicle-entry>
               
            <app-excel-import *ngIf="showModal == 'Excel Import'" importType="vehicle"></app-excel-import>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>