.excel-row {
    box-shadow: 0px 0px 4px 2px #39d150;
}

.db-row {
    box-shadow: 0px 0px 4px 2px #395ad1;
}

.marked {
    font-weight: 800;
    color: #fff;
    border: 0.5px solid #da2534;
    // background-color: #f0a8ae;
    box-shadow: 0px 0px 4px 2px #da2534;
}

.btn-sync{
    // box-shadow: 0px 0px 7px 4px #16bc97 !important;
    -webkit-box-shadow: 0px 0px 10px 4px #16bc97 !important;
    -moz-box-shadow: 0px 0px 10px 4px #16bc97 !important;
    box-shadow: 0px 0px 10px 4px #16bc97 !important;
}