.stock {
   border: 0.5px solid #4bb464;
}

.error {
   font-weight: bold;
   color: red;
   border:solid 1px red;
}

.sub-row {
   background-color: #4956f108;
}

.main-row {
   background-color: #4e5af421;
    color: #fff;
}

.file {
   position: relative;
   overflow: hidden;
}

.inputtag {
   position: absolute;
   // font-size: 50px;
   opacity: 0;
   right: 0;
   top: 0;
}