<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> Processing... </p>
</ngx-spinner>

<div class="row" id="bunchPbkClosingComponent">
    <div class="card-body">
        <form #fMain="ngForm">
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" [(ngModel)]="fs.pbkClosingFormMain.date" name="date"
                            required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Sewadhari</label>
                        <div class="float-end">
                            <!-- Filter Button with Popover -->
                            <app-popover-filter [iconClass]="'uil uil-filter'" (clear)="stateSelected(null)"
                                triggerOn="hover">
                                <div class="mb-2">
                                    <label class="form-label"
                                        style="font-size: 0.875rem; margin-bottom: 5px;">State</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                                        [selectOnTab]="true" [clearable]="true" [virtualScroll]="true"
                                        (change)="stateSelected($event)">
                                        <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                                        </ng-option>
                                        <ng-option *ngFor="let item of states" [value]="item._id">
                                            {{item.state_hin}} : {{item.state_eng}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </app-popover-filter>
                            <!-- <a type="button" *ngIf="settings.pbk.add" style="padding: 1px 6px !important;"
                                class="btn btn-outline-primary" (click)="openModal('Add PBK')">
                                + PBK
                            </a> -->
                        </div>

                        <ng-select class="custom" style="width: 100%;" [clearable]="true" [virtualScroll]="true"
                            [(ngModel)]="fs.pbkClosingFormMain.pbk_id" name="pbk_id" #pbk_id="ngModel"
                            [selectOnTab]="true" (change)="pbkSelected($event)"
                            [ngClass]="{ 'validation': (pbk_id?.touched || fMain.submitted) && pbk_id.errors?.['required']}"
                            placeholder="Select Roll no. or Pbk name" required>
                            <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                            </ng-option>
                            <ng-option *ngFor="let item of pbks" [value]="item._id">
                                {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} : {{item.relation}} :
                                {{item.relative_name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary" (click)="submit()">Submit Closing</button>
                </div>
            </div>

            <div class="row" *ngIf="fs.pbkClosingFormMain.pbk_closings.length > 0">
                <div class="card card-body" style="font-size: smaller; overflow: auto; flex-direction: column;">
                    <div class="table-container" appHorizontalScrollWithArrows>
                        <table class="table table-bordered table-sticky-header table-centered mb-0"
                            style="width: max-content;">
                            <thead>
                                <tr>
                                    <th class="mw-15">Item</th>
                                    <th class="mw-6">Condition</th>
                                    <th class="mw-10">मौजूद बचत</th>
                                    <th class="mw-6">पिछली बचत</th>
                                    <th class="mw-6">
                                        <input type="checkbox" class="form-check-input" id="customCheckcolor2"
                                            [(ngModel)]="fs.pbkClosingFormMain.auto_jawak">
                                        अंतर (Auto Jawak)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of fs.pbkClosingFormMain.pbk_closings; let i = index">
                                    <td>
                                        <app-item-dropdown size="sm" 
                                            [items]="items"
                                            [(itemId)]="row.item_id"
                                            [(subitemId)]="row.subitem_id"
                                            (change)="itemSubitemSelected($event, i)"
                                            [required]="true" appendTo="#bunchPbkClosingComponent"
                                            [readonly]="!!row.pbk_bachat_id">
                                        </app-item-dropdown>
                                    </td>
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;" placeholder="item condition"
                                            appendTo="#bunchPbkClosingComponent" [(ngModel)]="row.condition_id"
                                            name="cond_{{i}}" [disabled]="row.pbk_bachat_id" [clearable]="false">
                                            <ng-option selected="selected" disabled value="">Select
                                                Condition</ng-option>
                                            <ng-option *ngFor="let item of conditions"
                                                [value]="item._id">{{item.list_name_hin}} : {{item.list_name_roman}} :
                                                {{item.list_name_eng}} </ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="Quantity"
                                                [(ngModel)]="row.qty" name="qty_{{i}}" (change)="qtyChanged(i)"
                                                [ngClass]="{'validation' : ((qty?.touched || fMain.submitted) && qty.errors?.['required'])}"
                                                #qty="ngModel" required>
                                            <span class="input-group-text ml-1 border border-secondary"
                                                style="padding: 0px; min-width: 40%;background: #252932;">
                                                <ng-select class="custom" style="width: 100%;" placeholder="Unit"
                                                    [clearable]="true" [virtualScroll]="true" [(ngModel)]="row.unit_id"
                                                    name="unit_id_{{i}}" #unit_id="ngModel" [selectOnTab]="true"
                                                    [ngClass]="{'validation' : (unit_id?.touched || fMain.submitted) && unit_id.errors?.['required']}"
                                                    appendTo="#bunchPbkClosingComponent" [disabled]="row.pbk_bachat_id"
                                                    required>
                                                    <ng-option selected="selected" disabled value="">Unit</ng-option>
                                                    <ng-option *ngFor="let item of units"
                                                        [value]="item._id">{{item.unit_short}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>

                                    </td>
                                    <td class="text-center">{{row.sw_bachat}}</td>
                                    <td class="text-center"
                                        [ngClass]="{'text-danger': row.difference < 0, 'text-success': row.difference > 0}">
                                        {{row.difference}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="fs.pbkClosingFormMain.pbk_id && fs.pbkClosingFormMain.pbk_closings.length === 0 && !isLoader">
                <div class="col-12 text-center text-muted mt-5">
                    No bachat records found. Start adding items above.
                </div>
            </div>
        </form>
    </div>



    <!-- Show Model -->
    <div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Images</h5>
                    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add PBK -->
                    <app-pbk-entry *ngIf="showModal == 'Add PBK'" (response)='pbkAddResponse($event)'>
                    </app-pbk-entry>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 120px;"
                        (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>