<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: white"> Processing... </p>
</ngx-spinner>

<div class="row" id="bunchPbkClosingComponent">
    <div class="card-body">
        <form #fMain="ngForm">
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" [(ngModel)]="fs.pbkClosingFormMain.date" name="date"
                            required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Select PBK</label>
                        <ng-select class="custom" style="width: 100%;" [items]="pbks" bindLabel="pbk_hin"
                            bindValue="_id" [(ngModel)]="fs.pbkClosingFormMain.pbk_id" name="pbk_id"
                            (change)="pbkSelected()" placeholder="Search PBK" required>
                            <ng-template ng-option-tmp let-item="item">
                                {{item.pbk_hin}} : {{item.pbk_eng}} ({{item.roll_no}})
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary" (click)="submit()">Submit Closing</button>
                </div>
            </div>

            <div class="row" *ngIf="fs.pbkClosingFormMain.pbk_closings.length > 0">
                <div class="card card-body" style="font-size: smaller; overflow: auto; flex-direction: column;">
                    <div class="table-container" style=" padding-bottom: 250px;" appHorizontalScrollWithArrows>
                        <table class="table table-bordered table-sticky-header table-centered mb-0"
                            style="width: max-content;">
                            <thead>
                                <tr>
                                    <th class="mw-15">Item</th>
                                    <th class="mw-10">मौजूद बचत</th>
                                    <th class="mw-6">Condition</th>
                                    <th class="mw-6">बचत होनी चाहिए</th>
                                    <th class="mw-6">अंतर ('Rejected')</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of fs.pbkClosingFormMain.pbk_closings; let i = index">
                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;"
                                            placeholder="Select Item Subitem" [clearable]="true" [virtualScroll]="true"
                                            [(ngModel)]="row.item_subitem_id" name="item_subitem_id_{{i}}"
                                            #item_subitem_id="ngModel" (change)="itemSubitemSelected($event, i)"
                                            [ngClass]="{'validation' : (item_subitem_id?.touched || fMain.submitted) && item_subitem_id.errors?.['required']}"
                                            [selectOnTab]="true" [disabled]="row.pbk_bachat_id" required>

                                            <ng-container
                                                *ngFor="let item of items | filterByDate:fs.pbkClosingFormMain.date">
                                                <ng-option [value]="item._id + ':'">
                                                    {{item.item_hin}} : {{item.item_eng}} : {{item.item_code}}
                                                </ng-option>

                                                <ng-option
                                                    *ngFor="let subitem of item.subitems | filterByDate:fs.pbkClosingFormMain.date"
                                                    [value]="item._id + ':' + subitem._id">
                                                    {{subitem.subitem_hin}} {{item.item_hin}} :
                                                    {{subitem.subitem_eng}} {{item.item_eng}} :
                                                    {{subitem.subitem_code}} {{item.item_code}}
                                                </ng-option>
                                            </ng-container>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="Quantity"
                                                [(ngModel)]="row.qty" name="qty_{{i}}" (change)="qtyChanged(i)"
                                                #qty="ngModel"
                                                [ngClass]="{'validation' : ((qty?.touched || fMain.submitted) && qty.errors?.['required'])}"
                                                required>
                                            <span class="input-group-text ml-1 border border-secondary"
                                                style="padding: 0px; min-width: 40%;background: #252932;">
                                                <ng-select class="custom" style="width: 100%;" placeholder="Unit"
                                                    [clearable]="true" [virtualScroll]="true" [(ngModel)]="row.unit_id"
                                                    name="unit_id_{{i}}" #unit_id="ngModel"
                                                    [ngClass]="{'validation' : (unit_id?.touched || fMain.submitted) && unit_id.errors?.['required']}"
                                                    [selectOnTab]="true" [disabled]="row.pbk_bachat_id" required>
                                                    <ng-option selected="selected" disabled value="">Unit</ng-option>
                                                    <ng-option *ngFor="let item of units"
                                                        [value]="item._id">{{item.unit_short}}</ng-option>
                                                </ng-select>
                                            </span>
                                        </div>

                                    </td>

                                    <td>
                                        <ng-select class="custom-sm" style="width: 100%;" [items]="conditions"
                                            bindLabel="list_name_hin" bindValue="_id" [(ngModel)]="row.condition_id"
                                            name="cond_{{i}}" [disabled]="row.pbk_bachat_id"
                                            [clearable]="false"></ng-select>
                                    </td>
                                    <td class="text-center">{{row.sw_bachat}}</td>
                                    <td class="text-center"
                                        [ngClass]="{'text-danger': row.difference < 0, 'text-success': row.difference > 0}">
                                        {{row.difference}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="fs.pbkClosingFormMain.pbk_id && fs.pbkClosingFormMain.pbk_closings.length === 0 && !isLoader">
                <div class="col-12 text-center text-muted mt-5">
                    No bachat records found. Start adding items above.
                </div>
            </div>
        </form>
    </div>
</div>