<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> मैं आत्मा शांत स्वरूप हूँ । </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row" *ngIf="jawakData.length">
               <div class="card-body" style="overflow: auto;">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <button class="btn btn-primary" (click)="openModal('Add Jawak')">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add Jawak
                        </button>
                     </div>
                     <div class="col-4">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-success w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i
                              class="uil-search-plus h4 icon-mx-2"></i> Advance Search
                        </button>
                     </div>

                     <div class="col-2">
                        <!-- <button type="button" class="btn btn-outline-success dropdown-toggle mx-2"
                           data-bs-toggle="dropdown" aria-expanded="false"> Export To Excel </button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" (click)="exportExcel()">Jawak Only</a>
                           <a class="dropdown-item" (click)="exportAJData()">Distribution</a>
                           <a class="dropdown-item" (click)="exportAawakData()">Aawak Only</a>
                           <a class="dropdown-item" (click)="exportPendingData()">Pending Destribution</a>
                        </div> -->
                        <button type="button" class="btn btn-outline-success" (click)="exportExcel()"> Export To Excel
                        </button>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;" class="btn btn-light w-100">Total
                           Count : {{total_count}}
                           <!-- {{productData? productData.length:''}} -->
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        <form #filterForm="ngForm">
                           <div class="row">
                              <div class="col-md-3 mb-2">
                                 <div class="form-group">
                                    <label class="form-label">Month-Year</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Year"
                                       (change)="months = gs.yearChangedGetMonth($event)" [clearable]="true"
                                       [virtualScroll]="true" [(ngModel)]="filterBody.year" name="year">
                                       <ng-option selected="selected" disabled value="">Select Year
                                       </ng-option>
                                       <ng-option *ngFor="let item of gs.years" [value]="item">{{item}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Month"
                                       [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.month"
                                       name="month">
                                       <ng-option selected="selected" disabled value="">Select Month
                                       </ng-option>
                                       <ng-option *ngFor="let item of months" [value]="item.m">{{item.m}} :
                                          {{item.name}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3" *ngIf="settings.jawak.pbk_id">
                                 <div class="form-group">
                                    <label class="form-label">Sewadhari</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                                       [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                                       <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                                       </ng-option>
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;"
                                       placeholder="Select Roll no. or Pbk name" [clearable]="false"
                                       [virtualScroll]="true" [multiple]="true" [(ngModel)]="filterBody.pbk_id"
                                       name="pbk_id" [closeOnSelect]="false">
                                       <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                                       </ng-option>
                                       <ng-option *ngFor="let item of pbks" [value]="item._id">
                                          {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} :
                                          {{item.relation}} :
                                          {{item.relative_name}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Item & Subitem</label>
                                    <app-item-dropdown [items]="items" [(ngModel)]="selectedItemmix" [multiple]="true"
                                       [closeOnSelect]="false" name="itemmix_ids"
                                       placeholder="Select Item & Subitem"></app-item-dropdown>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3" *ngIf="settings.jawak.condition_id">
                                 <div class="form-group">
                                    <label class="form-label">Category & Condition</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Category"
                                       [clearable]="true" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.usage_list_id"
                                       name="usage_list_id">
                                       <ng-option selected=" selected" disabled value="">Select Category</ng-option>
                                       <ng-option *ngFor="let item of categories"
                                          [value]="item._id">{{item.category_hin}} :
                                          {{item.category_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Condition"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.condition_id" name="condition_id"
                                       *ngIf="settings.jawak.condition_id">
                                       <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                                       <ng-option *ngFor="let item of conditions" [value]="item._id">
                                          {{item.list_name_hin}} :
                                          {{item.list_name_eng}} </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Date & Pkt No</label>
                                    <input type="date" class="form-control" [(ngModel)]="filterBody.date" name="date">
                                    <input type="text" class="form-control mt-1" placeholder="Pkt No."
                                       [(ngModel)]="filterBody.pkt_num" name="pkt_num">
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">State & MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                       [clearable]="true" [virtualScroll]="true" name="mm_states" [multiple]="true"
                                       [closeOnSelect]="true" [(ngModel)]="filterBody.mm_states" #state="ngModel">
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="MM"
                                       [clearable]="true" [virtualScroll]="true" name="mm_id" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.mm_id" #mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">State & Jawak MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select State"
                                       [clearable]="true" [virtualScroll]="true" name="jwk_mm_states" [multiple]="true"
                                       [closeOnSelect]="true" [(ngModel)]="filterBody.jwk_mm_states" #state="ngModel">
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1 " style="width: 100%;" placeholder="Jawak MM"
                                       [clearable]="true" [virtualScroll]="true" name="jawak_mm_id" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.jawak_mm_id"
                                       #jawak_mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Jawak Type & Zone</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Jawak Type"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.jawak_type_id"
                                       name="jawak_type_id">
                                       <ng-option selected="selected" disabled value="">Jawak Type
                                       </ng-option>
                                       <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                                          {{item.list_name_hin}} : {{item.list_name_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Zone"
                                       [clearable]="true" [virtualScroll]="true" [(ngModel)]="filterBody.zone_id"
                                       [multiple]="true" [closeOnSelect]="false" name="zone_id">
                                       <ng-option selected="selected" disabled value="">Select Zone</ng-option>
                                       <ng-option *ngFor="let item of zones" [value]="item._id">
                                          {{item.zone_hin}} : {{item.zone_eng}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-2 mb-3" *ngIf="settings.jawak.nimitt_id">
                                 <div class="form-group">
                                    <label class="form-label">Nimitt</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Nimitt"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.nimitt_id" name="nimitt_id">
                                       <ng-option selected="selected" disabled value="">Nimitt
                                       </ng-option>
                                       <ng-option *ngFor="let item of nimitts" [value]="item._id">
                                          {{item.nimitt_hin}} : {{item.nimitt_eng}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3 text-center">
                                 <button class="btn btn-primary submit mx-2" type="submit"
                                    (click)="getJawakData(1)">Submit</button>

                                 <button class="btn btn-outline-secondary submit mx-2" type="button" (click)="filterBody = {
                                       date:null,
                                       month: null,
                                       year: null,
                                       pbk_id: [],
                                       mm_id: [],
                                       zone_id: [],
                                       jawak_mm_id: [],
                                       jawak_type_id: [],
                                       product_id: [],
                                       item_id: [],
                                       subitem_id: [],
                                       condition_id: [],
                                       usage_list_id: [],
                                       nimitt_id: null,
                                       pkt_num: null
                                     }; selectedItemmix = [];">Clear All</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>


            <!-- Jawak Table -->
            <div class="row" *ngIf="jawakData.length">
               <div class="card-body" style="overflow: auto;">

                  <div class="row">
                     <div class="col-4 pt-2">
                        <span class="badge year-box"
                           [ngClass]="{'badge-outline-danger':!isDeleting, 'bg-danger': isDeleting}"
                           (click)="deleteMultiple()"
                           title="Click for multiple delete selection & click same again to perform delete.">Delete
                           Multiple</span>
                     </div>
                     <div class="col-8" *ngIf="jawakData.length">
                        <pagination-controls class="pagi text-end" (pageChange)="getJawakData(page=$event)"
                           [autoHide]="true">
                        </pagination-controls>
                     </div>
                  </div>
                  <div class="table-container" appHorizontalScrollWithArrows>
                     <table id="datatable-buttons" class="table table-hover dt-responsive table-sticky-header">
                        <thead>
                           <tr>
                              <th style="width: 25px;" *ngIf="isDeleting">
                                 <div class="form-check form-checkbox-danger mb-2">
                                    <input type="checkbox" class="form-check-input" id="customCheckcolor5"
                                       (change)="deleteSelectAll()">
                                 </div>
                              </th>
                              <th style="width: 40px;">No.</th>
                              <th style="width: 100px;">Manage</th>
                              <th style="width: 150px;">
                                 <div class="d-flex align-items-center justify-content-between" title="Show unlinked only">
                                    <span>Ref. Aawak</span>
                                    <input type="checkbox" style="width: 12px; height: 12px; margin-left: 4px; cursor: pointer;" 
                                          [(ngModel)]="filterBody.unlinkedOnly" (change)="getJawakData(page=1)"
                                          title="Check to show only unlinked jawaks">
                                 </div>
                              </th>
                              <th style="width: 150px;" *ngIf="!settings.defaultMM">MM</th>
                              <th style="width: 70px;" *ngIf="settings.jawak.pkt_num">Pkt No</th>
                              <th style="width: 101px;">Date</th>
                              <th style="width: 300px;">कहाँ / किसको भेजा </th>
                              <th style="width: 150px;">Category</th>
                              <th style="width: 250px;">Item - Subitem</th>
                              <!-- <th style="width: 200px;" *ngIf="settings.jawak.product_id">Product</th> -->
                              <th style="width: 150px;" *ngIf="settings.jawak.condition_id">Condition</th>
                              <th style="width: 150px;">Quantity</th>
                              <th style="width: 150px;">Aawak Source</th>
                              <th style="width: 150px;">Jawak Type</th>
                              <th style="width: 150px;">Usage List</th>
                              <th style="width: 150px;">parchi Kaha Shown</th>
                              <th style="width: 150px;">Kaha Repaired / Becha</th>
                              <th style="width: 200px;" *ngIf="settings.jawak.item_detail">Item Detail</th>
                              <th style="width: 200px;" *ngIf="settings.jawak.description">Description</th>
                              <th style="width: 100px;" *ngIf="settings.jawak.nimitt_id">Nimitt</th>
                              <th style="width: 120px;" *ngIf="settings.jawak.enz">Container Capacity</th>
                              <th style="width: 250px;" *ngIf="settings.jawak.usage_report">Usage Report</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr
                              *ngFor="let data of jawakData | search:term | paginate:{itemsPerPage:itemsPerPage,currentPage:page,totalItems:total_count}; let i=index">
                              <td *ngIf="isDeleting">
                                 <div class="form-check form-checkbox-danger mb-2">
                                    <input type="checkbox" [(ngModel)]="data.delete" class="form-check-input"
                                       (change)="deleteSelection(i, data._id)">
                                    <!-- <label class="form-check-label" for="customCheckcolor5">Danger Checkbox</label> -->
                                 </div>
                              </td>
                              <td>{{itemsPerPage * (page-1) + i+1}}</td>
                              <td>
                                 <button class="btn-xs btn-primary me-1" type="button" (click)="edit(data)"><i
                                       class="uil uil-pen"></i></button>
                                 <button class="btn-xs btn-danger" type="button" (click)="delete(i,data._id)"><i
                                       class="uil-trash"></i></button>
                              </td>
                              <td>
                                 <app-aawak-ref-dropdown [mmId]="data.mm_id" [maxDate]="data.date"
                                    [deptId]="auth.webUser.dept_id" [filterObj]="{
                                        item_id: data.item_id,
                                        subitem_id: data.subitem_id,
                                        condition_id: data.condition_id,
                                        aawak_source_id: data.aawak_source_id
                                    }" [(ngModel)]="data.aawak_ref_id" [autoSave]="true" [jawakId]="data._id"
                                    (saved)="onAawakRefSaved($event, i)" mode="tiny" size="sm">
                                 </app-aawak-ref-dropdown>
                              </td>
                              <td *ngIf="!settings.defaultMM">
                                 <span>{{data.mm_hin}} {{data.mm_code ? '('+data.mm_code+')': ''}}</span> <br />
                                 <small class="text-muted">{{data.mm_eng}}</small>
                              </td>
                              <td *ngIf="settings.jawak.pkt_num">{{data.pkt_num?data.pkt_num:'-'}}</td>
                              <td>{{data.date | date:'dd-MM-yyyy'}}</td>
                              <td>
                                 <div *ngIf="data.pbk_id">
                                    <span>{{data.roll_no ? data.roll_no : '___'}} - {{data.pbk_hin}}</span> <br />
                                    <small class="text-muted">{{data.relation ? data.relation : ''}}
                                       {{data.relative_name ? " - "+data.relative_name: ''}}</small>
                                 </div>
                                 <div *ngIf="data.jawak_mm_id">
                                    <span>{{data.jawak_mm_hin}} {{data.jawak_mm_code ? "("+data.jawak_mm_code+")" :
                                       ''}}</span> <br />
                                    <small class="text-muted">{{data.jawak_mm_eng}}</small>
                                 </div>
                              </td>
                              <td>
                                 <ng-container
                                    *ngIf="(data.scategories?.length > 0 ? data.scategories : data.icategories) as activeCats">
                                    <div *ngIf="activeCats?.length > 0; else noCat">
                                       <span>{{ activeCats | joinObj:'category_hin' }}</span>
                                       <br />
                                       <small class="text-muted">{{ activeCats | joinObj:'category_eng'
                                          }}</small>
                                    </div>
                                    <ng-template #noCat>-</ng-template>
                                 </ng-container>
                              </td>
                              <td>
                                 <span>{{data.item_hin}} {{data.subitem_id ? ' : ' + data.subitem_hin : ''}}</span>
                                 <br />
                                 <small class="text-muted">{{data.item_eng}} {{data.subitem_id ? ' : ' +
                                    data.subitem_eng : ''}}</small>
                              </td>
                              <!-- <td *ngIf="settings.jawak.product_id">
                                 <span *ngIf="!data.product_id">-</span>
                                 {{data.sr_num ? data.sr_num : ''}} <br />
                                 {{data.product_code ? data.product_code : ''}}
                              </td> -->
                              <td *ngIf="settings.jawak.condition_id">
                                 <div *ngIf="data.condition_id">
                                    <span>{{data.condition_hin}}</span> <br />
                                    <small class="text-muted">{{data.condition_eng}}</small>
                                 </div>
                              </td>
                              <td>
                                 {{data.qty}} {{data.unit_short}} <br />
                                 {{data.rate ? '@'+data.rate + ' = '+ data.actual_amt : ''}}
                              </td>
                              <td>
                                 <span>{{data.aawak_source_hin}}</span><br />
                                 <small class="text-muted">{{data.aawak_source_eng}}</small>
                              </td>
                              <td>
                                 <span>{{data.jawak_type_hin}}</span><br />
                                 <small class="text-muted">{{data.jawak_type_eng}}</small>
                              </td>
                              <td>{{data.usage_list_id ? data.usage_list_hin : ''}}<br />
                                 {{data.category_eng}}</td>
                              <td>{{data.parchi_place ? data.parchi_place: ''}}</td>
                              <td>{{data.sell_repair_place ? data.sell_repair_place: ''}}</td>
                              <td *ngIf="settings.jawak.item_detail">{{data.item_detail?data.item_detail:'-'}}</td>
                              <td *ngIf="settings.jawak.description">{{data.description?data.description:'-'}}</td>
                              <td *ngIf="settings.jawak.nimitt_id">{{data.nimitt_id?data.nimitt_hin:'-'}}</td>
                              <td *ngIf="settings.jawak.enz">{{data.enz.container_capacity?data.enz.container_capacity +
                                 "
                                 ltr":'-'}}</td>
                              <td>
                                 <div *ngIf="data.usage_report?.date" class="usage-report-detailed">
                                    <div class="rating-reporter-line">
                                       <span class="star" *ngFor="let star of [1,2,3,4,5]"
                                          [class.filled]="star <= data.usage_report.rating">★</span>
                                       <span class="reporter">{{data.usage_report.reporter}}</span>
                                       <small class="date">{{data.usage_report.date
                                          | date:'dd/MM/yyyy'}}</small>
                                    </div>
                                    <div *ngIf="data.usage_report.fayda" class="text-success">😊
                                       {{data.usage_report.fayda}}</div>
                                    <div *ngIf="data.usage_report.nuksan" class="text-danger">😢
                                       {{data.usage_report.nuksan}}</div>
                                 </div>
                                 <span *ngIf="!data.usage_report?.date">-</span>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

               </div>
               <pagination-controls class="pagi text-center" (pageChange)="getJawakData(page=$event)" [autoHide]="true">
               </pagination-controls>
            </div>

            <h2 class="text-center m-5" *ngIf="!jawakData.length">No Data!</h2>
         </div>
      </div>
   </div>
</div>



<!-- Add Jawak Entry Model -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 98%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" class="btn-close" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-jawak-entry-new (response)='addJawakResponse($event)'
               *ngIf="showModal == 'Add Jawak'"></app-jawak-entry-new>

            <app-jawak-entry (response)='editJawakResponse($event)' *ngIf="showModal == 'Edit Jawak'"
               [getData]="editData" isEdit="true">
            </app-jawak-entry>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>


<!-- Edit Aawak Entry Model -->
<!-- <div class="modal fade" id="editAawakEntry" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Aawak Entry</h5>
            <button type="button" onclick="$('#editAawakEntry').modal('hide')" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-aawak-entry (response)='editJawakResponse($event)'>
            </app-aawak-entry>
         </div>
      </div>
   </div>
</div> -->