<ngx-spinner *ngIf="isLoader" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple"
   [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Begin page -->
<div class="wrapper">
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">

            <!-- First Row -->
            <!-- Add Button, Search Field, Filter button, Total Count -->
            <div class="row">
               <div class="card-body" style="overflow: auto;">
                  <div class="row d-flex justify-content-between">
                     <div class="col-2">
                        <!-- <button class="btn btn-primary" (click)="openModal('Add Jawak')">
                           <i class="dripicons-plus" style="font-size: large;"> </i>Add Jawak
                        </button> -->
                     </div>
                     <div class="col-5">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"
                              name="search">
                        </div>
                     </div>
                     <div class="col-2">
                        <button class="btn btn-outline-success w-100" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample" aria-expanded="false"
                           aria-controls="collapseExample">Advance Filter <i class="dripicons-chevron-down"> </i>
                        </button>
                     </div>
                     <div class="col-2">
                        <button type="button" style="font-weight: 700 !important;"
                           class="btn btn-light  float-end">Total
                           Count : {{total_count}}
                           <!-- {{productData? productData.length:''}} -->
                        </button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- fliter collapse -->
            <div class="collapse" id="collapseExample">
               <div class="card card-body">
                  <div class="row">
                     <div class="card-body">
                        <form #filterForm="ngForm">
                           <div class="row">
                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Pkt No.</label>
                                    <input type="text" class="form-control" placeholder="Pkt No."
                                       [(ngModel)]="filterBody.pkt_num" name="pkt_num">
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Sewadhari</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Filter PBK by State"
                                       [clearable]="true" [virtualScroll]="true" (change)="stateSelected($event)">
                                       <ng-option selected="selected" disabled value="">Select State to Filter Pbk
                                       </ng-option>
                                       <ng-option *ngFor="let item of states" [value]="item._id">
                                          {{item.state_hin}} : {{item.state_eng}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;"
                                       placeholder="Select Roll no. or Pbk name" [clearable]="false"
                                       [virtualScroll]="true" [multiple]="true" [(ngModel)]="filterBody.pbk_id"
                                       name="pbk_id" [closeOnSelect]="false">
                                       <ng-option selected="selected" disabled value="">Select Roll no. or Pbk name
                                       </ng-option>
                                       <ng-option *ngFor="let item of pbks" [value]="item._id">
                                          {{item.roll_no ? item.roll_no : '______'}} - {{item.pbk_hin}} :
                                          {{item.relation}} :
                                          {{item.relative_name}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Item & Subitem</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Item"
                                       [clearable]="false" [virtualScroll]="true" [(ngModel)]="filterBody.item_id"
                                       (change)="itemSelected($event)" [multiple]="true" name="item_id"
                                       [closeOnSelect]="false">
                                       <ng-option selected="selected" disabled value="">Select Item</ng-option>
                                       <ng-option *ngFor="let item of items" [value]="item._id">{{item.item_hin}} :
                                          {{item.item_eng}} : {{item.item_code}}</ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select SubitemList"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [(ngModel)]="filterBody.subitem_id" name="subitem_id">
                                       <ng-option selected="selected" disabled value="">Select Subitem</ng-option>
                                       <ng-option *ngFor="let item of subitems" [value]="item._id">{{item.subitem_hin}}
                                          :
                                          {{item.subitem_eng}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Product & Condition</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Select Product"
                                       [clearable]="true" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.product_id" name="product_id"
                                       (change)="productSelected($event)">
                                       <ng-option selected="selected" disabled value="">Select Product</ng-option>
                                       <ng-option *ngFor="let item of products" [value]="item._id">{{item.item_hin}} :
                                          {{item.subitem_hin}}
                                          : {{item.product_code ? item.product_code : ''}} : {{item.sr_num ? item.sr_num
                                          : ''}}
                                       </ng-option>
                                    </ng-select>
                                    <ng-select class="custom mt-1" style="width: 100%;" placeholder="Select Condition"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.condition_id"
                                       name="condition_id">
                                       <ng-option selected="selected" disabled value="">Select Condition</ng-option>
                                       <ng-option *ngFor="let item of conditions" [value]="item._id">
                                          {{item.list_name_hin}} :
                                          {{item.list_name_eng}} </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="MM" [clearable]="true"
                                       [virtualScroll]="true" name="mm_id" [multiple]="true" [closeOnSelect]="false"
                                       [(ngModel)]="filterBody.mm_id" #mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Jawak MM</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Jawak MM"
                                       [clearable]="true" [virtualScroll]="true" name="jawak_mm_id" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.jawak_mm_id"
                                       #jawak_mm_id="ngModel">
                                       <ng-option *ngFor="let item of mms" [value]="item._id">
                                          {{item.mm_hin}}:{{item.mm_eng}} : {{item.mm_code}}</ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Jawak Type</label>
                                    <ng-select class="custom" style="width: 100%;" placeholder="Jawak Type"
                                       [clearable]="false" [virtualScroll]="true" [multiple]="true"
                                       [closeOnSelect]="false" [(ngModel)]="filterBody.jawak_type_id"
                                       name="jawak_type_id">
                                       <ng-option selected="selected" disabled value="">Jawak Type
                                       </ng-option>
                                       <ng-option *ngFor="let item of jawak_types" [value]="item._id">
                                          {{item.list_name_hin}} : {{item.list_name_eng}}
                                       </ng-option>
                                    </ng-select>
                                 </div>
                              </div>

                              <div class="col-md-3 mb-3">
                                 <div class="form-group">
                                    <label class="form-label">Nimmit</label>
                                    <input type="text" class="form-control" placeholder="Nimmit"
                                       [(ngModel)]="filterBody.nimmit" name="nimmit">
                                 </div>
                              </div>
                              <div class="col-md-3 mb-3 text-center">
                                 <button class="btn btn-primary submit mx-2" type="submit"
                                    (click)="filterFormSubmit(filterForm.value)">Submit</button>

                                 <button class="btn btn-outline-secondary submit mx-2" type="reset"
                                    (click)="filterForm.reset()">Clear All</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>


            <!-- Jawak Table -->
            <div class="row" *ngIf="jawakData.length">
               <div class="card-body" style="overflow: auto;">
                  <table id="datatable-buttons" class="table table-hover dt-responsive">
                     <thead>
                        <tr>
                           <th style="width: 40px;">No.</th>
                           <th style="width: 80px;">Manage</th>
                           <th style="width: 150px;" *ngIf="auth.webUser.dept_id != 2">MM</th>
                           <th style="width: 70px;">Pkt No</th>
                           <th style="width: 101px;">Date</th>
                           <th style="width: 150px;">Jawak MM</th>
                           <th style="width: 200px;" *ngIf="auth.webUser.dept_id != 3">PBK</th>
                           <th style="width: 150px;">Item - Subitem</th>
                           <th style="width: 200px;" *ngIf="auth.webUser.dept_id != 3">Product</th>
                           <th style="width: 100px;">Quantity</th>
                           <th style="width: 120px;">Jawak Type</th>
                           <th style="width: 200px;">Item Detail</th>
                           <th style="width: 200px;">Description</th>
                           <th style="width: 100px;">Nimmit</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let data of jawakData | filter:term; let i=index">
                           <td>{{i+1}}</td>
                           <td>
                              <button class="btn btn-sm btn-primary mb-1" type="button" (click)="edit(data)"><i
                                    class="uil uil-pen"></i></button>
                              <button class="btn btn-sm btn-danger" type="button" (click)="delete(i,data._id)"><i
                                    class="uil-trash"></i></button>
                           </td>
                           <td *ngIf="auth.webUser.dept_id != 2">
                              {{data.mm_hin}} {{data.mm_code ? '('+data.mm_code+')': ''}}<br />
                              {{data.mm_eng}}
                           </td>
                           <td>{{data.pkt_num}}</td>
                           <td>{{data.date | date:'yyyy-MM-dd'}}</td>
                           <td>
                              {{data.jawak_mm_hin}}<br />
                              {{data.jawak_mm_eng}}
                           </td>
                           <td *ngIf="auth.webUser.dept_id != 3">
                              {{data.pbk_hin}} <br />
                              {{data.relation}} {{data.pbk_id ? " - "+data.relative_name: ''}}
                           </td>
                           <td>
                              {{data.item_hin}} {{data.subitem_id ? ' : ' + data.subitem_hin : ''}} <br />
                              {{data.item_eng}} {{data.subitem_id ? ' : ' + data.subitem_eng : ''}}
                           </td>
                           <td *ngIf="auth.webUser.dept_id != 3">
                              {{data.sr_num ? data.sr_num : ''}} <br />
                              {{data.product_code ? data.product_code : ''}}
                              {{data.condition_id ? data.condition_hin + " : "+ data.condition_eng : ''}}
                           </td>
                           <td>
                              {{data.qty}} {{data.unit_short}}
                           </td>
                           <td>{{data.jawak_type_hin}}<br />
                              {{data.jawak_type_eng}}</td>
                           <td>{{data.item_detail}}</td>
                           <td>{{data.description}}</td>
                           <td>{{data.nimmit}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<!-- Add Aawak Entry Model -->
<div class="modal fade" id="showModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{showModal}}</h5>
            <button type="button" onclick="$('#showModal').modal('hide')" class="btn-close" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-jawak-entry (response)='addJawakResponse($event)' *ngIf="showModal == 'Add Jawak'"></app-jawak-entry>

            <app-jawak-entry (response)='editJawakResponse($event)' *ngIf="showModal == 'Edit Jawak'"
               [getData]="editData" isEdit="true">
            </app-jawak-entry>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="width: 120px;"
               onclick="$('#showModal').modal('hide')" (click)="showModal= ''">Close</button>
         </div>
      </div>
   </div>
</div>


<!-- Edit Aawak Entry Model -->
<!-- <div class="modal fade" id="editAawakEntry" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" style="width: 90%;">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Aawak Entry</h5>
            <button type="button" onclick="$('#editAawakEntry').modal('hide')" class="btn-close"
               aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <app-aawak-entry (response)='editJawakResponse($event)'>
            </app-aawak-entry>
         </div>
      </div>
   </div>
</div> -->